@import '../settings';
@import '../responsive';

> article {
    > div.max-width {
        @include max-width();

        > div {
            @include default-padding(1, 1, 0, 1);

            &.title {
                > h1 {
                    @include default-font($default-heading-font-scale);
                    @include set-font-title();
                    @include default-margin(0, 0, 0, 0);
                    @include default-padding(0);
                }
            }

            &.article {
                @include default-padding(0, 1, 1, 1);

                h2 {
                    @include default-font($default-heading-h2-font-scale);
                    @include set-font-title();
                }
            }
        }
    }
}

// Min size of body
> article, > div.loginView {
    $navigation-height: 60px;
    $article-height: (($default-box-spacing * 4) + 75px + $navigation-height);

    min-height: calc(80% - #{$article-height});
    @media all and (max-width: $screen-size-767) {
        min-height: 60%;
    }
}