.litepicker {
  font-size: 1em;
}

.litepicker {
  font-size: 1em;
}

> article > div.max-width {
  margin: 0 auto;
  width: 1400px;
}
@media all and (max-width: 1400px) {
  > article > div.max-width {
    width: 1200px;
  }
}
@media all and (max-width: 1200px) {
  > article > div.max-width {
    width: 1000px;
  }
}
@media all and (max-width: 1000px) {
  > article > div.max-width {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  > article > div.max-width {
    width: 100%;
  }
}
@media all and (max-width: 486px) {
  > article > div.max-width {
    width: 100%;
  }
}
> article > div.max-width > div {
  padding: 10px 10px 0px 10px;
}
@media all and (max-width: 1000px) {
  > article > div.max-width > div {
    padding: 9.68px 9.68px 0px 9.68px;
  }
}
@media all and (max-width: 767px) {
  > article > div.max-width > div {
    padding: 9.3px 9.3px 0px 9.3px;
  }
}
> article > div.max-width > div.title > h1 {
  font-size: 1.02rem;
  line-height: 1.275rem;
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 1000px) {
  > article > div.max-width > div.title > h1 {
    font-size: 0.98736rem;
    line-height: 1.2342rem;
  }
}
@media all and (max-width: 767px) {
  > article > div.max-width > div.title > h1 {
    font-size: 0.9486rem;
    line-height: 1.18575rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > article > div.max-width > div.title > h1 {
    font-size: 0.924324rem;
    line-height: 1.155405rem;
    font-weight: normal;
  }
}
@media all and (max-width: 1000px) {
  > article > div.max-width > div.title > h1 {
    margin: 0;
  }
}
@media all and (max-width: 767px) {
  > article > div.max-width > div.title > h1 {
    margin: 0;
  }
}
@media all and (max-width: 1000px) {
  > article > div.max-width > div.title > h1 {
    padding: 0;
  }
}
@media all and (max-width: 767px) {
  > article > div.max-width > div.title > h1 {
    padding: 0;
  }
}
> article > div.max-width > div.article {
  padding: 0px 10px 10px 10px;
}
@media all and (max-width: 1000px) {
  > article > div.max-width > div.article {
    padding: 0px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 767px) {
  > article > div.max-width > div.article {
    padding: 0px 9.3px 9.3px 9.3px;
  }
}
> article > div.max-width > div.article h2 {
  font-size: 1.02rem;
  line-height: 1.275rem;
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
@media all and (max-width: 1000px) {
  > article > div.max-width > div.article h2 {
    font-size: 0.98736rem;
    line-height: 1.2342rem;
  }
}
@media all and (max-width: 767px) {
  > article > div.max-width > div.article h2 {
    font-size: 0.9486rem;
    line-height: 1.18575rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > article > div.max-width > div.article h2 {
    font-size: 0.924324rem;
    line-height: 1.155405rem;
    font-weight: normal;
  }
}

> article, > div.loginView {
  min-height: calc(80% - 175px);
}
@media all and (max-width: 767px) {
  > article, > div.loginView {
    min-height: 60%;
  }
}

/*# sourceMappingURL=article-default.css.map */
