@import '../settings';
@import '../responsive';

> div {
    &.loginView {
        max-width: 600px;
        margin: 0 auto;
        @include default-padding(2, 1, 2, 1);

        @media all and (max-width: $screen-size-767) {
            max-width: 100%;
            margin: 0;
        }

        @media all and (max-width: $screen-size-486) {
            > form {
                > div.buttons {
                    @include default-margin(1, 0, 0, 0);
                    @include default-padding(0);

                    a {
                        display: block;
                    }
                }
            }
        }
    }
}