.litepicker {
  font-size: 1em;
}

.litepicker {
  font-size: 1em;
}

> div.loginView {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 10px 20px 10px;
}
@media all and (max-width: 1000px) {
  > div.loginView {
    padding: 19.36px 9.68px 19.36px 9.68px;
  }
}
@media all and (max-width: 767px) {
  > div.loginView {
    padding: 18.6px 9.3px 18.6px 9.3px;
  }
}
@media all and (max-width: 767px) {
  > div.loginView {
    max-width: 100%;
    margin: 0;
  }
}
@media all and (max-width: 486px) {
  > div.loginView > form > div.buttons {
    margin: 10px 0px 0px 0px;
    padding: 0;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > div.loginView > form > div.buttons {
    margin: 9.68px 0px 0px 0px;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > div.loginView > form > div.buttons {
    margin: 9.3px 0px 0px 0px;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > div.loginView > form > div.buttons {
    padding: 0;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > div.loginView > form > div.buttons {
    padding: 0;
  }
}
@media all and (max-width: 486px) {
  > div.loginView > form > div.buttons a {
    display: block;
  }
}

/*# sourceMappingURL=div-loginView.css.map */
