.litepicker {
  font-size: 1em;
}

.litepicker {
  font-size: 1em;
}

> footer {
  background: #2b2c2f;
}
> footer > div {
  margin: 0 auto;
  width: 1400px;
  color: white;
}
@media all and (max-width: 1400px) {
  > footer > div {
    width: 1200px;
  }
}
@media all and (max-width: 1200px) {
  > footer > div {
    width: 1000px;
  }
}
@media all and (max-width: 1000px) {
  > footer > div {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  > footer > div {
    width: 100%;
  }
}
@media all and (max-width: 486px) {
  > footer > div {
    width: 100%;
  }
}
> footer > div > div {
  padding: 10px 10px 10px 10px;
}
@media all and (max-width: 1000px) {
  > footer > div > div {
    padding: 9.68px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 767px) {
  > footer > div > div {
    padding: 9.3px 9.3px 9.3px 9.3px;
  }
}
> footer > div > div > ul > li {
  text-align: left;
}
> footer > div > div > ul > li > div > h2 {
  font-size: 0.85rem;
  line-height: 1.0625rem;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: left;
  color: white;
}
@media all and (max-width: 1000px) {
  > footer > div > div > ul > li > div > h2 {
    font-size: 0.8228rem;
    line-height: 1.0285rem;
  }
}
@media all and (max-width: 767px) {
  > footer > div > div > ul > li > div > h2 {
    font-size: 0.7905rem;
    line-height: 0.988125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > footer > div > div > ul > li > div > h2 {
    font-size: 0.77027rem;
    line-height: 0.9628375rem;
    font-weight: normal;
  }
}
@media all and (max-width: 1000px) {
  > footer > div > div > ul > li > div > h2 {
    margin: 0px 0px 9.68px 0px;
  }
}
@media all and (max-width: 767px) {
  > footer > div > div > ul > li > div > h2 {
    margin: 0px 0px 9.3px 0px;
  }
}
> footer > div > div > ul > li > div > h2 > a, > footer > div > div > ul > li > div > h2 > a:hover, > footer > div > div > ul > li > div > h2 > a:active, > footer > div > div > ul > li > div > h2 > a:visited, > footer > div > div > ul > li > div > h2 > a:focus {
  color: white;
}
> footer > div > div > ul > li > div > div {
  display: block;
  font-size: 0.68rem;
  line-height: 0.85rem;
  font-weight: normal;
}
@media all and (max-width: 1000px) {
  > footer > div > div > ul > li > div > div {
    font-size: 0.65824rem;
    line-height: 0.8228rem;
  }
}
@media all and (max-width: 767px) {
  > footer > div > div > ul > li > div > div {
    font-size: 0.6324rem;
    line-height: 0.7905rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > footer > div > div > ul > li > div > div {
    font-size: 0.616216rem;
    line-height: 0.77027rem;
    font-weight: normal;
  }
}
> footer > div > div > ul > li > div > div a, > footer > div > div > ul > li > div > div a:active, > footer > div > div > ul > li > div > div a:focus, > footer > div > div > ul > li > div > div a:visited, > footer > div > div > ul > li > div > div a:hover {
  color: white;
}

/*# sourceMappingURL=footer-header-boxes.css.map */
