@import '../settings';
@import '../responsive';

> footer {
    background: $footer-background-color;

    > div {
        @include max-width();
        color: white;

        > div {
            @include default-padding(1, 1, 1, 1); 

            > ul {
                > li {
                    text-align: left;

                    > div {
                        > h2 {
                            @include default-font($footer-title-font-scale);
                            @include default-margin(0, 0, 1, 0);
                            @include set-font-title();
                            text-align: left;
                            color: $footer-color;

                            > a {
                                &, &:hover, &:active, &:visited, &:focus {
                                    color: $footer-color;
                                }
                            }
                        }

                        > div {
                            display: block;
                            @include default-font($footer-font-scale);

                            a {
                                &, &:active, &:focus, &:visited, &:hover {
                                    color: $footer-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}