@use 'sass:math';

@import '../settings';
@import '../responsive';

> header {
    background: $partial-header-background-color;

    &.partial-header {
        > div {
            &.top {
                @include max-width;

                > div {
                    display: flex;
                    flex-direction: row;
                    @include default-padding(0, 1, 0, 1);

                    > div {
                        &.logo {
                            @include default-padding($partial-header-background-logo-padding-top-bottom-scale, 1, $partial-header-background-logo-padding-top-bottom-scale, 0);
                            display: flex;
                            flex: 1 auto;
                            justify-content: flex-start;

                            > a {
                                line-height: 0;

                                > img {
                                    // max-width: 250px;
                                    height: $partial-header-background-logo-height;
                                }
                            }

                            > div.menu {
                                display: none;

                                > a {
                                    > i {
                                        font-size: 28px;
                                        line-height: 28px;
                                        margin: 4px 8px 4px 0;
                                        color: black;
                                    }
                                }
                            }
                        }

                        &.cta {
                            @include default-padding(2, 1, 2, 0);
                            display: flex;
                            flex: 1 auto;
                            flex-direction: column;

                            > div {
                                &.call {
                                    height: $partial-header-background-logo-height * math.div(2, 3);
                                    text-align: right;
                                }

                                &.slogan {
                                    height: $partial-header-background-logo-height * math.div(1, 3);
                                    text-align: right;
                                }
                            }
                        }
                    }
                }

                @media all and (max-width: $screen-size-767) {
                    > div {
                        @include default-padding(0);

                        > div{
                            &.logo {
                                @include default-padding(0.25, 0, 0.25, 0);
                                display: flex;
                                flex: 1;
                                flex-direction: row;

                                align-items: center;
                                justify-content: center;
                                align-self: flex-start;

                                > div.menu {
                                    display: flex;
                                    flex: 0;
                                }

                                > a {
                                    display: flex;
                                    flex: 1;

                                    > img {
                                        height: $partial-header-mobile-logo-height;
                                    }
                                }
                            }

                            &.cta {
                                display: none;
                            }
                        }
                    }
                }
            }

            &.nav {
                background: $partial-header-navigation-background-color;

                > div {
                    @include max-width;

                    > div.mobile-close {
                        display: none;
                    }

                    > ul {
                        display: flex;
                        flex-direction: row;
                        flex: 1;
                        @include default-padding(0);
                        @include default-margin(0, 1, 0, 1);

                        > li {
                            display: flex;
                            flex: 0;
                            flex-direction: row;
                            list-style-type: none;
                            @include default-padding(0);
                            background: $partial-header-navigation-itemlist-background;
                            white-space: nowrap;
                            border-right: 1px solid $partial-header-navigation-itemlist-seperater-background;

                            > a {
                                &, &.focus, &.active, &.visited, &.hover {
                                    @include default-padding(1.5, 2, 1.5, 2);
                                    display: inline-block;

                                    > span {
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        @include default-font($partial-header-navigation-itemlist-font-size-scale);
                                        font-family: $partial-header-navigation-itemlist-font-family;
                                        font-weight: $partial-header-navigation-itemlist-font-weight;
                                        color: $partial-header-navigation-itemlist-color;
                                    }
                                }
                            }

                            &:hover {
                                background: $partial-header-navigation-itemlist-background-hover;
                            }

                            &.selected, &.selected:hover {
                                background: $partial-header-navigation-itemlist-background-selected;
                            }

                            &:first-child {
                                border-left: 1px solid $partial-header-navigation-itemlist-seperater-background;
                            }
                        }
                    }
                }

                @media all and (max-width: $screen-size-767) {
                    position: fixed;
                    display: none;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 250px;
                    background: red;
                    z-index: 99;
                    background: $partial-header-navigation-background-color;

                    &.show {
                        display: block;
                    }

                    > div {
                        max-width: initial;

                        > div.mobile-close {
                            display: block;
                            text-align: right;
                            @include default-padding(0, 1, 0, 1);

                            > a {
                                > i {
                                    color: $color-action;
                                    @include default-font(2.2);
                                }
                            }
                        }

                        > ul {
                            display: block;

                            > li, > li:first-child {
                                border-left: none;
                            }
                        }
                    }
                }
            }
        }
    }
}