@import '../settings';
@import '../responsive';

> section {
    &.partial-view-node-text {
        > div {
            @include max-width();
            min-height: 10px;

            > div {
                > div {
                    @include default-padding(1, 1, 0, 1);

                    &.title {
                        > h1 h2 {
                            @include default-font($default-heading-font-scale);
                            @include set-font-title();
                            @include default-margin(0, 0, 0, 0);
                        }
                    }

                    &.date-article {
                        @include default-font(0.8);
                        color: lighten($body-color, 10);
                        @include default-padding(0, 1, 0, 1);
                    }

                    &.article {
                        @include default-font();
                        @include default-padding(0, 1, 1, 1);
                        color: $body-color;

                        > ul {
                            &.flexboxes, &.boxes {
                                > li {
                                    > div {
                                        > div {
                                            > div, p {
                                                @include default-font();
                                                color: $body-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }

                @media all and (max-width: $screen-size-1400) {
                    max-width: 900px;
                }
                @media all and (max-width: 900px) {
                    max-width: 100%;
                }
            }

            @media all and (max-width: $screen-size-767) {
                min-height: 100px;
            }
        }
    }
}