.litepicker {
  font-size: 1em;
}

.litepicker {
  font-size: 1em;
}

> section.partial-latest-news > div {
  margin: 0 auto;
  width: 1400px;
  min-height: 350px;
}
@media all and (max-width: 1400px) {
  > section.partial-latest-news > div {
    width: 1200px;
  }
}
@media all and (max-width: 1200px) {
  > section.partial-latest-news > div {
    width: 1000px;
  }
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div {
    width: 100%;
  }
}
@media all and (max-width: 486px) {
  > section.partial-latest-news > div {
    width: 100%;
  }
}
> section.partial-latest-news > div > div > div {
  padding: 10px 10px 0px 10px;
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div > div > div {
    padding: 9.68px 9.68px 0px 9.68px;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div > div > div {
    padding: 9.3px 9.3px 0px 9.3px;
  }
}
> section.partial-latest-news > div > div > div.title > h2 {
  font-size: 1.02rem;
  line-height: 1.275rem;
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  margin: 0;
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div > div > div.title > h2 {
    font-size: 0.98736rem;
    line-height: 1.2342rem;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div > div > div.title > h2 {
    font-size: 0.9486rem;
    line-height: 1.18575rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.partial-latest-news > div > div > div.title > h2 {
    font-size: 0.924324rem;
    line-height: 1.155405rem;
    font-weight: normal;
  }
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div > div > div.title > h2 {
    margin: 0;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div > div > div.title > h2 {
    margin: 0;
  }
}
> section.partial-latest-news > div > div > div.date-article {
  font-size: 0.68rem;
  line-height: 0.85rem;
  font-weight: normal;
  padding: 0px 10px 0px 10px;
  color: #5e5e5e;
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div > div > div.date-article {
    font-size: 0.65824rem;
    line-height: 0.8228rem;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div > div > div.date-article {
    font-size: 0.6324rem;
    line-height: 0.7905rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.partial-latest-news > div > div > div.date-article {
    font-size: 0.616216rem;
    line-height: 0.77027rem;
    font-weight: normal;
  }
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div > div > div.date-article {
    padding: 0px 9.68px 0px 9.68px;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div > div > div.date-article {
    padding: 0px 9.3px 0px 9.3px;
  }
}
> section.partial-latest-news > div > div > div.article {
  font-size: 0.85rem;
  line-height: 1.0625rem;
  font-weight: normal;
  padding: 0px 10px 10px 10px;
  color: #444;
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div > div > div.article {
    font-size: 0.8228rem;
    line-height: 1.0285rem;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div > div > div.article {
    font-size: 0.7905rem;
    line-height: 0.988125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.partial-latest-news > div > div > div.article {
    font-size: 0.77027rem;
    line-height: 0.9628375rem;
    font-weight: normal;
  }
}
@media all and (max-width: 1000px) {
  > section.partial-latest-news > div > div > div.article {
    padding: 0px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div > div > div.article {
    padding: 0px 9.3px 9.3px 9.3px;
  }
}
@media all and (max-width: 767px) {
  > section.partial-latest-news > div {
    min-height: 100px;
  }
}

/*# sourceMappingURL=section-partial-latest-news.css.map */
