@import '../settings';
@import '../responsive';

> section {
    &.partial-latest-news {
        > div {
            @include max-width();
            min-height: 350px;

            > div {
                > div {
                    @include default-padding(1, 1, 0, 1);

                    &.title {
                        > h2 {
                            @include default-font($default-heading-font-scale);
                            @include set-font-title();
                            @include default-margin(0, 0, 0, 0);
                        }
                    }

                    &.date-article {
                        @include default-font(0.8);
                        @include default-padding(0, 1, 0, 1);
                        color: lighten($body-color, 10);
                    }

                    &.article {
                        @include default-font();
                        @include default-padding(0, 1, 1, 1);
                        color: $body-color;
                    }
                }
            }

            @media all and (max-width: $screen-size-767) {
                min-height: 100px;
            }
        }
    }
}
