.litepicker {
  font-size: 1em;
}

.litepicker {
  font-size: 1em;
}

> section.bookshelf > div {
  margin: 0 auto;
  width: 1400px;
}
@media all and (max-width: 1400px) {
  > section.bookshelf > div {
    width: 1200px;
  }
}
@media all and (max-width: 1200px) {
  > section.bookshelf > div {
    width: 1000px;
  }
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div {
    width: 100%;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div {
    width: 100%;
  }
}
> section.bookshelf > div > div > ul {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  padding: 0;
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div > div > ul {
    padding: 0;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div > div > ul {
    padding: 0;
  }
}
> section.bookshelf > div > div > ul > li {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: center;
}
> section.bookshelf > div > div > ul > li > div {
  padding: 15px 15px 15px 15px;
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div {
    padding: 14.52px 14.52px 14.52px 14.52px;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div {
    padding: 13.95px 13.95px 13.95px 13.95px;
  }
}
> section.bookshelf > div > div > ul > li > div > div {
  padding: 10px 0px 0px 0px;
  color: white;
  text-align: center;
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div {
    padding: 9.68px 0px 0px 0px;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div {
    padding: 9.3px 0px 0px 0px;
  }
}
> section.bookshelf > div > div > ul > li > div > div:first-child {
  padding: 0;
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div:first-child {
    padding: 0;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div:first-child {
    padding: 0;
  }
}
> section.bookshelf > div > div > ul > li > div > div.icon {
  font-size: 2.125rem;
  line-height: 2.65625rem;
  font-weight: normal;
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div.icon {
    font-size: 2.057rem;
    line-height: 2.57125rem;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div.icon {
    font-size: 1.97625rem;
    line-height: 2.4703125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.icon {
    font-size: 1.925675rem;
    line-height: 2.40709375rem;
    font-weight: normal;
  }
}
> section.bookshelf > div > div > ul > li > div > div.title {
  font-size: 1.02rem;
  line-height: 1.275rem;
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div.title {
    font-size: 0.98736rem;
    line-height: 1.2342rem;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div.title {
    font-size: 0.9486rem;
    line-height: 1.18575rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.title {
    font-size: 0.924324rem;
    line-height: 1.155405rem;
    font-weight: normal;
  }
}
> section.bookshelf > div > div > ul > li > div > div.text {
  font-size: 0.85rem;
  line-height: 1.0625rem;
  font-weight: normal;
}
@media all and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div.text {
    font-size: 0.8228rem;
    line-height: 1.0285rem;
  }
}
@media all and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div.text {
    font-size: 0.7905rem;
    line-height: 0.988125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.text {
    font-size: 0.77027rem;
    line-height: 0.9628375rem;
    font-weight: normal;
  }
}
> section.bookshelf > div > div > ul > li:nth-child(1) {
  background: #58ade7;
}
> section.bookshelf > div > div > ul > li:nth-child(2) {
  background: #65b4e9;
}
> section.bookshelf > div > div > ul > li:nth-child(3) {
  background: #73baeb;
}
> section.bookshelf > div > div > ul > li:nth-child(4) {
  background: #80c1ed;
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div {
    padding: 10px 10px 10px 10px;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div {
    padding: 9.68px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div {
    padding: 9.3px 9.3px 9.3px 9.3px;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div {
    padding: 10px 0px 0px 0px;
    color: white;
    text-align: center;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div {
    padding: 9.68px 0px 0px 0px;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div {
    padding: 9.3px 0px 0px 0px;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div:first-child {
    padding: 0;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div:first-child {
    padding: 0;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div:first-child {
    padding: 0;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.icon {
    font-size: 1.275rem;
    line-height: 1.59375rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div.icon {
    font-size: 1.2342rem;
    line-height: 1.54275rem;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div.icon {
    font-size: 1.18575rem;
    line-height: 1.4821875rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.icon {
    font-size: 1.155405rem;
    line-height: 1.44425625rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.title {
    font-size: 0.85rem;
    line-height: 1.0625rem;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div.title {
    font-size: 0.8228rem;
    line-height: 1.0285rem;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div.title {
    font-size: 0.7905rem;
    line-height: 0.988125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.title {
    font-size: 0.77027rem;
    line-height: 0.9628375rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.text {
    font-size: 0.68rem;
    line-height: 0.85rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) and (max-width: 1000px) {
  > section.bookshelf > div > div > ul > li > div > div.text {
    font-size: 0.65824rem;
    line-height: 0.8228rem;
  }
}
@media all and (max-width: 486px) and (max-width: 767px) {
  > section.bookshelf > div > div > ul > li > div > div.text {
    font-size: 0.6324rem;
    line-height: 0.7905rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) and (max-width: 486px) {
  > section.bookshelf > div > div > ul > li > div > div.text {
    font-size: 0.616216rem;
    line-height: 0.77027rem;
    font-weight: normal;
  }
}

/*# sourceMappingURL=section-bookshelf.css.map */
