@import '../settings';
@import '../responsive';

> section {
    &.bookshelf {
        > div {
            @include max-width();

            > div {
                > ul {
                    width: 100%;
                    display: block;
                    display: flex;
                    flex-direction: row;
                    @include default-padding(0);

                    > li {
                        list-style-type: none;
                        display: flex;
                        flex: 1;
                        justify-content: center;

                        > div {
                            @include default-padding(1.5);

                            > div {
                                @include default-padding(1, 0, 0, 0);
                                color: white;
                                text-align: center;

                                &:first-child {
                                    @include default-padding(0);
                                }

                                &.icon {
                                    @include default-font($section-bookshelf-icon-font-scale);
                                }

                                &.title {
                                    @include default-font($section-bookshelf-title-font-scale);
                                    @include set-font-title();
                                }

                                &.text {
                                    @include default-font();
                                }
                            }
                        }

                        &:nth-child(1) {
                            background: $section-bookshelf-background-darkest;
                        }

                        &:nth-child(2) {
                            background: lighten($section-bookshelf-background-darkest, 3);
                        }

                        &:nth-child(3) {
                            background: lighten($section-bookshelf-background-darkest, 6);
                        }

                        &:nth-child(4) {
                            background: lighten($section-bookshelf-background-darkest, 9);
                        }
                    }
                }

                @media all and (max-width: $screen-size-486) {
                    > ul {
                        > li {
                            > div {
                                @include default-padding(1);

                                > div {
                                    @include default-padding(1, 0, 0, 0);
                                    color: white;
                                    text-align: center;

                                    &:first-child {
                                        @include default-padding(0);
                                    }

                                    &.icon {
                                        @include default-font(1.5);
                                    }

                                    &.title {
                                        @include default-font(1);
                                        @include set-font-title();
                                    }

                                    &.text {
                                        @include default-font(0.8);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}