@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8gps4q');
  src:  url('fonts/icomoon.eot?8gps4q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8gps4q') format('truetype'),
    url('fonts/icomoon.woff?8gps4q') format('woff'),
    url('fonts/icomoon.svg?8gps4q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai:before {
  content: "\e918";
}
.icon-pointer:before {
  content: "\e917";
}
.icon-Color-scheme:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e914";
}
.icon-split:before {
  content: "\e912";
}
.icon-toggle:before {
  content: "\e911";
}
.icon-ideal:before {
  content: "\e910";
}
.icon-basket:before {
  content: "\e90f";
}
.icon-camas:before {
  content: "\e90d";
}
.icon-phone-squared:before {
  content: "\e90c";
}
.icon-home-assistant:before {
  content: "\e90b";
}
.icon-compare:before {
  content: "\e90a";
}
.icon-intersect:before {
  content: "\e909";
}
.icon-fire:before {
  content: "\e80c";
}
.icon-megaphone:before {
  content: "\e874";
}
.icon-water:before {
  content: "\e875";
}
.icon-isight:before {
  content: "\f039";
}
.icon-add-space:before {
  content: "\e906";
}
.icon-facebook-squared:before {
  content: "\e86e";
}
.icon-linkedin-squared:before {
  content: "\e86f";
}
.icon-youtube-squared:before {
  content: "\e870";
}
.icon-pinterest-squared:before {
  content: "\e871";
}
.icon-rss-squared:before {
  content: "\e872";
}
.icon-twitter-squared:before {
  content: "\e873";
}
.icon-mail-squared:before {
  content: "\f199";
}
.icon-instagram-squared:before {
  content: "\f32d";
}
.icon-signout:before {
  content: "\e80a";
}
.icon-ok:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e904";
}
.icon-star-empty:before {
  content: "\2714";
}
.icon-resize-full:before {
  content: "\e09e";
}
.icon-login:before {
  content: "\e744";
}
.icon-search1:before {
  content: "\e750";
}
.icon-mail-alt:before {
  content: "\e751";
}
.icon-gauge:before {
  content: "\e800";
}
.icon-zoom-in:before {
  content: "\e801";
}
.icon-zoom-out:before {
  content: "\e802";
}
.icon-star:before {
  content: "\e803";
}
.icon-ok-circled:before {
  content: "\e804";
}
.icon-cancel-circled:before {
  content: "\e805";
}
.icon-user:before {
  content: "\2716";
}
.icon-user-plus:before {
  content: "\e806";
}
.icon-users:before {
  content: "\e807";
}
.icon-th:before {
  content: "\e808";
}
.icon-th-list:before {
  content: "\e809";
}
.icon-cancel:before {
  content: "\e80b";
}
.icon-minus:before {
  content: "\e80d";
}
.icon-help-circled:before {
  content: "\e80e";
}
.icon-info-circled:before {
  content: "\e80f";
}
.icon-home:before {
  content: "\e810";
}
.icon-link:before {
  content: "\e811";
}
.icon-attach:before {
  content: "\e812";
}
.icon-lock:before {
  content: "\e813";
}
.icon-lock-open:before {
  content: "\e814";
}
.icon-eye:before {
  content: "\e815";
}
.icon-eye-off:before {
  content: "\e816";
}
.icon-tag:before {
  content: "\e817";
}
.icon-tags:before {
  content: "\e818";
}
.icon-bookmark:before {
  content: "\e819";
}
.icon-download-cloud:before {
  content: "\e81a";
}
.icon-upload-cloud:before {
  content: "\e81b";
}
.icon-quote-right:before {
  content: "\e81c";
}
.icon-share:before {
  content: "\e81d";
}
.icon-pencil:before {
  content: "\e81e";
}
.icon-direction:before {
  content: "\e820";
}
.icon-squares:before {
  content: "\e821";
}
.icon-trash:before {
  content: "\e822";
}
.icon-doc:before {
  content: "\e823";
}
.icon-rss:before {
  content: "\e824";
}
.icon-menu:before {
  content: "\e825";
}
.icon-cog:before {
  content: "\e826";
}
.icon-cog-alt:before {
  content: "\e827";
}
.icon-sliders:before {
  content: "\e828";
}
.icon-clock1:before {
  content: "\e829";
}
.icon-block:before {
  content: "\e82a";
}
.icon-level-up:before {
  content: "\e82b";
}
.icon-move:before {
  content: "\e82c";
}
.icon-down-open:before {
  content: "\e82e";
}
.icon-left-open:before {
  content: "\e82f";
}
.icon-right-open:before {
  content: "\e830";
}
.icon-up-open:before {
  content: "\e831";
}
.icon-ccw:before {
  content: "\e832";
}
.icon-off:before {
  content: "\e833";
}
.icon-flow-split:before {
  content: "\e86d";
}
.icon-iconfnt:before {
  content: "\e903";
}
.icon-fork:before {
  content: "\e834";
}
.icon-sort-alt-up:before {
  content: "\e835";
}
.icon-sort-alt-down:before {
  content: "\e836";
}
.icon-sort-name-up:before {
  content: "\e837";
}
.icon-sort-name-down:before {
  content: "\e838";
}
.icon-sort-number-up:before {
  content: "\e839";
}
.icon-sort-number-down:before {
  content: "\e83a";
}
.icon-puzzle:before {
  content: "\e83b";
}
.icon-facebook:before {
  content: "\e83c";
}
.icon-gplus:before {
  content: "\e83d";
}
.icon-edit:before {
  content: "\e83e";
}
.icon-phone1:before {
  content: "\e83f";
}
.icon-calendar:before {
  content: "\e840";
}
.icon-spin1:before {
  content: "\e841";
}
.icon-linkedin:before {
  content: "\e842";
}
.icon-windows:before {
  content: "\e843";
}
.icon-scissors:before {
  content: "\e844";
}
.icon-clipboard:before {
  content: "\e845";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-chat:before {
  content: "\e846";
}
.icon-cw:before {
  content: "\e847";
}
.icon-bold:before {
  content: "\e848";
}
.icon-italic:before {
  content: "\e849";
}
.icon-pause:before {
  content: "\e84b";
}
.icon-align-left:before {
  content: "\e84e";
}
.icon-align-right:before {
  content: "\e84f";
}
.icon-align-center:before {
  content: "\e850";
}
.icon-align-justify:before {
  content: "\e851";
}
.icon-indent-left:before {
  content: "\e852";
}
.icon-indent-right:before {
  content: "\e853";
}
.icon-list:before {
  content: "\e854";
}
.icon-camera:before {
  content: "\e855";
}
.icon-picture:before {
  content: "\e856";
}
.icon-send:before {
  content: "\e857";
}
.icon-progress-0:before {
  content: "\e858";
}
.icon-progress-20:before {
  content: "\e859";
}
.icon-progress-40:before {
  content: "\e85a";
}
.icon-progress-60:before {
  content: "\e866";
}
.icon-progress-80:before {
  content: "\e867";
}
.icon-progress-100:before {
  content: "\e86b";
}
.icon-down-dir:before {
  content: "\e82d";
}
.icon-up-dir:before {
  content: "\e85b";
}
.icon-left-dir:before {
  content: "\e85c";
}
.icon-right-dir:before {
  content: "\e85d";
}
.icon-print:before {
  content: "\e85e";
}
.icon-bullhorn:before {
  content: "\e85f";
}
.icon-dot:before {
  content: "\e860";
}
.icon-play:before {
  content: "\e84d";
}
.icon-stop:before {
  content: "\e84c";
}
.icon-record:before {
  content: "\e84a";
}
.icon-to-end:before {
  content: "\e861";
}
.icon-to-start:before {
  content: "\e862";
}
.icon-fast-backward:before {
  content: "\e864";
}
.icon-fast-forward:before {
  content: "\e863";
}
.icon-comment-empty:before {
  content: "\f0e5";
}
.icon-comment:before {
  content: "\e865";
}
.icon-invoice:before {
  content: "\e868";
}
.icon-volume-off:before {
  content: "\e869";
}
.icon-drag:before {
  content: "\e86a";
}
.icon-greater-then-zero:before {
  content: "\e86c";
}
.icon-link-ext:before {
  content: "\f08e";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-docs:before {
  content: "\f0c5";
}
.icon-list-bullet:before {
  content: "\f0ca";
}
.icon-list-numbered:before {
  content: "\f0cb";
}
.icon-strike:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-folder-empty:before {
  content: "\f114";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-ellipsis-vert:before {
  content: "\f142";
}
.icon-thumbs-up-alt:before {
  content: "\f164";
}
.icon-thumbs-down-alt:before {
  content: "\f165";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-paragraph:before {
  content: "\f1dd";
}
.icon-battery-charging:before {
  content: "\e908";
}
.icon-battery-4:before {
  content: "\f240";
}
.icon-battery-3:before {
  content: "\f241";
}
.icon-battery-2:before {
  content: "\f242";
}
.icon-battery-1:before {
  content: "\f243";
}
.icon-battery-0:before {
  content: "\f244";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-clock-history:before {
  content: "\e907";
}
.icon-reschedule-icon:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-tik-tok:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-search:before {
  content: "\e986";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-make-group:before {
  content: "\ea58";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-headphones:before {
  content: "\e915";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-text-color:before {
  content: "\ea6d";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-language:before {
  content: "\e90e";
}
.icon-icon-level:before {
  content: "\e913";
}
