/*
   Animation example, for spinners
*/
i[class^=icon-].animate-spin, i[class*=" icon-"].animate-spin {
  animation: spin-animation 2s infinite linear;
  display: inline-block;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=animation.css.map */
