.litepicker {
  font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: auto;
}

@media screen {
  html, body {
    min-height: 100%;
  }
  html {
    overflow-y: auto;
    height: 100%;
  }
}
@media print {
  html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
  }
}
body, html, div, p, pre, blockquote, figure, hr, a, ul, ol, li, h1, h2, h3, h4, h5, h6, header, footer,
article, section, nav, img, .defaultImage, iframe {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: normal;
}

ul, ol {
  font-size: 0;
  line-height: 0;
}

div.barcontainer, span.barcontainer {
  white-space: nowrap;
  vertical-align: top;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
div.barcontainer div.bc, div.barcontainer span.bc, span.barcontainer div.bc, span.barcontainer span.bc {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
}
div.barcontainer div.bc.remaining, div.barcontainer span.bc.remaining, span.barcontainer div.bc.remaining, span.barcontainer span.bc.remaining {
  display: block;
}
div.barcontainer div.bc.right, div.barcontainer span.bc.right, span.barcontainer div.bc.right, span.barcontainer span.bc.right {
  float: right;
}
div.barcontainer div.bc.left, div.barcontainer span.bc.left, span.barcontainer div.bc.left, span.barcontainer span.bc.left {
  float: left;
}

div#loadingIndicator {
  position: fixed;
  top: 0;
  padding: 5px 10px 5px 33px;
  background: #ff0 url("../image/loadindicator.gif") 10px 50% no-repeat;
  margin: 0;
  display: none;
  right: 0;
  z-index: 99999;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid silver;
}

pre {
  width: 100%;
  overflow: auto;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

embed,
iframe,
object,
video {
  display: block;
  max-width: 100%;
  border: 0;
  width: 100%;
}

img {
  max-width: 100%;
  border: 0;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

[hidden] {
  display: none;
}

/* noscript styles */
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

ul, ol, footer > div > ul > li > ul, footer > div > ul {
  font-size: 0;
}

/* region BBCode */
.BBbold {
  font-weight: bold;
}

.BBAlignCenter {
  text-align: center;
}

em.marked {
  font-style: normal;
}

.fill-width {
  min-width: 100%;
}

.fill-height {
  min-height: 100%;
}

.litepicker {
  font-size: 1em;
}

body, li, p, span, h1, h2, h3, h4, h5 {
  font-size: 0.85rem;
  line-height: 1.0625rem;
  font-weight: normal;
}
@media all and (max-width: 1000px) {
  body, li, p, span, h1, h2, h3, h4, h5 {
    font-size: 0.8228rem;
    line-height: 1.0285rem;
  }
}
@media all and (max-width: 767px) {
  body, li, p, span, h1, h2, h3, h4, h5 {
    font-size: 0.7905rem;
    line-height: 0.988125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  body, li, p, span, h1, h2, h3, h4, h5 {
    font-size: 0.77027rem;
    line-height: 0.9628375rem;
    font-weight: normal;
  }
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.defaultFont {
  font-size: 0.85rem;
  line-height: 1.0625rem;
  font-weight: normal;
}
@media all and (max-width: 1000px) {
  .defaultFont {
    font-size: 0.8228rem;
    line-height: 1.0285rem;
  }
}
@media all and (max-width: 767px) {
  .defaultFont {
    font-size: 0.7905rem;
    line-height: 0.988125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  .defaultFont {
    font-size: 0.77027rem;
    line-height: 0.9628375rem;
    font-weight: normal;
  }
}

.smallerFont {
  font-size: 0.68rem;
  line-height: 0.85rem;
  font-weight: normal;
}
@media all and (max-width: 1000px) {
  .smallerFont {
    font-size: 0.65824rem;
    line-height: 0.8228rem;
  }
}
@media all and (max-width: 767px) {
  .smallerFont {
    font-size: 0.6324rem;
    line-height: 0.7905rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  .smallerFont {
    font-size: 0.616216rem;
    line-height: 0.77027rem;
    font-weight: normal;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "-apple-system-font", "system-ui", sans-serif;
  margin: 0;
  padding: 0;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  background: rgb(246, 246, 246);
  cursor: default;
  display: -webkit-box;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-user-select: none;
  cursor: default;
  text-align: center;
  -webkit-user-select: none;
}
body > div {
  min-width: 320px;
  max-width: 580px;
  position: relative;
  width: 50%;
  margin: auto auto;
}
body > div > div {
  color: rgb(133, 133, 133);
  position: relative;
  width: 100%;
  word-wrap: break-word;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 1em 0;
}
body > div > div.title > p {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  margin: 0 auto;
  display: block;
}
body > div > div.message > p {
  font-size: 13px;
  line-height: 18px;
  padding: 0px 24px;
}
@media all and (max-width: 768px) {
  body > div {
    min-width: 320px;
    max-width: 100px;
  }
}

/*# sourceMappingURL=compatible.css.map */
