@use "sass:math";
@import "reset";
@import "responsive";

body, li, p, span, h1, h2, h3, h4, h5 {
    @include default-font();
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.defaultFont {
    @include default-font();
}

.smallerFont {
    @include default-font(0.8);
}

html, body {
    height: 100%;
    min-height: 100%;
}

body { 
    //font-family: $portal-font-family;
    font-family: '-apple-system-font', "system-ui", sans-serif;
    margin: 0;
    padding: 0;
    //background: $background-canvas-color;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

    background: rgb(246, 246, 246);
    cursor: default;
    display: -webkit-box;
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-user-select: none;
    
    cursor: default;
    text-align: center;
    -webkit-user-select: none;
    
    > div {
        min-width: 320px;
        max-width: 580px;
        position: relative;
        width: 50%;
        margin: auto auto;
        
        > div {
            color: rgb(133, 133, 133);
            position: relative;
            width: 100%;
            word-wrap: break-word;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            margin: 1em 0;
            
            &.title {
                > p {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 34px;
                    margin: 0 auto;
                    display: block;
                }
            }
            
            &.message {
                > p {
                    font-size: 13px;
                    line-height: 18px;
                    padding: 0px 24px;
                }
            }
        }
        
        @media all and (max-width: 768px) {
            min-width: 320px;
            max-width: 100px;
        }
    }
}
