@use "sass:math";
@use "sass:map";
@use "sass:string";
@use 'sass:color';

@import "default-mixin";

$font-family: 'Open Sans', sans-serif, helvetica !default;
$font-family-weight: 300 !default;

// From: https://medium.com/@bhargav3shah/scss-convert-pixel-values-to-rem-using-functions-f1cef575edfd
$default-pixel-per-rem: 16px !default;
$default-font: 0.85rem !default;
$default-line-height-scale: 1.25 !default;
$default-line-height: ($default-font * $default-line-height-scale) !default;
$default-font-weight: normal !default;
$default-font-weight-mobile: normal !default;
$default-color: black !default;

// $screenMax1400
$screen-size-1400: 1400px !default;
// $screen-size-1200
$screen-size-1200: 1200px !default;
// $screen-size-1000
$screen-size-1000: 1000px !default;
// $screen-size-767
$screen-size-767: 767px !default;
// $screen-size-486
$screen-size-486: 486px !default;

$scale-1400: 1 !default;
$scale-1200: 1 !default;
$scale-1000: .968 !default;
$scale-767: .93 !default;
$scale-486: .9062 !default;

$background-canvas-color-light: #eff5f9 !default;
$background-canvas-color-dark: #2F3C49 !default;

$color-highlight: #c6e1fc !default;
$colors-highlight-light: #c6e1fc !default;
$colors-highlight-dark: #134767 !default;

$colors-action: #187CC5 !default;
$colors-action-light: #187CC5 !default;
$colors-action-dark: #2c75ac !default; // #1367a8 !default;
$colors-cancel: #58ADEB !default;
$colors-cancel-light: #58ADEB !default;
$colors-cancel-dark: #4586b5 !default;
$colors-alert: #EF3A23 !default;
$colors-alert-light: #EF3A23 !default;
$colors-alert-dark: #A80000 !default;
$colors-positive: #007547 !default;
$colors-positive-light: #007547 !default;
$colors-positive-dark: #026E00 !default;
$colors-warning: #E09926 !default;
$colors-warning-light: #E09926 !default;
$colors-warning-dark: #9C6D17 !default;
$colors-less-prio: #FFFFFF !default;
$colors-less-prio-light: #FFFFFF !default;
$colors-less-prio-dark: #252727 !default;
/* compatibility */
$color-action: $colors-action !default;

$colors-disabled: #E5E5E5 !default;
$colors-disabled-light: #E5E5E5 !default;           /* background color element */
$colors-disabled-dark: #888888 !default;
$colors-disabled-text-light: #CCCCCC !default;      /* color element */
$colors-disabled-text-dark: #666666 !default;

/* action $color scheme */
$action-button-action-background-color-light: $colors-action-light !default;
$action-button-action-border-color-light: $colors-action-light !default;
$action-button-action-color-light: #FFFFFF !default;
$action-button-action-background-color-dark: $colors-action-dark !default;
$action-button-action-border-color-dark: $colors-action-dark !default;
$action-button-action-color-dark: #DEDEDE !default;

$action-button-cancel-background-color-light: $colors-cancel !default;
$action-button-cancel-border-color-light: $colors-cancel !default;
$action-button-cancel-color-light: #FFFFFF !default;
$action-button-cancel-background-color-dark: #1B91DB !default;
$action-button-cancel-border-color-dark: #1B91DB !default;
$action-button-cancel-color-dark: #DEDEDE !default;

$action-button-alert-background-color-light: $colors-alert-light !default;
$action-button-alert-border-color-light: $colors-alert-light !default;
$action-button-alert-color-light: #FFFFFF !default;
$action-button-alert-background-color-dark: $colors-alert-dark !default;
$action-button-alert-border-color-dark: $colors-alert-dark !default;
$action-button-alert-color-dark: #DEDEDE !default;

$action-button-positive-background-color-light: $colors-positive !default;
$action-button-positive-border-color-light: $colors-positive !default;
$action-button-positive-color-light: #FFFFFF !default;
$action-button-positive-background-color-dark: $colors-positive-dark !default;
$action-button-positive-border-color-dark: $colors-positive-dark !default;
$action-button-positive-color-dark: #DEDEDE !default;

$action-button-warning-background-color-light: $colors-warning-light !default;
$action-button-warning-border-color-light: $colors-warning-light !default;
$action-button-warning-color-light: #FFFFFF !default;
$action-button-warning-background-color-dark: $colors-warning-dark !default;
$action-button-warning-border-color-dark: $colors-warning-dark !default;
$action-button-warning-color-dark: #DEDEDE !default;

$action-button-less-prio-background-color-light: $colors-less-prio-light !default;
$action-button-less-prio-border-color-light: $colors-less-prio-light !default;
$action-button-less-prio-color-light: #FFFFFF !default;
$action-button-less-prio-background-color-dark: $colors-less-prio-dark !default;
$action-button-less-prio-border-color-dark: $colors-less-prio-dark !default;
$action-button-less-prio-color-dark: #DEDEDE !default;

$action-button-disabled-background-color-light: $colors-disabled-light !default;
$action-button-disabled-border-color-light: $colors-disabled-light !default;
$action-button-disabled-color-light: $colors-disabled-text-light !default;
$action-button-disabled-background-color-dark: $colors-disabled-dark !default;
$action-button-disabled-border-color-dark: $colors-disabled-dark !default;
$action-button-disabled-color-dark: $colors-disabled-text-dark !default;

$design-form-element-background-color-light: #FDFDFD !default;
$design-form-element-background-color-dark: #353739 !default;
$design-action-border-width: 1px !default;


/* Modal */
$modal-background-color-light: #ffffff !default;
$modal-background-color-dark: #252727 !default;
$modal-header-background-color-light: #F0F2F3 !default;
$modal-header-background-color-dark: #353739 !default;
$modal-header-color-light: #000000 !default;
$modal-header-color-dark: #DEDEDE !default;
$modal-border-color-light: $modal-header-background-color-light !default;
$modal-border-color-dark: $modal-header-background-color-dark !default;
$modal-shadow-color-light: #8a8a8a !default;
$modal-shadow-color-dark: #747474 !default;
$modal-shadow-width: 2px !default;
$modal-border-radius: 2px !default;

/* LLM Widget */
$widget-llmchat-type-user-border-color-light: $action-button-action-background-color-light;
$widget-llmchat-type-user-border-color-dark: $action-button-action-background-color-dark;
$widget-llmchat-type-debug-border-color-light: $action-button-alert-background-color-light;
$widget-llmchat-type-debug-border-color-dark: $action-button-alert-background-color-dark;
$widget-llmchat-type-response-border-color-light: $action-button-warning-background-color-light;
$widget-llmchat-type-response-border-color-dark: $action-button-warning-background-color-dark;

/* Form elements */
$form-element-background-color-light: #FDFDFD !default;
$form-element-background-color-dark: #353739 !default;
$form-element-border-color: #AEAEAE !default;
$form-element-border-color-light: #AEAEAE !default;
$form-element-border-color-dark: #888888 !default;
$form-element-color-light: #000000 !default;
$form-element-color-dark: #DEDEDE !default;
$form-element-placeholder-color: #aaa !default;
$form-element-placeholder-color-light: #aaa !default;
$form-element-placeholder-color-dark: #888 !default;
/* disabled */
$form-element-disabled-background-color-light: #FDFDFD !default;
$form-element-disabled-background-color-dark: #353739 !default;
$form-element-disabled-border-color-light: #AEAEAE !default;
$form-element-disabled-border-color-dark: #6D6D6D !default;
$form-element-disabled-color-light: #A0A0A0 !default;
$form-element-disabled-color-dark: #666 !default;
$form-element-disabled-placeholder-color-light: #aaa !default;
$form-element-disabled-placeholder-color-dark: #666 !default;
$form-element-background-color-light: #FDFDFD !default;
$form-element-background-color-dark: #353739 !default;

$form-spacing: 2px !default;
$form-spacing-scale: 4 !default;
$form-element-margin: 1px !default;             // $element Margin
$form-element-border-width: 1px !default;       // $element Border
$form-element-padding: $form-spacing !default;  // $element Padding
$default-box-spacing: 10px !default;

// $labelWidth
$form-label-width: 150px - (2 * $form-spacing) !default;
$form-label-width-800: 125px - (2 * $form-spacing) !default;
$form-label-width-600: 115px - (2 * $form-spacing) !default;
$form-label-width-400: 115px - (2 * $form-spacing) !default;

/* portal */
$portal-loading-indicator: '../image/loadindicator.gif' !default;
$portal-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$portal-navigation-background-light: #313639 !default;
$portal-navigation-background-dark: #252727 !default;
$portal-navigation-tab-container-background-color-light: #3f3f4f !default;
$portal-navigation-tab-container-background-color-dark: #222225 !default;
$portal-navigation-tab-container-background-color-hover-light: lighten($portal-navigation-tab-container-background-color-light, 5) !default;
$portal-navigation-tab-container-background-color-hover-dark: lighten($portal-navigation-tab-container-background-color-dark, 5)22225 !default;
$portal-navigation-color-light: #FDFDFD !default;
$portal-navigation-color-dark: #DEDEDE !default;
$portal-navigation-tab-container-color-light: #FDFDFD !default;
$portal-navigation-tab-container-color-dark: #DEDEDE !default;
$portal-navigation-tab-select-border-width: pixelRem(2) !default;
$portal-navigation-tab-select-border-color-light: $colors-highlight-light !default;
$portal-navigation-tab-select-border-color-dark: $colors-highlight-dark !default;
$portal-navigation-link-color-light: $portal-navigation-color-light !default;
$portal-navigation-link-color-dark: $portal-navigation-color-dark !default;

$portal-navigation-selected-border-left-color-light: $action-button-action-background-color-light !default;
$portal-navigation-selected-border-left-color-dark: $action-button-action-background-color-dark !default;
$portal-navigation-selected-border-left-color-hover: #4285f4 !default;

$portal-navigation-selected-border-width: 3px !default;
$portal-navigation-hover-background-color-light: mix($portal-navigation-tab-container-background-color-light, $colors-highlight-light, 50%) !default;
$portal-navigation-hover-background-color-dark: mix($portal-navigation-tab-container-background-color-dark, $colors-highlight-dark, 25%) !default;
$portal-navigation-hover-background-color-hover-light: $colors-highlight-light !default;
$portal-navigation-hover-background-color-hover-dark: $colors-highlight-dark !default;


/* Autoload */
$autoload-border-color: #f0f0f0 !default;
$autoload-border-color-disabled: #e0e0e0 !default;
$autoload-border-width: 1px;
$autoload-header-font-scale: 0.8 !default;
$autoload-header-font-weight: bold !default;
$autoload-header-font-color: #aaa !default;
$autoload-header-font-color-light: #aaa !default;
$autoload-header-font-color-dark: #7e7e7e !default;
$autoload-accselect-loadmore-image: "../image/waiting.16.gif" !default;
$autoload-accselect-background-color-hover-light: $colors-highlight-light !default;
$autoload-accselect-background-color-hover-dark: $colors-highlight-dark !default;
$autoload-accselect-border-width: 1px !default;
$autoload-accselect-border-bottom-color-light: #f0f0f0 !default;
$autoload-accselect-border-bottom-color-dark: #444 !default;
$autoload-accselect-handle-background-color-light: $design-form-element-background-color-light !default;
$autoload-accselect-handle-background-color-dark: $design-form-element-background-color-dark !default;
$autoload-accselect-inactive-light: #aaa !default;
$autoload-accselect-inactive-dark: #888 !default;
$autoload-accselect-notify-light:  #ffffc7 !default;
$autoload-accselect-notify-dark: #51513f !default;
$autoload-accselect-selected-light: lighten($colors-highlight-light, 5) !default;
$autoload-accselect-selected-dark: lighten($colors-highlight-dark, 5) !default;
$autoload-accselect-highlight-light: #f0f0f0 !default;
$autoload-accselect-highlight-dark: #0f0f0f !default;

/* form title? */
$form-title-color: black !default;
$form-title-color-light: $form-element-color-light !default;
$form-title-color-dark: $form-element-color-dark !default;
$form-title-background-color: $modal-header-background-color-light !default;
$form-title-background-color-light: $modal-header-background-color-light !default;
$form-title-background-color-dark: $form-element-background-color-dark !default;
$form-title-background: $form-title-background-color !default;

/* tabs */
$portal-form-tabs-background: $form-title-background-color !default;

$tab-container-form-background-light: $portal-form-tabs-background !default;
$tab-container-form-background-dark: #353739 !default;
$tab-container-form-icon-color-light: $form-element-color-light !default;
$tab-container-form-icon-color-dark: $form-element-color-dark !default;
$tab-container-form-tab-color-light: $form-element-disabled-color-light !default; //  $form-element-color-light !default;
$tab-container-form-tab-color-dark: $form-element-disabled-color-dark !default;

//$tab-container-form-tab-color-light: darken($tab-container-form-background-light, 20) !default;
//$tab-container-form-tab-color-dark: darken($tab-container-form-background-dark, 20) !default;

$tab-container-form-tab-selectable-color-light: $form-element-color-light !default;
$tab-container-form-tab-selectable-color-dark: $form-element-color-dark !default;
$tab-container-form-tab-selectable-background-color-light: lighten($tab-container-form-background-light, 2) !default;
$tab-container-form-tab-selectable-background-color-dark: lighten($tab-container-form-background-dark, 2) !default;

$tab-container-form-tab-border-top: 2px !default;
$tab-container-form-tab-border-selected-color-light: $colors-action-light !default;
$tab-container-form-tab-border-selected-color-dark: $colors-action-dark !default;
$tab-container-form-tab-border-selected-backgroundColor-light: lighten($tab-container-form-background-light, 2) !default;
$tab-container-form-tab-selected-background-light: white !default;  /* background of the views/modal */
$tab-container-form-tab-selected-background-dark: #252727 !default; /* background of the views/modal */
$tab-container-form-tab-selected-shadow-width: 3px;
$tab-container-form-tab-selected-shadow-color-light: #c5d1dadb !default;
$tab-container-form-tab-selected-shadow-color-dark: #747980 !default;

/* obsolete, replace */
$form-background-color-light: #ffffff;
$form-background-color-dark: #252727;

$form-modal-box-shadow-color-light: #484848 !default;
$form-modal-box-shadow-color-dark: #747474 !default;
