.litepicker {
  font-size: 1em;
}

ul.autoload {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 0;
  display: block;
  flex: auto;
}
ul.autoload > li,
ul.autoload > li.autoload {
  padding: 2px 3px;
  display: block;
  outline: none;
  font-size: 0;
  line-height: 0;
}
ul.autoload > li.loadmore,
ul.autoload > li.autoload.loadmore {
  background: url("../image/waiting.16.gif") no-repeat 50% 0;
  min-height: 16px;
}
ul.autoload > li.error,
ul.autoload > li.autoload.error {
  color: red;
}
ul.autoload > li > span,
ul.autoload > li.autoload > span {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.85rem; /* 13px */
  line-height: 1.0625rem; /* 16px */
}
ul.autoload > li > span > i[class^=icon-], ul.autoload > li > span > i[class*=" icon-"],
ul.autoload > li.autoload > span > i[class^=icon-],
ul.autoload > li.autoload > span > i[class*=" icon-"] {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
ul.autoload > li.header:hover,
ul.autoload > li.autoload.header:hover {
  background: none;
}
ul.autoload > li.header.sortable,
ul.autoload > li.autoload.header.sortable {
  cursor: pointer;
}
ul.autoload > li.header > div, ul.autoload > li.header > span,
ul.autoload > li.autoload.header > div,
ul.autoload > li.autoload.header > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-weight: bold;
  border-left: 1px solid #f0f0f0;
  padding-left: 2px;
}
ul.autoload > li.header > div:first-child, ul.autoload > li.header > span:first-child,
ul.autoload > li.autoload.header > div:first-child,
ul.autoload > li.autoload.header > span:first-child {
  border-left: none;
  padding-left: 0;
}
ul.autoload > li.header > div.sortable[class^=icon-]:before, ul.autoload > li.header > div.sortable[class*=" icon-"]:before, ul.autoload > li.header > span.sortable[class^=icon-]:before, ul.autoload > li.header > span.sortable[class*=" icon-"]:before,
ul.autoload > li.autoload.header > div.sortable[class^=icon-]:before,
ul.autoload > li.autoload.header > div.sortable[class*=" icon-"]:before,
ul.autoload > li.autoload.header > span.sortable[class^=icon-]:before,
ul.autoload > li.autoload.header > span.sortable[class*=" icon-"]:before {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: middle;
}
ul.autoload > li.header > div, ul.autoload > li.header > span:first-child,
ul.autoload > li.autoload.header > div,
ul.autoload > li.autoload.header > span:first-child {
  padding-left: 0;
}
ul.autoload > li.accselect,
ul.autoload > li.autoload.accselect {
  background: none;
  border-bottom: #f0f0f0 1px solid;
  font-size: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  position: relative;
}
ul.autoload > li.accselect > span,
ul.autoload > li.autoload.accselect > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  margin-left: 0;
  margin-right: 0;
}
ul.autoload > li.accselect > span > p,
ul.autoload > li.autoload.accselect > span > p {
  margin: 0;
  padding: 0;
  white-space: normal;
}
ul.autoload > li.accselect > span.hoverMenu,
ul.autoload > li.autoload.accselect > span.hoverMenu {
  display: none;
  /*float: right;*/
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 6px 2px;
}
ul.autoload > li.accselect.clickable,
ul.autoload > li.autoload.accselect.clickable {
  cursor: pointer;
}
ul.autoload > li.accselect.clickable.disabled ul.autoload > li.accselect.clickable, form.disabled ul.autoload > li.accselect.clickable,
ul.autoload > li.accselect.clickable.disabled ul.autoload > li.autoload.accselect.clickable,
form.disabled ul.autoload > li.autoload.accselect.clickable,
ul.autoload > li.autoload.accselect.clickable.disabled ul.autoload > li.accselect.clickable,
ul.autoload > li.autoload.accselect.clickable.disabled ul.autoload > li.autoload.accselect.clickable {
  cursor: default;
}
ul.autoload > li.accselect.unread > span,
ul.autoload > li.autoload.accselect.unread > span {
  font-weight: bold;
}
ul.autoload > li.accselect.inactive,
ul.autoload > li.autoload.accselect.inactive {
  color: #aaa;
}
ul.autoload > li.accselect.linethrough,
ul.autoload > li.autoload.accselect.linethrough {
  text-decoration: line-through;
}
ul.autoload > li.accselect.linethrough > span,
ul.autoload > li.autoload.accselect.linethrough > span {
  text-decoration: line-through;
}
ul.autoload > li.accselect.notify,
ul.autoload > li.autoload.accselect.notify {
  background-color: #ffffc7;
}
ul.autoload > li.accselect.notifyDone,
ul.autoload > li.autoload.accselect.notifyDone {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
ul.autoload > li.accselect.selected,
ul.autoload > li.autoload.accselect.selected {
  background: #deeefd;
  border-bottom-color: #b7d9fb;
}
ul.autoload > li.accselect:hover,
ul.autoload > li.autoload.accselect:hover {
  background: #c6e1fc;
  border-bottom: #c6e1fc 1px solid;
}
ul.autoload > li.accselect:hover.hover-no-highlighting,
ul.autoload > li.autoload.accselect:hover.hover-no-highlighting {
  background: transparent;
  border-bottom: #f0f0f0 1px solid;
}
ul.autoload > li.accselect:hover > span.hoverMenu,
ul.autoload > li.autoload.accselect:hover > span.hoverMenu {
  display: block;
  background: #c6e1fc;
}
ul.autoload > li.accselect > span,
ul.autoload > li.autoload.accselect > span {
  border-left: 1px solid #f0f0f0;
  padding-left: 2px;
}
ul.autoload > li.accselect > span:first-child,
ul.autoload > li.autoload.accselect > span:first-child {
  border-left: none;
  padding-left: 0;
}
ul.autoload > li.accselect > span > span.avatar,
ul.autoload > li.accselect > span > img.avatar,
ul.autoload > li.autoload.accselect > span > span.avatar,
ul.autoload > li.autoload.accselect > span > img.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 10px;
  overflow: hidden;
  vertical-align: text-top;
}
ul.autoload > li.accselect.dragged,
ul.autoload > li.autoload.accselect.dragged {
  background: red;
}
ul.autoload > li.accselect.highlight,
ul.autoload > li.autoload.accselect.highlight {
  background: #f0f0f0;
}
ul.autoload > li.accselect.placeholder,
ul.autoload > li.autoload.accselect.placeholder {
  background: yellow;
}
ul.autoload > li.accselect.error,
ul.autoload > li.autoload.accselect.error {
  color: red;
}
ul.autoload > li.accselect.total-sum,
ul.autoload > li.autoload.accselect.total-sum {
  border-top: 3px double #aaa;
  border-bottom: none;
}
ul.autoload > li.inline,
ul.autoload > li.autoload.inline {
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
}
ul.autoload.placeholder {
  background: yellow;
}
ul.autoload.disabled > li.accselect:hover,
ul.autoload.disabled > li.accselect.clickable, form.editor.disabled ul.autoload.disabled {
  background: none;
  border-bottom: #e0e0e0 1px solid;
  cursor: default;
}
ul.autoload.disabled > li.accselect:hover:hover,
ul.autoload.disabled > li.accselect.clickable:hover, form.editor.disabled ul.autoload.disabled:hover {
  background: none;
  border-bottom: #e0e0e0 1px solid;
  cursor: default;
}
ul.autoload.limit-height {
  height: 450px;
  max-height: 70%;
}
ul.autoload.dragging > li.accselect, ul.autoload.dragging > li.autoload.accselect:hover {
  background-color: transparent;
  border-bottom: #f0f0f0 1px solid;
}
ul.autoload.dragging > li.sortable-ghost > span {
  color: #888;
}
ul.autoload.action-comments > li.header {
  display: none;
}
ul.autoload.action-comments > li > div {
  display: block;
  background: white;
  margin: 2px;
  box-shadow: 0 0 2px #888;
}
ul.autoload.action-comments > li > div > div.created {
  font-size: 0.85rem; /* 13px */
  line-height: 1.0625rem; /* 16px */
  color: silver;
}
ul.flexrows {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: auto;
}
ul.flexrows > li,
ul.flexrows > li.autoload {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: auto;
  min-width: 100%;
  height: auto;
  overflow: initial;
  background: none;
  border-bottom: #f0f0f0 1px solid;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  position: relative;
  padding: 6px 2px;
}
ul.flexrows > li > span,
ul.flexrows > li.autoload > span {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}
ul.flexrows > li > span.shrink,
ul.flexrows > li.autoload > span.shrink {
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
ul.flexrows > li > span.right,
ul.flexrows > li.autoload > span.right {
  justify-content: flex-end;
}
ul.flexrows > li > span.center,
ul.flexrows > li.autoload > span.center {
  justify-content: center;
}
ul.flexrows > li > span.no-overflow,
ul.flexrows > li.autoload > span.no-overflow {
  overflow: hidden;
}
ul.flexrows > li.header:hover,
ul.flexrows > li.autoload.header:hover {
  background: none;
}
ul.flexrows > li.header.sortable,
ul.flexrows > li.autoload.header.sortable {
  cursor: pointer;
}
ul.flexrows > li.header > div, ul.flexrows > li.header > span,
ul.flexrows > li.autoload.header > div,
ul.flexrows > li.autoload.header > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  border-left: 1px solid #f0f0f0;
  padding-left: 2px;
  font-size: 0.68rem; /* 13px */
  line-height: 0.85rem; /* 16px */
  font-weight: bold;
  color: #aaa;
}
ul.flexrows > li.header > div:first-child, ul.flexrows > li.header > span:first-child,
ul.flexrows > li.autoload.header > div:first-child,
ul.flexrows > li.autoload.header > span:first-child {
  border-left: none;
  padding-left: 0;
}
ul.flexrows > li.header > div, ul.flexrows > li.header > span:first-child,
ul.flexrows > li.autoload.header > div,
ul.flexrows > li.autoload.header > span:first-child {
  padding-left: 0;
}
ul > div.loadMore {
  background: transparent url(../image/waiting.16.gif) no-repeat 50%;
  height: 16px;
  padding: 1px;
  display: block;
}
ul > div.loadMore.error {
  background: none;
}
ul > li.editor {
  background: white;
  padding: 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: -1px;
}
ul > li.editor > form {
  padding: 10px;
}
ul > li.editor > form > ul > li > ul#dnsNames li {
  width: 100%;
  cursor: pointer;
}
ul > li.editor > form > ul > li > ul#dnsNames li.header {
  font-weight: bold;
  cursor: default;
}
ul > li.editor > form > ul > li > ul#dnsNames li.header:hover {
  background-color: inherit;
}
ul > li.editor > form > ul > li > ul#dnsNames li.default {
  color: green;
  font-weight: bold;
}
ul > li.editor > form > ul > li > ul#dnsNames li span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}
ul > li.editor > form > ul > li > ul#dnsNames li span.bttns {
  display: none;
  float: right;
}
ul > li.editor > form > ul > li > ul#dnsNames li span a {
  color: #444;
}
ul > li.editor > form > ul > li > ul#dnsNames li.deleted {
  cursor: default;
}
ul > li.editor > form > ul > li > ul#dnsNames li.deleted span {
  text-decoration: line-through;
  color: #aaa;
}
ul > li.editor > form > ul > li > ul#dnsNames li:hover {
  background-color: #eee;
}
ul > li.editor > form > ul > li > ul#dnsNames li:hover span.bttns {
  display: inline-block;
}
@media all and (max-width: 767px) {
  ul > li.editor > form > ul > li {
    width: 100%;
    display: block;
  }
  ul > li.editor > form > ul > li.spacing {
    display: none;
  }
}
ul.dragging > li.accselect, ul.dragging > li.autoload.accselect:hover {
  background-color: transparent;
  border-bottom: #f0f0f0 1px solid;
}
ul.dragging > li.sortable-ghost > span {
  color: #888;
}
ul.autoload > li.container,
ul.autoload > li.container ul > li.container {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0;
  user-select: none;
  flex: none;
}
ul.autoload > li.container > div,
ul.autoload > li.container ul > li.container > div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: auto;
  min-width: 100%;
  height: auto;
  overflow: initial;
  background: none;
  border-bottom: #f0f0f0 1px solid;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  position: relative;
  padding: 6px 2px;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
ul.autoload > li.container > div > span,
ul.autoload > li.container ul > li.container > div > span {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}
ul.autoload > li.container > div > span.shrink,
ul.autoload > li.container ul > li.container > div > span.shrink {
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
ul.autoload > li.container > div > span.right,
ul.autoload > li.container ul > li.container > div > span.right {
  justify-content: flex-end;
}
ul.autoload > li.container > div > span.center,
ul.autoload > li.container ul > li.container > div > span.center {
  justify-content: center;
}
ul.autoload > li.container > div > span.no-overflow,
ul.autoload > li.container ul > li.container > div > span.no-overflow {
  overflow: hidden;
}
ul.autoload > li.container > div.header:hover,
ul.autoload > li.container ul > li.container > div.header:hover {
  background: none;
}
ul.autoload > li.container > div.header.sortable,
ul.autoload > li.container ul > li.container > div.header.sortable {
  cursor: pointer;
}
ul.autoload > li.container > div.header > div, ul.autoload > li.container > div.header > span,
ul.autoload > li.container ul > li.container > div.header > div,
ul.autoload > li.container ul > li.container > div.header > span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  border-left: 1px solid #f0f0f0;
  padding-left: 2px;
  font-size: 0.68rem; /* 13px */
  line-height: 0.85rem; /* 16px */
  font-weight: bold;
  color: #aaa;
}
ul.autoload > li.container > div.header > div:first-child, ul.autoload > li.container > div.header > span:first-child,
ul.autoload > li.container ul > li.container > div.header > div:first-child,
ul.autoload > li.container ul > li.container > div.header > span:first-child {
  border-left: none;
  padding-left: 0;
}
ul.autoload > li.container > div.header > div, ul.autoload > li.container > div.header > span:first-child,
ul.autoload > li.container ul > li.container > div.header > div,
ul.autoload > li.container ul > li.container > div.header > span:first-child {
  padding-left: 0;
}
ul.autoload > li.container > ul.autoload,
ul.autoload > li.container ul > li.container > ul.autoload {
  margin-left: 25px;
}
ul.autoload > li.container.accselect:hover,
ul.autoload > li.container ul > li.container.accselect:hover {
  background: inherit;
  border-bottom: inherit;
}
ul.autoload > li.container.accselect:hover > div:hover,
ul.autoload > li.container ul > li.container.accselect:hover > div:hover {
  background: #c6e1fc;
  border-bottom: #c6e1fc 1px solid;
}
ul.autoload > li.container.accselect:hover > div:hover.hover-no-highlighting,
ul.autoload > li.container ul > li.container.accselect:hover > div:hover.hover-no-highlighting {
  background: transparent;
  border-bottom: #f0f0f0 1px solid;
}
ul.autoload > li.container.accselect:hover > div:hover > span.hoverMenu,
ul.autoload > li.container ul > li.container.accselect:hover > div:hover > span.hoverMenu {
  display: block;
  background: #c6e1fc;
}
ul.user-select-none {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

form.editor ul.autoload.disabled li.accselect, form.editor ul.autoload.disabled li ul > li.accselect,
form.editor ul.autoload[class*=disabled-] li.accselect,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect, form.editor.disabled ul.autoload li.accselect, form.editor.disabled ul.autoload li ul > li.accselect,
form.editor [class*=disabled-] ul.autoload li.accselect,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect {
  background: transparent;
  border-color-bottom: #e0e0e0;
  cursor: default;
}
form.editor ul.autoload.disabled li.accselect:hover, form.editor ul.autoload.disabled li.accselect.clickable, form.editor ul.autoload.disabled li ul > li.accselect:hover, form.editor ul.autoload.disabled li ul > li.accselect.clickable,
form.editor ul.autoload[class*=disabled-] li.accselect:hover,
form.editor ul.autoload[class*=disabled-] li.accselect.clickable,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect:hover,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect.clickable, form.editor.disabled ul.autoload li.accselect:hover, form.editor.disabled ul.autoload li.accselect.clickable, form.editor.disabled ul.autoload li ul > li.accselect:hover, form.editor.disabled ul.autoload li ul > li.accselect.clickable,
form.editor [class*=disabled-] ul.autoload li.accselect:hover,
form.editor [class*=disabled-] ul.autoload li.accselect.clickable,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect:hover,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect.clickable {
  background: transparent;
  border-color-bottom: #e0e0e0;
  cursor: default;
}
form.editor ul.autoload.disabled li.accselect:hover, form.editor ul.autoload.disabled li.accselect.container:hover, form.editor ul.autoload.disabled li ul > li.accselect:hover, form.editor ul.autoload.disabled li ul > li.accselect.container:hover,
form.editor ul.autoload[class*=disabled-] li.accselect:hover,
form.editor ul.autoload[class*=disabled-] li.accselect.container:hover,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect:hover,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect.container:hover, form.editor.disabled ul.autoload li.accselect:hover, form.editor.disabled ul.autoload li.accselect.container:hover, form.editor.disabled ul.autoload li ul > li.accselect:hover, form.editor.disabled ul.autoload li ul > li.accselect.container:hover,
form.editor [class*=disabled-] ul.autoload li.accselect:hover,
form.editor [class*=disabled-] ul.autoload li.accselect.container:hover,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect:hover,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect.container:hover {
  background: transparent;
  border-color-bottom: #e0e0e0;
  cursor: default;
}
form.editor ul.autoload.disabled li.accselect:hover span.hoverMenu, form.editor ul.autoload.disabled li.accselect.container:hover span.hoverMenu, form.editor ul.autoload.disabled li ul > li.accselect:hover span.hoverMenu, form.editor ul.autoload.disabled li ul > li.accselect.container:hover span.hoverMenu,
form.editor ul.autoload[class*=disabled-] li.accselect:hover span.hoverMenu,
form.editor ul.autoload[class*=disabled-] li.accselect.container:hover span.hoverMenu,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect:hover span.hoverMenu,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect.container:hover span.hoverMenu, form.editor.disabled ul.autoload li.accselect:hover span.hoverMenu, form.editor.disabled ul.autoload li.accselect.container:hover span.hoverMenu, form.editor.disabled ul.autoload li ul > li.accselect:hover span.hoverMenu, form.editor.disabled ul.autoload li ul > li.accselect.container:hover span.hoverMenu,
form.editor [class*=disabled-] ul.autoload li.accselect:hover span.hoverMenu,
form.editor [class*=disabled-] ul.autoload li.accselect.container:hover span.hoverMenu,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect:hover span.hoverMenu,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect.container:hover span.hoverMenu {
  display: none;
}
form.editor ul.autoload.disabled li.container, form.editor ul.autoload.disabled li.accselect.container, form.editor ul.autoload.disabled li ul > li.container, form.editor ul.autoload.disabled li ul > li.accselect.container,
form.editor ul.autoload[class*=disabled-] li.container,
form.editor ul.autoload[class*=disabled-] li.accselect.container,
form.editor ul.autoload[class*=disabled-] li ul > li.container,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect.container, form.editor.disabled ul.autoload li.container, form.editor.disabled ul.autoload li.accselect.container, form.editor.disabled ul.autoload li ul > li.container, form.editor.disabled ul.autoload li ul > li.accselect.container,
form.editor [class*=disabled-] ul.autoload li.container,
form.editor [class*=disabled-] ul.autoload li.accselect.container,
form.editor [class*=disabled-] ul.autoload li ul > li.container,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect.container {
  background: transparent;
  border-bottom: transparent none;
  cursor: default;
}
form.editor ul.autoload.disabled li.container > div,
form.editor ul.autoload.disabled li.container > div:hover, form.editor ul.autoload.disabled li.accselect.container > div,
form.editor ul.autoload.disabled li.accselect.container > div:hover, form.editor ul.autoload.disabled li ul > li.container > div,
form.editor ul.autoload.disabled li ul > li.container > div:hover, form.editor ul.autoload.disabled li ul > li.accselect.container > div,
form.editor ul.autoload.disabled li ul > li.accselect.container > div:hover,
form.editor ul.autoload[class*=disabled-] li.container > div,
form.editor ul.autoload[class*=disabled-] li.container > div:hover,
form.editor ul.autoload[class*=disabled-] li.accselect.container > div,
form.editor ul.autoload[class*=disabled-] li.accselect.container > div:hover,
form.editor ul.autoload[class*=disabled-] li ul > li.container > div,
form.editor ul.autoload[class*=disabled-] li ul > li.container > div:hover,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect.container > div,
form.editor ul.autoload[class*=disabled-] li ul > li.accselect.container > div:hover, form.editor.disabled ul.autoload li.container > div,
form.editor.disabled ul.autoload li.container > div:hover, form.editor.disabled ul.autoload li.accselect.container > div,
form.editor.disabled ul.autoload li.accselect.container > div:hover, form.editor.disabled ul.autoload li ul > li.container > div,
form.editor.disabled ul.autoload li ul > li.container > div:hover, form.editor.disabled ul.autoload li ul > li.accselect.container > div,
form.editor.disabled ul.autoload li ul > li.accselect.container > div:hover,
form.editor [class*=disabled-] ul.autoload li.container > div,
form.editor [class*=disabled-] ul.autoload li.container > div:hover,
form.editor [class*=disabled-] ul.autoload li.accselect.container > div,
form.editor [class*=disabled-] ul.autoload li.accselect.container > div:hover,
form.editor [class*=disabled-] ul.autoload li ul > li.container > div,
form.editor [class*=disabled-] ul.autoload li ul > li.container > div:hover,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect.container > div,
form.editor [class*=disabled-] ul.autoload li ul > li.accselect.container > div:hover {
  background: transparent;
  border-bottom: #e0e0e0 1px solid;
  cursor: default;
}

/*# sourceMappingURL=default-autoload.css.map */
