﻿
@use "sass:math";
@import 'default-cms-design';
@import "default-mixin";
@import "default-html";
@import 'form-default';

@mixin flexrow-autoload-li {
    @include flexbox();
    @include flex(0, 0, auto);
    @include flex-direction(row);
    width: auto;
    min-width: 100%;
    height: auto;
    overflow: initial;

    background: none;
    @include borderBottom($autoload-accselect-border-width, solid, $autoload-accselect-border-bottom-color-light, $autoload-accselect-border-bottom-color-dark);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    position: relative;

    padding: 6px 2px;

    > span {
        @include flexbox();
        @include flex(1, 0, auto);
        @include flex-direction(row);
        flex-wrap: nowrap;
        align-items: baseline;

        &.shrink {
            @include flex(0, 0, auto);
        }

        &.right {
            justify-content: flex-end;
        }

        &.center {
            justify-content: center;
        }

        &.no-overflow {
            overflow: hidden;
        }
    }

    > span.hoverMenu {
        display: none;
        flex: auto;
    }

    &.header {
        &:hover {
            background: none
        }

        &.sortable {
            cursor: pointer;
        }

        > div, > span {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
            @include borderLeft(
                            $autoload-accselect-border-width,
                            solid,
                            $autoload-accselect-border-bottom-color-light,
                            $autoload-accselect-border-bottom-color-dark
            );
            padding-left: 2px;

            @include form-font-size($autoload-header-font-scale);
            @include color($autoload-header-font-color-light, $autoload-header-font-color-dark);
            font-weight: $autoload-header-font-weight;

            &:first-child {
                border-left: none;
                padding-left: 0;
            }

            &.sorting-asc {
            }

            &.sorting-desc {
            }
        }

        > div, > span:first-child {
            padding-left: 0
        }
    }

    &:hover {
        > span.hoverMenu {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            @include inline-flex();
            @include flex(0,0,0);
            @include flex-center(center);
            z-index: +1;
        }
    }

    &.inactive {
        @include color(
                        $autoload-accselect-inactive-light,
                        $autoload-accselect-inactive-dark);
    }


    @content;
}

@mixin default-autoload-listitem-hover {
    > span.hoverMenu {
        display: none;
    }

    &:hover {
        @include backgroundColor($colors-highlight-light, $colors-highlight-dark);
        @include borderBottom(
                        $autoload-accselect-border-width,
                        solid,
                        $autoload-accselect-border-bottom-color-light,
                        $autoload-accselect-border-bottom-color-dark);

        &.hover-no-highlighting {
            background: transparent;
            @include borderBottom(
                            $autoload-accselect-border-width,
                            solid,
                            $autoload-accselect-border-bottom-color-light,
                            $autoload-accselect-border-bottom-color-dark);
        }

        > span.hoverMenu {
            display: block;
            width: auto;
            @include backgroundColor($colors-highlight-light, $colors-highlight-dark);
        }
    }
}

@mixin default-autoload() {
    ul {
        &.autoload {
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            font-size: 0;
            display: block;
            flex: auto;

            > li,
            > li.autoload {
                padding: 2px 3px;
                display: block;
                outline: none;
                font-size: 0;
                line-height: 0;

                &.loadmore {
                    background: url($autoload-accselect-loadmore-image) no-repeat 50% 0;
                    min-height: 16px;
                }

                &.error {
                    color: red;
                }

                > span {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @include form-font-size();

                    > i {
                        &[class^="icon-"],
                        &[class*=" icon-"] {
                            margin-left: 4px;
                            margin-right: 4px;
                            vertical-align: middle;
                        }
                    }
                }

                &.header {
                    &:hover {
                        background: none
                    }

                    &.sortable {
                        cursor: pointer;

                    }

                    > div, > span {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin: 0;
                        padding: 0;
                        font-weight: bold;

                        @include borderLeft(
                                        $autoload-accselect-border-width,
                                        solid,
                                        $autoload-accselect-border-bottom-color-light,
                                        $autoload-accselect-border-bottom-color-dark);
                        padding-left: 2px;

                        &:first-child {
                            border-left: none;
                            padding-left: 0;
                        }

                        &.sortable {
                            &[class^="icon-"],
                            &[class*=" icon-"] {
                                &:before {
                                    margin-left: 4px;
                                    margin-right: 4px;
                                    vertical-align: middle;
                                }
                            }
                        }

                        &.sorting-asc {
                        }

                        &.sorting-desc {
                        }
                    }

                    > div, > span:first-child {
                        padding-left: 0
                    }
                }

                &.accselect {
                    background: none;
                    //border-bottom: $autoload-border-color $autoload-border-width solid;
                    @include borderBottom(
                                    $autoload-accselect-border-width,
                                    solid,
                                    $autoload-accselect-border-bottom-color-light,
                                    $autoload-accselect-border-bottom-color-dark
                    );
                    font-size: 0;
                    -webkit-transition: none;
                    -moz-transition: none;
                    -o-transition: none;
                    -ms-transition: none;
                    transition: none;
                    position: relative;

                    > span {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        vertical-align: top;
                        margin-left: 0;
                        margin-right: 0;

                        > p {
                            margin: 0;
                            padding: 0;
                            white-space: normal;
                        }

                        &.hoverMenu {
                            display: none;
                            white-space: nowrap;
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            padding: 6px 2px;
                        }
                    }

                    &.clickable {
                        cursor: pointer;

                        &.disabled &,
                        form.disabled & {
                            cursor: default;
                        }
                    }

                    &.unread {
                        > span {
                            font-weight: bold;
                        }
                    }

                    &.inactive {
                        @include color(
                                        $autoload-accselect-inactive-light,
                                        $autoload-accselect-inactive-dark);
                    }

                    &.linethrough {
                        text-decoration: line-through;

                        > span {
                            text-decoration: line-through;
                        }
                    }

                    &.notify {
                        @include backgroundColor($autoload-accselect-notify-light, $autoload-accselect-notify-dark);
                    }

                    &.notifyDone {
                        -webkit-transition: background-color 500ms linear;
                        -moz-transition: background-color 500ms linear;
                        -o-transition: background-color 500ms linear;
                        -ms-transition: background-color 500ms linear;
                        transition: background-color 500ms linear;
                    }

                    &.selected {
                        @include backgroundColor($autoload-accselect-selected-light, $autoload-accselect-selected-dark);
                    }

                    @include default-autoload-listitem-hover();

                    > span {
                        @include borderLeft(
                                        $autoload-accselect-border-width,
                                        solid,
                                        $autoload-accselect-border-bottom-color-light,
                                        $autoload-accselect-border-bottom-color-dark
                        );
                        padding-left: 2px;

                        &:first-child {
                            border-left: none;
                            padding-left: 0;
                        }

                        > span.avatar,
                        > img.avatar {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            object-fit: cover;
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                            font-size: 10px;
                            line-height: 10px;
                            overflow: hidden;
                            vertical-align: text-top;
                        }
                    }

                    &.dragged {
                        background: red;
                    }

                    &.highlight {
                        @include backgroundColor($autoload-accselect-highlight-light, $autoload-accselect-highlight-dark);
                    }

                    &.placeholder {
                        background: yellow;
                    }

                    &.error {
                        color: red;
                    }

                    &.total-sum {
                        @include borderTop(3px, double, $autoload-accselect-border-bottom-color-light, $autoload-accselect-border-bottom-color-dark);
                        border-bottom: none;
                    }
                }

                &.inline {
                    border-bottom: none;
                    padding-top: 0;
                    padding-bottom: 0;
                }

                &.indent {
                    @if mixin-exists(default-padding-left) {
                        @include default-padding-left(2);
                    }
                }
            }

            &.placeholder {
                background: yellow;
            }

            &.disabled {
                > li.accselect:hover,
                > li.accselect.clickable,
                form.editor.disabled & {
                    &, &:hover {
                        background: none;
                        @include borderBottom(
                                        $autoload-accselect-border-width,
                                        solid,
                                        $autoload-accselect-border-bottom-color-light,
                                        $autoload-accselect-border-bottom-color-dark
                        );
                        cursor: default;
                    }
                }
            }

            &.limit-height {
                height: 450px;
                max-height: 70%;
            }

            &.dragging {
                > li {
                    &.accselect, &.autoload.accselect:hover {
                        background-color: transparent;
                        @include borderBottom(
                                        $autoload-accselect-border-width,
                                        solid,
                                        $autoload-accselect-border-bottom-color-light,
                                        $autoload-accselect-border-bottom-color-dark
                        );
                    }

                    &.sortable-ghost {
                        > span {
                            color: #888;
                        }
                    }
                }
            }

            &.action-comments {
                > li {
                    &.header {
                        display: none;
                    }

                    > div {
                        display: block;
                        background: white;
                        margin: 2px;
                        box-shadow: 0 0 2px #888;

                        @if mixin-exists(default-padding) {
                            @include default-padding();
                        }

                        > div {
                            &.msg {
                            }

                            &.created {
                                @include form-font-size();
                                color: silver;

                                @if mixin-exists(default-margin) {
                                    @include default-margin(1, 0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.flexrows {
            @include flexbox();
            @include flex(1, 0, auto);
            @include flex-direction(column);
            overflow-x: auto;

            > li,
            > li.autoload {
                @include flexrow-autoload-li;
            }
        }

        > div.loadMore {
            background: transparent url(../image/waiting.16.gif) no-repeat 50%;
            height: 16px;
            padding: 1px;
            display: block;

            &.error {
                background: none
            }
        }

        > li.editor {
            background: $color-editor;
            padding: 0; // $default-box-spacing;
            border-top: 1px solid darken($color-editor, 10%);
            border-bottom: 1px solid darken($color-editor, 10%);
            margin-top: -1px;

            > form {
                padding: $default-box-spacing;

                > ul > li {
                    > ul#dnsNames li {
                        width: 100%;
                        cursor: pointer;

                        &.header {
                            font-weight: bold;
                            cursor: default;

                            &:hover {
                                background-color: inherit
                            }
                        }

                        &.default {
                            color: green;
                            font-weight: bold
                        }

                        span {
                            display: inline-block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding: 0;
                            margin: 0;

                            &.bttns {
                                display: none;
                                float: right
                            }

                            a {
                                color: #444
                            }
                        }

                        &.deleted {
                            cursor: default;

                            span {
                                text-decoration: line-through;
                                color: #aaa
                            }
                        }

                        &:hover {
                            background-color: #eee;

                            span.bttns {
                                display: inline-block
                            }
                        }
                    }

                    @media all and (max-width: 767px) {
                        width: 100%;
                        display: block;

                        &.spacing {
                            display: none;
                        }
                    }
                }
            }
        }

        &.dragging {
            > li {
                &.accselect, &.autoload.accselect:hover {
                    background-color: transparent;
                    //border-bottom: #f0f0f0 1px solid; // FIX: replace with variables
                    @include borderBottom(
                                    $autoload-accselect-border-width,
                                    solid,
                                    $autoload-accselect-border-bottom-color-light,
                                    $autoload-accselect-border-bottom-color-dark
                    );
                }

                &.sortable-ghost {
                    > span {
                        color: #888;
                    }
                }
            }
        }

        &.autoload {
            > li.container,
            > li.container ul > li.container {
                display: block;
                width: 100%;
                margin: 0;
                padding: 0;
                border: 0;
                line-height: 0;
                user-select: none;
                flex: none;

                > div {
                    @include flexrow-autoload-li {}

                    @include flex(1, 0, auto);
                }

                > ul.autoload {
                    margin-left: 25px;
                }

                &.accselect:hover {
                    $border-color: inherit;
                    background: inherit;
                    border-bottom: inherit;

                    > div {
                        @include default-autoload-listitem-hover();
                    }
                }
            }
        }

        &.user-select-none
        {
            @include user-select-none();
        }
    }
}

@include default-autoload();

form.editor {
    ul.autoload.disabled,
    ul.autoload[class*="disabled-"],
    &.disabled ul.autoload,
    [class*="disabled-"] ul.autoload,{
        li, li ul > li {
            &.accselect {
                background: transparent;
                border-color-bottom: $autoload-border-color-disabled;
                cursor: default;

                &:hover, &.clickable {
                    background: transparent;
                    border-color-bottom: $autoload-border-color-disabled;
                    cursor: default;
                }

                &, &.container {
                    &:hover {
                        background: transparent;
                        border-color-bottom: $autoload-border-color-disabled;
                        cursor: default;

                        span.hoverMenu {
                            display: none;
                        }
                    }
                }
            }

            &.container,
            &.accselect.container {
                background: transparent;
                border-bottom: transparent none;
                cursor: default;

                > div,
                > div:hover {
                    background: transparent;
                    @include borderBottom($autoload-border-width, solid, $autoload-border-color-disabled, $autoload-border-color-disabled);
                    cursor: default;
                }
            }
        }
    }
}
