@use "sass:math";

$default-mixin-blockquote-border: 2px solid blue !default;
$default-mixin-blockquote-border-2: teal !default;
$default-mixin-blockquote-border-3: green !default;
$default-mixin-blockquote-border-4: cyan !default;

$default-mixin-blockquote-background: none !default;
$default-mixin-blockquote-padding-left: 1 !default;
$default-mixin-blockquote-padding-right: 0 !default;
$default-mixin-blockquote-padding-top: 0 !default;
$default-mixin-blockquote-padding-bottom: 0 !default;
$default-mixin-text-margin-bottom: 0.75 !default;

$default-mixin-heading-font-weight: bold !default;
$default-mixin-h1-font-scale: 1 !default;
$default-mixin-h1-text-align: center !default;
$default-mixin-h2-font-scale: 1 !default;
$default-mixin-h3-font-scale: 1 !default;
$default-mixin-p-align: justify !default;

$default-text-li-margin-top-scale: 0 !default;
$default-text-li-margin-right-scale: 0 !default;
$default-text-li-margin-bottom-scale: 0.25 !default;
$default-text-li-margin-left-scale: 2.5 !default;

$default-mixin-table-border-color: #e0e0e0 !default;
$default-mixin-table-background-color-odd: none !default;
$default-mixin-table-background-color-even: #f8f8f8 !default;

$dark-default-mixin-table-border-color: #2e2e2e !default;
$dark-default-mixin-table-background-color-odd: none !default;
$dark-default-mixin-table-background-color-even: #515151 !default;


@function stripUnit($value) {
    @return math.div($value, ($value * 0 + 1));
}

@function pixelRem($pixels) {
    // @return (stripUnit($pixels) / stripUnit($default-pixel-per-rem)) + rem;
    @return #{math.div(stripUnit($pixels), stripUnit($default-pixel-per-rem))}rem;
}

@function remToPixel($rem) {
    @return (stripUnit($rem) * stripUnit($default-pixel-per-rem)) * 1px;
}

@function empty($value) {
    @if not $value 
              or $value == "" 
              or $value == 0
              or $value == ()
              or length($value) == 0 {
        @return true;
    }
    @return false;
}


@mixin boxSizing($box-sizing: border-box) {
    -moz-box-sizing: $box-sizing;
    -webkit-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

@mixin textOverflow($text-overflow: ellipsis) {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

// https://engageinteractive.co.uk/blog/top-10-scss-mixins
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin reset-style {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        //font-size: 100%;
        //font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

@mixin default-image {
    background: white;
    @include default-padding(0.25);
    max-width: 100%;

    &.left {
        clear: both;
        float: left;
        @include default-margin(0.125, 0.25, 0.125, 0);
    }

    &.right {
        clear: both;
        float: right;
        @include default-margin(0.125, 0, 0.125, 0.25);
    }

    &.center {
        float: none;
        display: block;
        max-width: 100%;
        @include default-margin(0.125, 0, 0.125, 0);
        margin-left: auto;
        margin-right: auto;
    }

    &.max {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
    }
}

@mixin default-text(
    $space-top: 0,
    $space-bottom: $default-mixin-text-margin-bottom,
    $h1-font-scale: $default-mixin-h1-font-scale,
    $h2-font-scale: $default-mixin-h2-font-scale,
    $h3-font-scale: $default-mixin-h3-font-scale)
{
    @include reset-style();

    @if mixin-exists(default-font) {
        @include default-font(1);
    }

    a {
        &, &:active, &:focus, &:visited, &:hover {
            //color: $color-nh-blue;
            text-decoration: none;
        }
    }

    @if mixin-exists(default-margin) {
        h1, h2, h3, h4, h5, h6, p, ul, ol, pre, q, blockquote, table {
            @include default-margin($space-top, 0, $space-bottom, 0);
        }
    }

    li {
        @if mixin-exists(default-margin) {
            @include default-margin(0);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: $default-mixin-heading-font-weight;
    }

    @if $h1-font-scale != 1 {
        h1 {
            @include default-font($h1-font-scale, $default-line-height, $default-mixin-heading-font-weight);
        }
    }

    @if variable-exists($default-mixin-h1-text-align) {
        h1 {
            text-align: $default-mixin-h1-text-align;
        }
    }

    @if $h2-font-scale != 1 {
        h2 {
            @include default-font($h2-font-scale, $default-line-height, $default-mixin-heading-font-weight);
        }
    }

    @if $h3-font-scale != 1 {
        h3 {
            @include default-font($h3-font-scale, $default-line-height, $default-mixin-heading-font-weight);
        }
    }

    b, strong {
        font-weight: bold;
    }

    em {
        font-style: italic;

        &.marked {
            font-style: normal;
        }
    }

    p {
        @if empty($default-mixin-p-align) == false {
            text-align: $default-mixin-p-align;
        }

        > code {
            font-family: "Courier New", Courier, monospace;
            white-space: pre-wrap;
            background: #f0f0f0;
            display: inline;
        }

        > img {
            @include default-image();
        }

        &:empty {
            display: none;
        }
    }

    blockquote {
        background: $default-mixin-blockquote-background;
        border-left: $default-mixin-blockquote-border;

        @if mixin-exists(default-padding) {
            @include default-padding($default-mixin-blockquote-padding-top, $default-mixin-blockquote-padding-right, $default-mixin-blockquote-padding-bottom, $default-mixin-blockquote-padding-left);
        }

        blockquote {
            border-color: $default-mixin-blockquote-border-2;

            blockquote {
                border-color: $default-mixin-blockquote-border-3;

                blockquote {
                    border-color: $default-mixin-blockquote-border-4;
                }
            }
        }
    }

    pre {
        code {
            font-family: "Courier New", Courier, monospace;
            display: block;
            white-space: pre-wrap;
        }
    }

    ul > li {
        list-style-type: disc;
    }

    ol > li {
        list-style-type: decimal;
    }

    ul, ol {
        list-style-position: inside;

        ul {
            list-style-type: circle;
            @if mixin-exists(default-margin) {
                @include default-margin(0);
            }
        }

        ol {
            list-style-type: lower-latin;
            @if mixin-exists(default-margin) {
                @include default-margin(0);
            }
        }

        li {
            display: list-item;
            @include default-margin(
                            $default-text-li-margin-top-scale,
                            $default-text-li-margin-right-scale,
                            $default-text-li-margin-bottom-scale,
                            $default-text-li-margin-left-scale);
            padding:0;
            list-style-position: outside;
            width: auto;
            min-height: auto;

            @if empty($default-mixin-p-align) == false {
                text-align: $default-mixin-p-align;
            }

            span {
                @include default-font();
            }
        }
    }

    sub {
        vertical-align: sub;
    }

    sup {
        vertical-align: super;
    }

    del {
        text-decoration-line: line-through;
    }

    table {
        border: 1px solid $default-mixin-table-border-color;

        > thead, > tbody {
            > tr {
                > td, > th {
                    text-align: left;
                    padding: 5px 2px;

                    @include default-font();

                    border: 1px solid colorSchemeColor($default-mixin-table-border-color, $dark-default-mixin-table-border-color);
                }
            }
        }

        > thead {
            > tr  {
                background: colorSchemeColor($default-mixin-table-background-color-even, $dark-default-mixin-table-background-color-even);

                > th {
                    font-weight: bold;
                }
            }
        }

        > tbody {
            > tr {
                &:nth-child(odd) {
                    background: colorSchemeColor($default-mixin-table-background-color-odd, $dark-default-mixin-table-background-color-odd);
                }

                &:nth-child(even) {
                    background: colorSchemeColor($default-mixin-table-background-color-even, $dark-default-mixin-table-background-color-even);
                }

                > td {
                    *:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    @content
}

@mixin hide-scrollbars {
    //-ms-overflow-style: -ms-autohiding-scrollbar;
    /*overflow: -moz-scrollbars-none;*/
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media all and (-ms-high-contrast:none)
    {
        *::-ms-backdrop {
            overflow: auto;
        }
    }

    &::-webkit-scrollbar {
        display: none;
        width: 0; /* remove scrollbar space */
        background: transparent; /* optional: just make scrollbar invisible */
    }
}

// Flexbox mixin
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mixins
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

// Using this mixin
%flexbox { @include flexbox; }

@mixin inline-flex {
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

%inline-flex { @include inline-flex; }

@mixin flex-direction($value: row) {
    @if $value == row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
        -moz-box-direction: reverse;
        -moz-box-orient: horizontal;
    } @else if $value == column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
    } @else if $value == column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        -moz-box-direction: reverse;
        -moz-box-orient: vertical;
    } @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-direction: normal;
        -moz-box-orient: horizontal;
    }
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

// Shorter version:
@mixin flex-dir($args...) { @include flex-direction($args...); }

@mixin flex-wrap($value: nowrap) {
    // No Webkit/FF Box fallback.
    -webkit-flex-wrap: $value;
    @if $value == nowrap {
        -ms-flex-wrap: initial;
    } @else {
        -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}

@mixin flex-flow($values: (row nowrap)) {
    // No Webkit/FF Box fallback.
    -webkit-flex-flow: $values;
    -ms-flex-flow: $values;
    flex-flow: $values;
}

@mixin flex-order($int: 0) {
    -webkit-box-ordinal-group: $int + 1;
    -moz-box-ordinal-group: $int + 1;
    -webkit-order: $int;
    -ms-flex-order: $int;
    order: $int;
}

// obsolete
@mixin order($int: 0) {
    @include flex-order($int);
}

@mixin flex-grow($int: 1) {
    -webkit-box-flex: $int;
    -moz-box-flex: $int;
    -webkit-flex-grow: $int;
    -ms-flex: $int;
    flex-grow: $int;
}

@mixin flex-shrink($int: 0) {
    -webkit-flex-shrink: $int;
    -moz-flex-shrink: $int;
    -ms-flex: $int;
    flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
    -webkit-flex-basis: $value;
    flex-basis: $value;
}

@mixin flex($fg: 1, $fs: 0, $fb: auto) {
    // Set a variable to be used by box-flex properties
    $fg-boxflex: $fg;

    // Box-Flex only supports a flex-grow value so lets grab the
    // first item in the list and just return that.
    @if type-of($fg) == 'list' {
        $fg-boxflex: nth($fg, 1);
    }

    -webkit-box: $fg-boxflex;
    -moz-box: $fg-boxflex;
    -webkit-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}

@mixin justify-content($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;
    } @else {
        -webkit-box-pack: $value;
        -moz-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    justify-content: $value;
}

// Shorter version:
@mixin flex-just($args...) { @include justify-content($args...); }

@mixin align-items($value: stretch) {
    @if $value == flex-start {
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
    } @else if $value == flex-end {
        -webkit-box-align: end;
        -moz-box-align: end;
        -ms-flex-align: end;
    } @else {
        -webkit-box-align: $value;
        -moz-box-align: $value;
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    align-items: $value;
}

@mixin align-self($value: auto) {
    // No Webkit Box Fallback.
    -webkit-align-self: $value;
    @if $value == flex-start {
        -ms-flex-item-align: start;
    } @else if $value == flex-end {
        -ms-flex-item-align: end;
    } @else {
        -ms-flex-item-align: $value;
    }
    align-self: $value;
}

@mixin align-content($value: stretch) {
    // No Webkit Box Fallback.
    -webkit-align-content: $value;
    @if $value == flex-start {
        -ms-flex-line-pack: start;
    } @else if $value == flex-end {
        -ms-flex-line-pack: end;
    } @else {
        -ms-flex-line-pack: $value;
    }
    align-content: $value;
}

@mixin user-select-none {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin user-select($user-select: auto) {
    -moz-user-select: $user-select;
    -khtml-user-select: $user-select;
    -webkit-user-select: $user-select;
    user-select: $user-select;
}

/// https://codepad.co/snippet/scss-mixin-calculate-color-contrast-between-foreground-and-background-color
///
/// Mixin that calculates if text needs to be light or dark, depending on the background color passed.
/// Color brightness is determined by the following formula:
/// ((Red value X 299) + (Green value X 587) + (Blue value X 114)) / 1000
/// @author David Halford
/// @link https://codepen.io/davidhalford/pen/wlDxL
/// @link http://www.webmasterworld.com/r.cgi?f=88&d=9769&url=http://www.w3.org/TR/AERT#color-contrast
/// @param {Color} $color Color
/// @returns {Color} Light or dark color depending on the contrast to $color
@function text-contrast($color) {
    $contrast-color: #ffffff;

    $color-brightness: round(
                    math.div((red($color) * 299) + (green($color) * 587) + (blue($color) * 114), 1000)
    );

    $light-color: round(
                    math.div((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114), 1000)
    );

    @if abs($color-brightness) < math.div($light-color, 2) {
        $contrast-color: #fff;
    } @else {
        $contrast-color: #000;
    }

    @return $contrast-color;
}



//@mixin markdown-alert {
//    div {
//        &.markdown-alert {}
//
//        padding: 0 1em;
//        margin-bottom: 16px;
//        color: inherit;
//        border-left: .25em solid var(--color-border-default);
//
//        &.markdown-alert-important {
//            :root {
//                --fgColor-accent: #0969da;
//                --color-accent-fg: #0969da;
//            }
//
//            border-left-color: var(--color-done-fg);
//        }
//
//        &.markdown-alert-warning {
//            border-left-color: var(--color-attention-fg);
//        }
//
//        &.markdown-alert-warning {
//            border-left-color: var(--color-attention-fg);
//        }
//
//        >:last-child {
//            margin-bottom: 0;
//        }
//        >:first-child {
//            margin-top: 0;
//        }
//
//        > span {
//            &.d-inline-flex {
//                display: inline-flex !important;
//            }
//
//            &.flex-items-center {
//                align-items: center !important;
//            }
//
//            &.color-fg-accent {
//                color: var(--fgColor-accent, var(--color-accent-fg)) !important;
//            }
//            
//            > svg {
//                overflow: visible !important;
//                vertical-align: text-bottom;
//                fill: currentColor;
//            }
//        }
//    }
//}