@use "sass:math";
@use "sass:map";
@use "sass:string";
@use 'sass:color';

@import 'default-cms-design';



@mixin default-html-body-color-scheme {
  html {
	content: "";
  }

  @media (prefers-color-scheme: light) {
	html {
	  content: "light";
	}
  }

  @media (prefers-color-scheme: dark) {
	html {
	  content: "dark";
	}
  }

  body {
	&.color-scheme-light {
	  /* forces light color-scheme */
	  color-scheme: light !important;
	}

	&.color-scheme-dark {
	  /* forces dark color-scheme */
	  color-scheme: dark !important;
	}
  }
}

@mixin do-not-include {
  @media (prefers-color-scheme: dark) {
	/* Dark theme styles go here */

	/* Apply the filter directly on the body tag */
	body.dark-theme img {
	  filter: brightness(.8) contrast(1.2);
	}

	img {
	  filter: brightness(.8) contrast(1.2);
	}
  }

  @media (prefers-color-scheme: light) {
	/* Light theme styles go here */
  }
}

@function colorInvert($color) {
  @if $color == "none" {
	@return $color;
  }

  @if $color == "transparent" {
	@return $color;
  }
	
  @return invert($color);
}

@function colorSchemeColor($light, $dark: colorInvert($light)) {
  @if $light == "none" {
	@return $light;
  } @else {
	@return light-dark($light, $dark);
  }
}

@mixin color($light: black, $dark: colorInvert($light)) {
  color: $light;
  color: light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: color $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin backgroundColor($light: white, $dark: colorInvert($light)) {
  background-color: $light;
  background-color: light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: background-color $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin border($width, $line-style, $light: white, $dark: $light) {
  // Added fix for "none" value
  border: $width $line-style $light;

  @if $light != "none" {
	$darken: $dark;
	@if $light == $dark {
	  $darken: invert($light);
	}

	border: $width $line-style light-dark($light, $darken);

	@if variable-exists(color-scheme-transiton-duration) {
	  transition: border-color $color-scheme-transiton-duration ease-in-out;
	}
  }
}

@mixin borderLeft($width, $style, $light: white, $dark: colorInvert($light)) {
  border-left: $width $style $light;
  border-left: $width $style light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: border-left $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin borderRight($width, $style, $light: white, $dark: colorInvert($light)) {
  border-right: $width $style $light;
  border-right: $width $style light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: border-right $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin borderTop($width, $style, $light: white, $dark: colorInvert($light)) {
  border-top: $width $style $light;
  border-top: $width $style light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: border-top $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin borderBottom($width, $style, $light: white, $dark: colorInvert($light)) {
  border-bottom: $width $style $light;
  border-bottom: $width $style light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: border-bottom $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin borderColor($light: white, $dark: colorInvert($light), $fallback: $light) {
  border-color: $fallback;
  border-color: light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: border-color $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin boxShadow($x, $y, $width, $light: white, $dark: colorInvert($light)) {
  box-shadow: $x $y $width $light;
  box-shadow: $x $y $width light-dark($light, $dark);

  @if variable-exists(color-scheme-transiton-duration) {
	transition: box-shadow $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin textShadow($horizontal, $vertical, $blur, $light, $dark: colorInvert($light)) {
  text-shadow: $horizontal $vertical $blur $light;
  text-shadow: $horizontal $vertical $blur light-dark($light, $dark);;

  @if variable-exists(color-scheme-transiton-duration) {
	transition: text-shadow-color $color-scheme-transiton-duration ease-in-out;
  }
}

@mixin font($font-family: $font-family, $font-weight: $font-family-weight, $font-size-scale) {
  font-family: $font-family;
  font-weight: $font-weight;

  @if ($font-size-scale != null) {
	@include default-font($font-size-scale);
  }
}