﻿@use "sass:math";

@import "default-cms-design";

// $itemHeight
$form-item-height: //remToPixel($default-line-height) + (2 * $form-element-padding) + (2 * $form-element-border-width) + (2 * $form-element-margin) !default;
    calc($default-line-height + ((2 * $form-element-padding) + (2 * $form-element-border-width) + (2 * $form-element-margin))) !default;

// $colorEditor 
$color-editor: white !default; // #f6f9f9 !default;
// $colorDeleted
$color-deleted: #ccc !default;
$color-deleted-light: #ccc !default;
$color-deleted-dark: #888 !default;
// $colorDisabled
$color-disabled: $colors-disabled-light !default;
// $colorDisabledDeleted
$color-disabled-deleted: #ccc !default;

// action background color
$color-action: #187cc5 !default;
// action text color
$color-action-text: white !default;
// Button color add
$color-action-add: #50a05a !default;
// Alert color
$color-action-alert: #dd9838 !default;
// $colorActionDelete
$color-action-delete: #c52818 !default;
// $colorActionDisabled
$color-action-disabled: #ccc !default;
// $colorActionDisabledText
$color-action-disabled-text: #eee !default;
$color-shadow: #bbb !default;
$color-avatar-background: #c6e1fc !default;

// $fancyButton-font-weight
$fancyButton-font-weight: normal !default;
$fancyButton-border-radius: 2px !default;
$fancybutton-icon-min-width: initial !default;
$fancybutton-icon-min-align: left !default;
$fancybutton-icon-padding-right: $form-spacing * 2 !default;
$fancybutton-box-padding-left: $form-spacing * 4 !default;
$fancybutton-box-padding-right: $form-spacing * 4 !default;

$form-default-background: $color-editor !default;

// Portal
$portal-navigation-background: #313639 !default;
$portal-navigation-width: 200px !default;
$width-10-characters: 10em !default;

$form-wait-for-load-done-image: '../image/loading-bar.gif' !default;
$form-uapl-container-background-loading: #fff url(../image/loading.gif) no-repeat 100% 50% !default;
$form-uapl-container-background-search: #fff url(../image/search.png) no-repeat 100% 50% !default;

$form-element-background: white !default;
$form-select-background-icon-plus: transparent url(../image/plus.svg) no-repeat right !default;

$loading-indicator-background: #ff0 !default;
$loading-indicator-color: black !default;

//$portal-navigation-tab-container-background-color: #3f3f4f !default;

// $portal-navigation-tab-container-hover-background-color: #f9f9f9 !default;

//$portal-navigation-tab-container-height: 1rem !default;
$portal-navigation-tab-container-line-height: $default-font !default;
$portal-navigation-tab-container-spacing: 0.5rem !default;
$portal-navigation-tab-container-spacing-vertical: 1.5rem !default;

$portal-navigation-avatar-background: #888 !default;
$portal-navigation-avatar-border-width: 2px !default;
$portal-navigation-avatar-border: $portal-navigation-avatar-border-width solid #fff !default;

$_portal-navigation-avatar-size_height: $default-line-height;// remToPixel($default-line-height);
$_portal-navigation-avatar-size_border_width: $portal-navigation-avatar-border-width;
$_portal-navigation-avatar-number-lines: 2.5;

$portal-navigation-avatar-size: calc(($_portal-navigation-avatar-size_height * $_portal-navigation-avatar-number-lines) + $_portal-navigation-avatar-size_border_width);



$button-bar-border-color: #c0c0c0 !default;
$button-bar-button-color: #444 !default;
$button-bar-background-color: #f8f8f8 !default;
$button-bar-background-color-hover: #fcfcfc !default;
$button-bar-avatar-width: 25px !default;

.litepicker { font-size: 1em; }

@media (prefers-color-scheme: dark) {
    :root {
        --litepicker-container-months-color-bg: #{$modal-background-color-dark};
        //--litepicker-container-months-box-shadow-color: #ddd;
        //--litepicker-footer-color-bg: #fafafa;
        --litepicker-footer-box-shadow-color: #{$modal-shadow-color-dark};
        --litepicker-tooltip-color-bg: #{$modal-background-color-dark};
        //--litepicker-month-header-color: #333;
        //--litepicker-button-prev-month-color: #9e9e9e;
        //--litepicker-button-next-month-color: #9e9e9e;
        //--litepicker-button-prev-month-color-hover: #2196f3;
        //--litepicker-button-next-month-color-hover: #2196f3;
        //--litepicker-month-width: calc(var(--litepicker-day-width) * 7);
        //--litepicker-month-weekday-color: #9e9e9e;
        //--litepicker-month-week-number-color: #9e9e9e;
        //--litepicker-day-width: 38px;
        --litepicker-day-color: #{$form-element-color-dark};
        --litepicker-day-color-hover: #{darken(#2196f3, 10%)};
        --litepicker-is-today-color: #{darken(#f44336, 10%)};
        //--litepicker-is-in-range-color: #bbdefb;
        //--litepicker-is-locked-color: #9e9e9e;
        //--litepicker-is-start-color: #fff;
        //--litepicker-is-start-color-bg: #2196f3;
        //--litepicker-is-end-color: #fff;
        //--litepicker-is-end-color-bg: #2196f3;
        //--litepicker-button-cancel-color: #fff;
        //--litepicker-button-cancel-color-bg: #9e9e9e;
        //--litepicker-button-apply-color: #fff;
        //--litepicker-button-apply-color-bg: #2196f3;
        //--litepicker-button-reset-color: #909090;
        //--litepicker-button-reset-color-hover: #2196f3;
        //--litepicker-highlighted-day-color: #333;
        //--litepicker-highlighted-day-color-bg: #ffeb3b
    }
}




@mixin form-font-size($scale: 1) {
    font-size: $default-font * $scale; /* 13px */
    line-height: $default-line-height * $scale; /* 16px */
}

@mixin form-font-as-height($scale: 1, $addition: 0) {
    height: ($default-line-height * $scale + pixelRem($addition));
}

@mixin set-ease-in-out($st) {
    -webkit-transition: $st .15s ease-in-out;
    -moz-transition: $st .15s ease-in-out;
    -ms-transition: $st .15s ease-in-out;
    -o-transition: $st .15s ease-in-out;
    transition: $st .15s ease-in-out;
}

@mixin markdown-pre-code {
    pre {
        background: #f8f8f8;
        padding: $form-element-padding;
    }
}

@mixin flex-center($align-self: flex-start) {
    align-items: center;
    justify-content: center;
    align-self: $align-self;
}

@mixin action-menu {
    background: white;
    z-index: 9999;

    margin: 0;
    border: $form-element-border-color solid $form-element-border-width;
    padding: 0;

    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;

    > ul {
        list-style-type: none;
        white-space: nowrap;
        border: none;

        > li {
            padding: 5px;
            display: block;

            > a {
                white-space: nowrap;
                display: inline-block;

                &.disabled {
                    color: silver;
                    cursor: default;
                }

                > i {
                    margin-left: .2em;
                    //margin-right: .2em;
                    //width: 1em;
                    display: inline-block;
                    margin-right: ($form-spacing * 2);
                    vertical-align: baseline;
                }
            }
        }
    }

    &.highlight {
        > ul {
            > li:hover {
                background: $color-highlight; //  #c6e1fc;
            }
        }
    }
}

@mixin all-pseudo-classes() {
    &, &:active, &:focus, &:visited, &:hover {
        @content
    }
}