$overlay-button-bar-height: 54px !default;
$overlay-button-bar-border-width: 1px !default;
$overlay-small-width: 500px !default;

@import 'default-mixin';
@import 'form-default';
@import 'responsive';
@import 'portal-tab-container';

@mixin div-details-flex-fill {
    @include flexbox();
    @include flex(1, 0, 0);
    @include flex-direction(column);
    position: relative;
    height: auto;
    overflow: hidden;

    > h2 {
        @include flexbox();
        @include flex(0, 0, auto);
        @include default-margin(-1, -1, 1, -1);
        @include default-padding(1, 1.5, 1, 1.5);
        // background: $form-title-background-color;
        @include backgroundColor($form-title-background-color-light, $form-title-background-color-dark);
        // color: $form-title-color;
        @include color($form-title-color-light, $form-title-color-dark);
        white-space: nowrap;
        overflow: hidden;

        &.shrink-padding {
            @include default-padding(0.5, 0.75, 0.6, 0.75);
        }
    }

    > div {
        @include flexbox();
        @include flex(0, 0, auto);
        @include flex-direction(column);
        overflow: hidden;
        position: relative;

        &.panel {
            @include flex(1, 1, auto);

            > div.scroll-panel {
                position: relative;
                display: block;
                flex: initial;
                overflow: hidden;
                overflow-y: auto;
            }

            > div.fixed-panel {
                @include flexbox();
                @include flex(1, 1, auto);
                @include flex-direction(column);
                overflow: hidden;

                > div {
                    &.filter {
                        @include flex(0, 0, auto);
                    }

                    &.panel {
                        @include flex(1, 1, auto);
                        overflow: hidden;

                        &.scroll-horizontal {
                            overflow-x: auto;
                        }
                    }
                }
            }
        }

        &.buttons {
            @include flex(0, 0, auto);
            @include flex-direction(row);

            > a {
                display: inline-block;

                &.fancyButton {
                    display: inline-flex;
                }

                &.flex-fill {
                    display: flex;
                    flex: 1 0 auto;

                    &.double-height {
                        @include default-padding(1.25);
                    }
                }
            }
        }

        &.flex-row {
            flex-direction: row;
        }
    }
}

@mixin div-details {
    position: fixed;
    display: block;
    flex: none;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    //background: white;
    @include backgroundColor($form-background-color-light, $form-background-color-dark);
    // border-left: 1px solid $form-element-border-color;
    @include borderLeft(1px, solid, $form-element-border-color-light, $form-element-border-color-dark);
    z-index: 2;
    overflow: hidden;

    @include set-ease-in-out(width);
    @include flexbox();
    @include flex(1, 0, 0);

    > form.editor.tab-container {
        // required for inspections
        position: relative;
        @include div-details-flex-fill;
        height: 100%;
        overflow: hidden;
        @include default-padding(0);

        > div.tabs {
            margin-top: 0;
            margin-bottom: 0;
            flex-direction: row;

            > div:first-child.icons {
                margin-left: 0;
            }
        }

        &.has-tabs {
            > div.form {
                > form.editor {
                    > h2 {
                        display: none;
                    }
                }
            }
        }

        > div.form {
            @include flexbox();
            @include flex(1, 0, 0);

            > form.editor {
                @include div-details-flex-fill;
                position: relative;
                height: 100%;
                overflow: hidden;
                @include default-padding();

                > div.photo-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 999;
                    // background: white;
                    @include backgroundColor($form-background-color-light, $form-background-color-dark);

                    > div.image {
                        width: 100%;
                        height: 100%;
                        background: white 50% no-repeat;
                        background-size: contain;

                        > picture {
                            width: 100%;
                            height: 100%;

                            > source, > img {
                                width: auto;
                                height: 100%;
                                margin: auto;
                                //object-fit: cover;
                                object-fit: contain;
                            }
                        }
                    }

                    > div.close {
                        position: absolute;
                        @include flexbox();
                        @include flex(0, 0, 0);
                        @include flex-center();
                        box-shadow: 0 0 3px #888;

                        top: 10px;
                        right: 10px;
                        background: white;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;

                        > i {
                            color: black;
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }

                    > div.buttons {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        @include flexbox();
                        @include flex(0, 0, 0);
                        @include flex-center();

                        > div {
                            @include flexbox();
                            @include flex(0, 0, 0);
                            @include flex-center();
                            // background: white;
                            @include backgroundColor($form-background-color-light, $form-background-color-dark);
                            box-shadow: 0 0 3px #888;

                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            margin-right: 5px;

                            > i {
                                // color: black;
                                @include color($form-element-color-light, $form-element-color-dark);
                                font-size: 24px;
                                line-height: 24px;
                            }

                            &.favorite {
                                > i {
                                    &.icon-star {
                                        display: none;
                                        color: darkgreen;
                                    }
                                    &.icon-star-empty {
                                        display: inline;
                                        color: black;
                                    }
                                }

                                &.selected {
                                    > i.icon-star {
                                        display: inline;
                                    }
                                    > i.icon-star-empty {
                                        display: none;
                                    }
                                }
                            }

                            &.download {

                            }
                        }
                    }
                }

                &.as-tab {
                    @include tab-container-form-tabs;

                    > div.tabs {
                        @include flex-direction(row);
                        @include default-margin-left(-1);
                        //@include default-margin-left(0);
                    }
                }
            }
        }
    }
}

@mixin div-details-h2 {
    > h2 {
        @include flexbox();
        @include flex(0, 0, auto);
        @include default-margin(-1, -1, 1, -1);
        @include default-padding(1, 1.5, 1, 1.5);
        @include backgroundColor($form-title-background-color-light, $form-title-background-color-dark);
        @include color($form-title-color-light, $form-title-color-dark);
        white-space: nowrap;
        overflow: hidden;

        > i, > div, > span {
            @include flexbox();
            @include flex(1, 0, auto);

            &.shrink {
                @include flex(0, 0, 0);
            }
        }
    }
}

.overlay_outer {
    z-index: 998;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: -moz-radial-gradient(center, ellipse cover, rgba(125,126,125,0.7) 0%, rgba(14,14,14,0.7) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125,126,125,0.7) 0%,rgba(14,14,14,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(125,126,125,0.7) 0%,rgba(14,14,14,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37d7e7d', endColorstr='#b30e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    > .overlay_inner {
        z-index: 999;
        //overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 2% auto;
        border: 0;
        padding: 0;
        width: 80%; /* IE11 needs a width */
        max-width: 80%;
        max-height: 90%;

        @mixin flex-fill {
            @include flexbox();
            @include flex(1, 0, 0);
            @include flex-direction(column);
            height: auto;
            overflow: hidden;
            position: relative;

            // > h2 {
            @include div-details-h2();

            > div {
                @include flexbox();
                @include flex(0, 0, auto);
                @include flex-direction(column);
                overflow: hidden;
                position: relative;

                &.panel {
                    @include flex(1, 1, auto);

                    > div.scroll-panel {
                        position: relative;
                        display: block;
                        flex: initial;
                        overflow: hidden;
                        overflow-y: auto;
                    }
                }

                &.buttons {
                    @include flex(0, 0, auto);
                    @include flex-direction(row);

                    > a {
                        display: inline-flex;
                    }
                }

                &.flex-row {
                    flex-direction: row;
                }
            }
        }

        > iframe {
            @include backgroundColor($form-background-color-light, $form-background-color-dark);
            @include boxShadow(0, 0, 100px, $form-modal-box-shadow-color-light, $form-modal-box-shadow-color-dark);
            width: 100%;
            height: 100%;
            border: 0;
        }

        > form.editor {
            @include flex-fill();

            @include backgroundColor($form-background-color-light, $form-background-color-dark);
            background-size: 100%;
            @include boxShadow(0, 0, 100px, $form-modal-box-shadow-color-light, $form-modal-box-shadow-color-dark);
            
            // border: 1px solid darken($color-editor, 10%);
            border: none;
            padding: $default-box-spacing;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            list-style-type: none;

            position: relative;
            height: 100%;
            overflow: hidden;

            > div.panel {

            }

            /* deprecated */
            > div {
                &.container {
                    overflow: auto;
                    max-height: calc(100% - #{$overlay-button-bar-height});

                    form.editor.filter {
                        margin-bottom: 10px;
                    }

                    h2 {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 24px;
                        font-size: 140%;
                        margin: 0 0 .4em 0;
                        padding: 0;
                        text-transform: uppercase;
                        font-weight: normal
                    }

                    input, textarea, select {
                        /*border: 0;*/
                        /*margin-bottom: 3px;*/
                        /*padding: 3px 5px;*/
                        /*border-radius: 0;*/
                        &:focus {
                            outline: none
                        }

                        &[readonly=True], &[readonly=readonly] {
                            border-color: transparent;
                        }
                    }

                    ul.form, > ul.form {
                        > li {
                            padding: 0; /*: 0 0 4px 0;*/
                            margin: 0;
                            width: 100%;
                            display: block;

                            &.spacer, &.paddingEmpty {
                                display: none;
                            }

                            &.autoload {
                                padding: 6px 2px 5px 2px;
                            }

                            > label {
                                @media all and (max-width: $screen-size-767) {
                                    float: none;
                                    width: inherit;
                                }
                            }

                            @media all and (max-width: $screen-size-767) {
                                margin: 0 0 4px 0;
                            }
                        }

                        &.itemList {
                            > li {
                                outline: none;
                            }
                        }

                        &.columns2 {
                            > li {
                                width: 50%;
                                display: inline-block;

                                @media all and (max-width: $screen-size-767) {
                                    width: 100%;
                                    display: block;
                                }
                            }
                        }

                        &:not(.autoload) > li > span {
                            display: block;
                            overflow: hidden;
                            margin: 0
                        }
                    }

                    &.disabled, &.editor.disabled {
                        input, select, textarea,
                        input:disabled, select:disabled, textarea:disabled,
                        ul.itemList > li > div,
                        ul.itemList.disabled > li > div,
                        > ul > li div.fileinfo,
                        > ul > li div.fileinfo.disabled,
                        > ul > li > div.itemList > ul > li > div,
                        > ul > li > div.itemList > ul.disabled > li > div,
                        input[type=date].disabled,
                        input[type=text].date.disabled {
                            border: 1px solid #f0f0f0;
                            background: #eee;
                            color: #888
                        }
                    }

                    > div.preview {
                        /*max-height: 455px;*/
                        overflow: auto;

                        a {
                            color: blue;
                            text-decoration: underline;

                            &.nobr {
                                white-space: nowrap;
                            }
                        }

                        > * {
                            border: 1px dotted #ccc;
                            padding: 2px
                        }

                        em.marked {
                            border-bottom: 1px dotted red
                        }

                        h1, h2, h3, h4, h5 {
                            font-size: 120%
                        }

                        ul {
                            list-style-type: disc;
                            padding: 0 0 0 25px
                        }
                    }

                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                    }

                    &::-webkit-scrollbar:vertical {
                        width: 11px;
                    }

                    &::-webkit-scrollbar:horizontal {
                        height: 11px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 8px;
                        border: 2px solid white; /* should match background, can't be transparent */
                        background-color: rgba(0, 0, 0, .5);
                    }

                    &::-webkit-scrollbar-track {
                        background-color: #fff;
                        border-radius: 8px;
                    }
                }
            }

            &.tab-container {
                height: 100%;
                padding: 0;

                > div.tabs {
                    @include flex(0);
                    margin: 0;
                }

                > div.form {
                    @include flexbox();
                    @include flex(1, 0, 0);
                    overflow: hidden;

                    > form.editor {
                        @include flexbox();
                        @include flex(1, 0, 0);
                        @include flex-direction(column);
                        padding: $default-box-spacing;
                        @include flex-fill();

                        > h2 {
                            display: none;
                        }
                    }
                }

                > div.buttons {
                    @include flexbox();             // display: flex;
                    @include flex(0, 0, auto);
                    @include flex-direction(row);   // flex-direction: row;
                    //padding: ($default-box-spacing - 5px) $form-element-padding 0 $form-element-padding;
                    padding: $default-box-spacing;

                    > div.barcontainer, > span.barcontainer {
                        flex: auto;
                    }
                }
            }

            > div.buttons {
                @include flexbox();             // display: flex;
                @include flex(0, 0, auto);
                @include flex-direction(row);   // flex-direction: row;

                > div.barcontainer, > span.barcontainer {
                    flex: auto;
                }
            }
        }

        $width-transition: width 150ms linear;
        -webkit-transition: $width-transition;
        -moz-transition: $width-transition;
        -o-transition: $width-transition;
        -ms-transition: $width-transition;
        transition: $width-transition;
        -webkit-transition: $width-transition;
        -moz-transition: $width-transition;
        -o-transition: $width-transition;
        -ms-transition: $width-transition;
        transition: $width-transition;

        &.small {
            max-width: $overlay-small-width;

            > form.editor {
                height: auto;
                max-height: 100%;

                ul.form {
                    > li,
                    > li ul > li {
                        > label,
                        > ul.group > li > label {
                            float: none;
                            display: block;
                            width: auto;
                            padding-left: 0;
                        }
                    }
                }
            }
        }

        &.full-height {
            > form.editor {
                height: 100%;

                > iframe {
                    height: 100%;
                }
            }
        }

        @media all and (max-width: $screen-size-1000) {
            max-width: 90%;
        }

        @media all and (max-width: $screen-size-767) {
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            margin: 0;

            &.small {
                max-width: 100%;
            }

            > form {
                > ul.form {
                    > li {
                        > label {
                            float: none;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

div.overlay-panel {
    @include div-details();
    border-left: none;

    width: 0;
    max-width: 1250px;

    &.show {
        width: 90%;
        border-left: 1px solid $form-element-border-color;

        @media all and (max-width: $screen-size-767) {
            width: 100%;
            border-left: none;
        }
    }

    &.large {
        //width: 90%;
        max-width: unset;
    }
}

html[data-browser*="Trident"] {
    .overlay_outer > .overlay_inner.flex-fill > form.editor.flex-fill {
        overflow-y: scroll;

        > div.panel {
            display: block;
            flex: auto;
            height: auto;

            > div.scroll-panel {
                overflow: hidden;
                overflow-y: auto;
            }
        }
        > div.buttons {
            display: block;
            flex: auto;
        }
    }
}