@use 'sass:math';

@import "./default-html";

$color-action: #187cc5 !default;
$default-box-spacing: 10px !default;

//$button-bar-border-color: #c0c0c0 !default;
//$button-bar-button-color: #444 !default;
$button-bar-button-color-light: #444 !default;
$button-bar-button-color-dark: $form-element-color-dark !default;
$button-bar-button-color-selected: #5094d9 !default;
$button-bar-button-color-selected-color: white !default;

$button-bar-background-color: #f8f8f8 !default;
$button-bar-background-color-light: #f8f8f8 !default;
$button-bar-background-color-dark: $form-element-background-color-dark !default;
$button-bar-background-color-hover: #fcfcfc !default;

$button-bar-avatar-width: 25px !default;
$button-bar-icon-min-width: 28px !default;
$button-bar-min-height: 28px !default;
$button-bar-border-width: 1px !default;
$button-bar-border-radius: 5px !default;
$button-bar-element-min-width: 200px !default;

$flex-row-div-avatar-a-selected-border: 2px solid $color-action !default;
$flex-row-div-avatar-a-selected-box-shadow: 0 0 5px white !default;

$button-bar-border-color-light: #c0c0c0 !default;
$button-bar-border-color-dark: #777 !default;
$button-bar-button-color-light: #444 !default;
$button-bar-button-color-dark: #777 !default;

$button-bar-button-color-selected-light: #5094d9 !default;
$button-bar-button-color-selected-dark: darken($button-bar-button-color-selected-light, 5) !default;
$button-bar-button-color-selected-hover-light: $button-bar-button-color-selected-light !default;
$button-bar-button-color-selected-hover-dark: darken($button-bar-button-color-selected-light, 5) !default;

$button-bar-button-color-selected-color-light: white !default;
$button-bar-button-color-selected-color-dark: rgb(183, 177, 170) !default;
$button-bar-background-color-light: #f8f8f8 !default;
$button-bar-background-color-dark: #262829 !default;
$button-bar-background-color-hover-light: lighten($button-bar-background-color-light, 10%) !default;
$button-bar-background-color-hover-dark: lighten(#262829, 10%) !default;
$button-bar-button-disabled-color-light: #ddd !default;
$button-bar-button-disabled-color-dark: rgb(108, 108, 108) !default;

$button-bar-button-alert-border-color-light: $colors-alert-light !default;
$button-bar-button-alert-border-color-dark: $colors-alert-dark !default;

@mixin flex-row {
  &.flex-row {
	@include flexbox();
	@include flex(1, 0, auto);
	@include flex-direction(row);
	white-space: nowrap;
	font-size: 0;
	max-width: 100%;
	overflow: hidden;
	overflow-x: auto;

	> * {
	  @include flexbox();
	  @include flex-direction(row);
	  @include flex(1, 0, 0);

	  margin: 0 $default-box-spacing 0 0;

	  &:not(.hide):last-child {
		margin-right: 0;
	  }

	  &.shrink {
		@include flex(0, 0, auto);
	  }
	}

	&.flex-row-margin-top {
	  margin-top: $default-box-spacing;
	}

	&.flex-row-margin-bottom {
	  margin-bottom: $default-box-spacing;
	}

	> label {
	  @include inline-flex();
	  @include flex(0, 0, auto); // use required space
	  padding: 0;
	  font-size: 0;
	  line-height: 0;
	  border: 0 solid transparent;
	  white-space: nowrap;
	  overflow: hidden;
	  margin: initial;
	  padding: 5px;
	  padding-top: 6px;
	  padding-left: 5px;
	  vertical-align: initial;
	  width: auto;
	  user-select: none;
	  white-space: nowrap;

	  @include default-font();
	}

	div {
	  &.accounts {
		position: relative;

		> a {
		  $overlap: 5px;
		  margin-left: -1 * $overlap;

		  &:nth-child(1) {
			margin-left: 0;
		  }

		}
	  }

	  &.avatar {
		display: inline-block;
		flex: auto;
		min-width: $button-bar-avatar-width;
		white-space: nowrap;

		> a {
		  display: inline-block;
		  font-size: 0;
		  line-height: 0;
		  white-space: nowrap;
		  vertical-align: middle;
		  width: $button-bar-avatar-width;
		  height: $button-bar-avatar-width;

		  > img {
			display: inline-block;
			width: $button-bar-avatar-width;
			height: $button-bar-avatar-width;
			margin: 0;
			@include border($button-bar-border-width, solid, $button-bar-border-color-light, $button-bar-border-color-dark);
			object-fit: cover;
			border-radius: 50%;
		  }

		  > span {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: $button-bar-avatar-width;
			height: $button-bar-avatar-width;
			margin: 0;
			@include border($button-bar-border-width, solid, $button-bar-border-color-light, $button-bar-border-color-dark);
			object-fit: cover;
			border-radius: 50%;
			background: silver;
			color: black;
			overflow: hidden;
			box-shadow: none; // 0 0 2px #888;
		  }

		  &.selected {
			> span, > img {
			  border: $flex-row-div-avatar-a-selected-border;
			  box-shadow: $flex-row-div-avatar-a-selected-box-shadow;
			}
		  }
		}
	  }

	  @include flex-row-button-bar();
	}

	@content;
  }
}

@mixin flex-row-button-bar() {
  &.button-bar {
	@include inline-flex();
	@include flex(0, 0, auto); // use required space
	padding: 0;
	font-size: 0;
	line-height: 0;
	background: none;
	@include backgroundColor($button-bar-background-color-light, $button-bar-background-color-dark);
	@include border($button-bar-border-width, solid, $button-bar-border-color-light, $button-bar-border-color-dark);
	border-radius: calc($button-bar-border-radius * (1rem / $default-pixel-per-rem));
	white-space: nowrap;
	overflow: hidden;
	height: calc($button-bar-min-height * (1rem / $default-pixel-per-rem));
	max-width: 100%;

	> a, > i, > ul.breadcrumbs, > ul.sortfields, > div.uapl_container, > input[type=text], > span {
	  @include inline-flex();
	  @include flex(0, 0, auto);
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  align-self: flex-start;
	  position: relative;
	  margin: 0;
	  padding: 0;
	  //@include color($button-bar-button-color-light, $button-bar-button-color-dark);
	  @include color($button-bar-button-color-light, $button-bar-button-color-dark);

	  vertical-align: top;
	  min-width: calc($button-bar-icon-min-width * (1rem / $default-pixel-per-rem));
	  height: 100%;
	  white-space: nowrap;
	  overflow: hidden;
	  border-left: none;

	  &:not(.hide) {
		+ a,
		+ i,
		+ ul.breadcrumbs,
		+ ul.sortfields,
		+ div.uapl_container,
		+ input[type=text],
		+ span {
		  @include borderLeft($button-bar-border-width, solid,
				  $button-bar-border-color-light,
				  $button-bar-border-color-dark);
		}
	  }
	}

	> a {
	  > i, > span {
		border: none;
		margin: initial;
		padding: 0;
		user-select: none;
		cursor: pointer;
		white-space: nowrap;
		display: inline-block;
		vertical-align: middle;
	  }

	  > i {
		justify-content: center;
		@include default-font();
	  }

	  > span {
		padding: 5px 8px 5px 0;
		@include default-font();
	  }

	  &.selected {
		//background: $button-bar-button-color-selected;
		background: none;
		@include backgroundColor($button-bar-button-color-selected-light, $button-bar-button-color-selected-dark);
		//color: $button-bar-button-color-selected-color;
		@include color($button-bar-button-color-selected-color-light, $button-bar-button-color-selected-color-dark);
	  }

	  &.badge[data-badge] {
		position: relative;

		&::after {
		  content: attr(data-badge);
		  position: absolute;
		  display: block;
		  background: red;
		  color: white;
		  border-radius: 50%;
		  padding: 2px;
		  right: 2px;
		  top: 2px;
		  font-size: 0;
		  line-height: 0;
		  width: 8px;
		  height: 8px;
		}

		&:empty {
		  display: none;
		}
	  }

	  &[data-symbol] {
		position: relative;

		&:after {
		  content: attr(data-symbol);
		  position: absolute;
		  top: 0; // -2px;
		  right: -2px;
		  font-size: 13px;
		  background: none;
		  width: 16px;
		  height: 16px;
		  text-align: center;
		  line-height: 13px;
		  border-radius: 50%;
		  box-shadow: none;
		  font-weight: bold;
		  @include color($button-bar-button-color-light, $button-bar-button-color-dark);
		  //text-shadow: $button-bar-background-color 0 0 2px;
		  @include textShadow(0, 0, 2px, $button-bar-background-color-light, $button-bar-background-color-dark);
		}
	  }

	  &[class^="fbicon-"], &[class*=" fbicon-"] {
		> i {
		  padding-left: 8px;
		  padding-right: 6px;
		}
	  }

	  &.fancyButton {
		@include fancyButtonLayout($button-bar-button-color, $button-bar-background-color, transparent) {
		  @include default-font-no-lineheight(1.3);
		  margin: 0;
		  height: 100%;
		  border-radius: $button-bar-border-radius;

		  > i {
			padding: 0 calc(4px * (1rem / $default-pixel-per-rem)) 0 0;
		  }

		  @include backgroundColor($button-bar-background-color-light, $button-bar-background-color-dark);
		  @include color($button-bar-button-color-light, $button-bar-button-color-dark);
		}
	  }

	  &.fbicon-icon-save {
		@include backgroundColor(
						$action-button-action-background-color-light,
						$action-button-action-background-color-dark);
		@include color(
						$action-button-action-color-light,
						$action-button-action-color-dark);

		&:hover {
		  @include backgroundColor(
						  lighten($action-button-action-background-color-light, 10%),
						  lighten($action-button-action-background-color-dark, 10%));
		}
	  }

	  &.fbicon-icon-new,
	  &.fbicon-icon-plus {
		@include backgroundColor(
						$action-button-positive-background-color-light,
						$action-button-positive-background-color-dark);
		@include color(
						$action-button-positive-color-light,
						$action-button-positive-color-dark);

		&:hover {
		  @include backgroundColor(
						  lighten($action-button-positive-background-color-light, 10%),
						  lighten($action-button-positive-background-color-dark, 10%));
		}
	  }

	  &.fbicon-icon-delete {
		@include backgroundColor(
						$action-button-alert-background-color-light,
						$action-button-alert-background-color-dark);
		@include color(
						$action-button-alert-color-light,
						$action-button-alert-color-dark);

		&:hover {
		  @include backgroundColor(
						  lighten($action-button-alert-background-color-light, 10%),
						  lighten($action-button-alert-background-color-dark, 10%));
		}
	  }
	}

	> i {
	  &.selected {
		background: none;
		@include backgroundColor(
						$action-button-cancel-background-color-light,
						$action-button-cancel-background-color-dark);
		@include color(
						$action-button-cancel-color-light,
						$action-button-cancel-color-dark);
	  }
	}

	> span {
	  &.week {
		display: inline-flex;
		flex: 1 0 0;

		border: none;
		margin: initial;
		padding: 0 5px 0 5px;
		vertical-align: initial;
		width: 16em;
		max-width: 100%;
		user-select: none;
		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include default-font();

		align-items: center;
	  }

	  &.text {
		@include inline-flex();
		@include flex(1, 0, auto);
		@include flex-center();
		border: none;
		margin: initial;
		height: 100%;
		padding: 0 5px;
		//padding-top: 6px;
		//padding-left: 5px;
		vertical-align: initial;
		//width: auto;
		max-width: 100%;
		//user-select: none;
		cursor: default;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include default-font();
	  }

	  &.date {
		display: inline-flex;
		flex: 1 0 0;

		border: none;
		margin: initial;
		padding: 6px 5px 5px 5px;
		vertical-align: initial;
		width: 7em;
		max-width: 100%;
		user-select: none;
		cursor: pointer;
		white-space: nowrap;
		text-overflow: ellipsis;

		@include default-font();
	  }

	  &.chkDropDown {
		@include inline-flex();
		flex: 1 0 auto;
		background-color: transparent;
		width: calc($button-bar-element-min-width * (1rem / $default-pixel-per-rem));
		margin: initial;
		border: none;
		padding: 0;
		//font-size: 10.8px;
		//line-height: 13.5px;
		height: inherit;
		background-size: calc(8px * (1rem / $default-pixel-per-rem)) auto;
		background-position: right calc(5px * (1rem / $default-pixel-per-rem)) center;

		> div.placeholder {
		  margin: initial;
		  border: none;
		  //padding: 5px;
		  @include default-font();
		  //padding: 7px 24px 7px 7px;
		  padding: 0 24px 0 7px;
		  overflow: hidden;
		  text-overflow: ellipsis;

		  @include inline-flex();
		  justify-content: left;
		  align-items: center;
		}

		> span {
		  margin: initial;
		  border: none;
		  padding: calc(5px * (1rem / $default-pixel-per-rem));
		  padding-right: calc(5px * (1rem / $default-pixel-per-rem)) + calc(16px * (1rem / $default-pixel-per-rem));
		  @include default-font();
		}

		&.notEmpty, &.focus {
		  > div.placeholder {
			display: none;
		  }
		}
	  }
	}

	> select {
	  @include inline-flex();
	  @include flex(0, 0, auto);
	  background-color: transparent;
	  min-width: calc($button-bar-element-min-width * (1rem / $default-pixel-per-rem));
	  margin: initial;
	  border: none;
	  @include default-font();
	  padding: 0 calc(($form-spacing * 2) * (1rem / $default-pixel-per-rem));
	}

	> label, > input[type=checkbox] {
	  @include inline-flex();
	  flex: 0 0 0;
	  justify-content: center;
	  align-items: center;
	  border: none;
	  @include default-font(1, 1);
	  height: 100%;
	  margin: 0 ($form-spacing * 2);

	  @include user-select-none();
	}

	> input[type=text] {
	  @include inline-flex();
	  @include flex(1, 0, auto);
	  width: auto;
	  background: none;
	  border: 0;
	  //padding: 5px 10px;
	  padding: 0 calc(($form-spacing * 2) * (1rem / $default-pixel-per-rem));
	  min-width: calc($button-bar-element-min-width * (1rem / $default-pixel-per-rem));

	  &.shrink {
		@include flex(0, 0, auto);
	  }
	}

	> input[type=text].date, > input[type=date] {
	  @include flex(0, 0, auto);
	  min-width: 75px;
	  width: auto;
	  background: none;
	  border: none;

	  &::placeholder {
		//color: $form-element-placeholder-color;
		@include color($form-element-placeholder-color-light, $form-element-placeholder-color-dark);
	  }
	}

	> div.uapl_container {
	  @include flex(0, 0, auto);
	  justify-content: flex-start;
	  @include hide-scrollbars();
	  position: relative;
	  background: none;
	  border: none;
	  overflow-x: auto;
	  min-width: 250px;
	  @include uaplContainer();
	  margin: 0;
	  padding: $form-spacing;

	  @include backgroundColor($button-bar-background-color-light, $button-bar-background-color-dark);
	  //@include backgroundColor($button-bar-background-color, $form-element-background-color-dark);
	  //@include color($form-element-color-light, $form-element-color-dark);

	  > div.placeholder {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		@include color($form-element-placeholder-color-light, $form-element-placeholder-color-dark);
		@include inline-flex();
		@include default-font();
		justify-content: start;
		align-items: center;
		margin: 0;
		padding: $form-spacing ($form-spacing * 2);
	  }

	  > input[type=text] {
		width: auto;
		background: none;
		margin: 0; //4px 0 0 2px;
		border: 0;
		padding: 0 ($form-spacing * 2);
	  }

	  > li {
		@include inline-flex();
		@include flex(0, 0, auto);
		align-items: center;

		@include backgroundColor($action-button-action-background-color-light, $action-button-action-background-color-dark);
		@include color($action-button-action-color-light, $action-button-action-color-dark);
		margin: math.div($form-spacing, 2);
		padding: 0 ($form-spacing * 2); //padding: ($item-padding * 2) ($form-element-padding * 2) $item-padding ($form-element-padding * 2);
		height: 100%;
		max-width: 100%;
		border: 0;
		border-radius: 2px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		vertical-align: top;

		> span {
		  margin: 0;
		  font-family: $portal-font-family;
		  @include default-font(1, 1);
		}
	  }
	}

	> ul.sortfields {
	  @include flex(1, 0, 0);
	  justify-content: flex-start;
	  padding: $form-spacing;
	  margin: 0;
	  overflow: hidden;
	  overflow-x: scroll;
	  max-width: 100%;
	  white-space: nowrap;

	  > li {
		@include inline-flex();
		@include flex(0, 0, auto);
		align-items: center;

		@include backgroundColor($action-button-action-background-color-light, $action-button-action-background-color-dark); //: $color-action;
		@include color($action-button-action-color-light, $action-button-action-color-dark); //color: #fff;
		margin: math.div($form-spacing, 2);
		padding: 0 ($form-spacing * 2); //padding: ($item-padding * 2) ($form-element-padding * 2) $item-padding ($form-element-padding * 2);
		height: 100%;
		max-width: 25%;
		border: 0;
		border-radius: 2px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		vertical-align: top;

		@include default-font(1, 1);
	  }

	  &.shrink {
		@include flex(0, 0, auto);
	  }
	}

	> ul.breadcrumbs {
	  @include flex(1, 0, auto); // use all available space
	  justify-content: flex-start;
	  padding: 0 4px;
	  overflow-x: scroll;
	  @include hide-scrollbars();

	  > li {
		@include default-font();
		@include color($button-bar-button-color-light, $button-bar-button-color-dark);
		margin: 0; // 0 math.div($form-spacing, 2);
	  }

	  &.shrink {
		@include flex(0, 0, auto);
	  }
	}

	> a, > i, > ul.breadcrumbs, > ul.sortfields, > div.uapl_container, > input[type=text], > span {
	  &:hover {
		background: none;
		@include backgroundColor(
						$button-bar-background-color-hover-light,
						$button-bar-background-color-hover-dark);

		&.selected {
		  @include backgroundColor(
						  $button-bar-button-color-selected-hover-light,
						  $button-bar-button-color-selected-hover-dark);
		}
	  }
	}

	&.no-border {
	  background: none;
	  border-color: transparent;

	  &:hover {
		background: none;
	  }
	}

	&.disabled > a,
	&[class*='disabled-'] > a,
	> a.disabled,
	> a[class*='disabled-'] {
	  &, &:hover {
		cursor: default;
		background: none;
		@include backgroundColor($button-bar-background-color-light, $button-bar-background-color-dark);
		@include color($button-bar-button-disabled-color-light, $button-bar-button-disabled-color-dark);

		> i {
		  @include color($button-bar-button-disabled-color-light, $button-bar-button-disabled-color-dark);
		  cursor: default;
		}
	  }
	}

	> div.ControlHasError {
	  display: none;
	}

	&.ControlHasError {
	  @include borderColor($button-bar-button-alert-border-color-light, $button-bar-button-alert-border-color-dark);
	}

	&.flex-grow {
	  @include flex(1, 0, auto); // use all available space

	  > div.uapl_container {
		@include flex(1, 0, 0);
		min-width: auto;
	  }

	  > input[type=text] {
		@include flex(1, 0, auto);
		min-width: auto;
	  }
	}

	&.flex-shrink {
	  @include inline-flex();
	  @include flex(0, 0, auto);
	}
  }
}