/* Error: Undefined mixin.
 *     ,
 * 329 |             @include flexbox();
 *     |             ^^^^^^^^^^^^^^^^^^
 *     '
 *   form-overlay.scss 329:13  flex-fill()
 *   form-overlay.scss 381:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 329 \2502              @include flexbox();\a     \2502              ^^^^^^^^^^^^^^^^^^\a     \2575 \a   form-overlay.scss 329:13  flex-fill()\a   form-overlay.scss 381:13  root stylesheet";
}
