.litepicker {
  font-size: 1em;
}

.litepicker {
  font-size: 1em;
}

ul, ol {
  font-size: 0;
}
ul > li, ol > li {
  font-size: 0.85rem;
  line-height: 1.0625rem;
  font-weight: normal;
}
@media all and (max-width: 1000px) {
  ul > li, ol > li {
    font-size: 0.8228rem;
    line-height: 1.0285rem;
  }
}
@media all and (max-width: 767px) {
  ul > li, ol > li {
    font-size: 0.7905rem;
    line-height: 0.988125rem;
    font-weight: normal;
  }
}
@media all and (max-width: 486px) {
  ul > li, ol > li {
    font-size: 0.77027rem;
    line-height: 0.9628375rem;
    font-weight: normal;
  }
}

ul.flexboxes {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
}
ul.flexboxes > li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  list-style-type: none;
}
ul.flexboxes > li > div {
  display: block;
  flex: auto;
  padding: 10px 10px 10px 10px;
}
@media all and (max-width: 1000px) {
  ul.flexboxes > li > div {
    padding: 9.68px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 767px) {
  ul.flexboxes > li > div {
    padding: 9.3px 9.3px 9.3px 9.3px;
  }
}
ul.flexboxes > li > div > div {
  display: block;
  flex: initial;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
}
@media all and (max-width: 1000px) {
  ul.flexboxes > li > div > div {
    margin: 9.68px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 767px) {
  ul.flexboxes > li > div > div {
    margin: 9.3px 9.3px 9.3px 9.3px;
  }
}
@media all and (max-width: 1000px) {
  ul.flexboxes > li > div > div {
    padding: 9.68px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 767px) {
  ul.flexboxes > li > div > div {
    padding: 9.3px 9.3px 9.3px 9.3px;
  }
}
ul.flexboxes > li > div > div h2 {
  text-align: center;
}

ul.boxes {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}
ul.boxes > li {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  text-align: left;
  width: 25%;
  vertical-align: top;
  list-style-type: none;
}
ul.boxes > li > div {
  padding: 10px 10px 10px 10px;
}
@media all and (max-width: 1000px) {
  ul.boxes > li > div {
    padding: 9.68px 9.68px 9.68px 9.68px;
  }
}
@media all and (max-width: 767px) {
  ul.boxes > li > div {
    padding: 9.3px 9.3px 9.3px 9.3px;
  }
}
ul.boxes > li > div h2 {
  text-align: center;
}
ul.boxes > li.halfwidth {
  width: 50%;
}

ul.flexboxes.columns1 > li, ul.boxes.columns1 > li {
  width: 100%;
}
ul.flexboxes.columns2 > li, ul.boxes.columns2 > li {
  width: 50%;
}
@media all and (max-width: 1000px) {
  body:not(.toggleMenu) ul.flexboxes.columns2 > li, body:not(.toggleMenu) ul.boxes.columns2 > li {
    width: 100%;
  }
}
@media all and (max-width: 767px) {
  body.toggleMenu ul.flexboxes.columns2 > li, body.toggleMenu ul.boxes.columns2 > li {
    width: 100%;
  }
}
ul.flexboxes.columns3 > li, ul.boxes.columns3 > li {
  width: 33.3333333333%;
}
@media all and (max-width: 767px) {
  ul.flexboxes.columns3 > li, ul.boxes.columns3 > li {
    width: 100%;
  }
}
ul.flexboxes.columns4 > li, ul.boxes.columns4 > li {
  width: 25%;
}
@media all and (max-width: 767px) {
  ul.flexboxes.columns4 > li, ul.boxes.columns4 > li {
    width: 50%;
  }
}
@media all and (max-width: 486px) {
  ul.flexboxes.columns4 > li, ul.boxes.columns4 > li {
    width: 100%;
  }
}

/*# sourceMappingURL=LineDesign.css.map */
