﻿@use "sass:math";
@import 'form-default';
@import 'default-mixin';
@import 'responsive';

$color-linedesign-background-content: #ccc !default;
$color-linedesign-background-items: white !default;
$color-linedesign-items-color: black !default;
$color-linedesign-selector-border: white !default;
$color-linedesign-selector: transparent !default;
$color-linedesign-selector-selected: $color-action;
$linedesign-font-title-scaling: 1.4 !default;
$linedesign-maps-height: 400px !default;
$linedesign-article-padding-top-scaling: 0.5 !default;

// Reset
ul, ol {
    font-size: 0;

    > li {
        @include default-font();
    }
}

// Columns
$columns1: percentage(1);
$columns2: percentage(math.div(1, 2));
$columns3: percentage(math.div(1, 3));
$columns4: percentage(math.div(1, 4));
$columns5: percentage(math.div(1, 5));
$columns6: percentage(math.div(1, 6));
$columns7: percentage(math.div(1, 7));
$columns8: percentage(math.div(1, 8));
$columns9: percentage(math.div(1, 9));
$columns10: percentage(math.div(1, 10));
$columns11: percentage(math.div(1, 11));
$columns12: percentage(math.div(1, 12));

// Boxes
ul.flexboxes {
    @include flexbox();     // display: flex;
    @include flex();
    @include flex-wrap(wrap);
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    line-height: 0;

    > li {
        @include flexbox(); // display: flex;
        @include flex();
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 0;
        line-height: 0;
        vertical-align: top;
        list-style-type: none;

        > div {
            //@include flexbox();
            //@include flex(1, 0, auto);       // display: flex;
            //@include flex-direction(column);    // flex-direction: column;
            display: block;
            flex: auto;
            // width: 100%;
            @include default-padding(1);

            > div {
                //@include flexbox();
                //@include flex(1, 0, auto);
                display: block;
                flex: initial;
                @include default-margin(1);
                @include default-padding(1);
                background-color: #fff;

                h2 {
                    text-align: center;
                }
            }
        }
    }
}

ul.boxes {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;

    > li {
        margin: 0;
        padding: 0;
        border: 0;
        display: inline-block;
        text-align: left;
        width: 25%;
        vertical-align: top;
        list-style-type: none;

        > div {
            @include default-padding(1);

            h2 {
                text-align: center;
            }
        }

        &.halfwidth {
            width: 50%;
        }
    }
}

ul.flexboxes, ul.boxes {
    &.columns1 > li {
        width: $columns1;
    }

    &.columns2 > li {
        width: $columns2;
        // Example on selective width
        body:not(.toggleMenu) & {
            @media all and (max-width: $screen-size-1000) {
                width: $columns1;
            }
        }

        body.toggleMenu & {
            // width: $columns1;
            @media all and (max-width: $screen-size-767) {
                width: $columns1;
            }
        }
    }

    &.columns3 > li {
        width: $columns3;

        @media all and (max-width: $screen-size-767) {
            width: $columns1;
        }
    }

    &.columns4 > li {
        width: $columns4;

        @media all and (max-width: $screen-size-767) {
            width: $columns2;
        }

        @media all and (max-width: $screen-size-486) {
            width: $columns1;
        }
    }
}

// maxwidth
@mixin maxWidth {
    @include max-width();
}

@mixin max-width() {
    margin: 0 auto;
    width: $screen-size-1400;

    @media all and (max-width: $screen-size-1400) {
        width: $screen-size-1200;
    }

    @media all and (max-width: $screen-size-1200) {
        width: $screen-size-1000;
    }

    @media all and (max-width: $screen-size-1000) {
        width: 100%;
    }

    @media all and (max-width: $screen-size-767) {
        width: 100%;
    }

    @media all and (max-width: $screen-size-486) {
        width: 100%;
    }
}


@mixin line-design-elements() {
    > div {
        > form {
            background: $color-linedesign-background-items;
            margin: 0 auto;

            @include default-padding();
            box-shadow: 0 0 5px $color-shadow;
        }

        &.loginContainer {
            @include default-padding-top-bottom();
            height: inherit;

            > ul {
                > li {
                    > div {
                        background: $color-linedesign-background-items;
                        margin: 0 auto;
                        @include default-padding();
                        box-shadow: 0 0 5px $color-shadow;

                        > h1, h2 {
                            @include default-padding-bottom();
                        }

                        form.editor {
                            > ul {
                                > li {
                                    > label {
                                        float: none;
                                        display: block;
                                        padding-left: 0;
                                        border-left: 0;
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.paragraph {
            background: $color-linedesign-background-items;
            box-shadow: 0 0 2px #ccc;

            > div {
                @include default-padding();
            }
        }

        &.headerimage {
            background: none;
            display: block;
            position: relative;
            width: 100%;
            // aspect ratio 16:4.5
            padding-top: percentage(4.5/16);

            > div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: 100%;
                margin: 0;
                padding: 0;
                background-position: 50%;
                background-size: cover;
            }

            > h1 {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                text-align: center;
                color: $color-linedesign-items-color;
                text-shadow: 0 0 5px black;
                @include default-padding-top-bottom();
            }
        }

        &.fill {
            background: $color-linedesign-background-items;
            box-shadow: 0 0 2px #ccc;

            > form {
                box-shadow: none;
            }

            > h1 {
                @include default-padding(1, 1, 0, 1);
            }

            > ul, ol, p {
                @include default-padding(0, 1, 1, 1);
            }
        }

        &.title {
            background: $color-linedesign-background-items;
            box-shadow: 0 0 2px #ccc;

            > h1 {
                @include default-font-no-lineheight;
                @include default-padding;
                text-transform: uppercase;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &.tabs {
            background: white;
            box-shadow: 0 0 2px #ccc;

            > ul {
                white-space: nowrap;
                @include default-padding-left-right;

                > li {
                    @include default-font-no-lineheight;
                    @include default-padding;
                    text-transform: uppercase;
                    font-weight: bold;
                    display: inline-block;

                    &.selected {
                        border-bottom: 2px solid $color-avatar-background;
                    }
                }
            }
        }

        &.boxes {
            > ul {
                > li {
                    > div {
                        > div {
                            @include default-padding;
                            background-color: $color-linedesign-background-items;
                            box-shadow: 0 0 2px #ccc;

                            > h2,
                            > form > h2 {
                                text-align: left;
                                @include default-padding-bottom();
                                @include default-font();
                                font-weight: bold;
                            }

                            > form {
                                > ul {
                                    li {
                                        > label {
                                            float: none;
                                            display: block;
                                            margin-left: 0;
                                            border-left: 0;
                                            padding-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.cards {
            > ul {
                white-space: nowrap;
                list-style-type: none;
                margin: 0;
                padding: 0;
                border: 0;

                > li {
                    margin: 0;
                    padding: 0;
                    border: 0;

                    > div {
                        > div {
                            background: $color-linedesign-background-items;
                            box-shadow: 0 1px 2px $color-shadow;
                            padding: 0;
                            margin: 0;
                            border: 0;

                            > div {
                                box-shadow: none;
                                padding: 0;
                                margin: 0;
                                border: 0;
                                overflow: hidden;

                                &.image {
                                    display: block;
                                    position: relative;
                                    width: 100%;
                                    // aspect ratio 16:4.5
                                    padding-top: percentage(6/16);
                                    box-shadow: none;

                                    > div {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        bottom: 0;
                                        right: 0;
                                        height: 100%;
                                        margin: 0;
                                        padding: 0;
                                        background-position: 50%;
                                        background-size: cover;
                                    }
                                }

                                &.description {
                                    @include default-font();
                                    @include default-padding();

                                    @include number-of-lines(5);
                                }

                                &.action {
                                    @include default-font;
                                    @include default-padding;
                                    border-top: 1px solid $color-shadow;
                                    text-transform: uppercase
                                }
                            }
                        }
                    }
                }

                &.front-page-subscribe {
                    > li {
                        > div {
                            > div {
                                > div.description {
                                    @include number-of-lines(2);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.breadcrumbs {
            background: $color-linedesign-background-items;
            box-shadow: 0 0 2px #ccc;

            > ul {
                white-space: nowrap;
                overflow: hidden;

                @include default-padding-left-right;
                margin: 0;

                @include number-of-lines(1, 2 * ($default-box-spacing * 0.5));

                > li {
                    @include default-font;
                    @include default-padding(0.5, 0.125, 0.5, 0);
                    display: inline-block;
                    overflow: hidden;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    max-width: 200px;

                    @media all and (max-width: $screen-size-1000) {
                        max-width: 150px;
                    }

                    @media all and (max-width: $scale-767) {
                        max-width: 120px;
                    }

                    @media all and (max-width: $screen-size-486) {
                        max-width: 75px;
                    }

                    > a {
                        white-space: nowrap;
                    }

                    &::before {
                        content: " » ";
                        white-space: nowrap;
                    }

                    &:first-child {
                        padding-left: 0;
                        margin-left: 0;

                        &::before {
                            content: "";
                        }
                    }

                    &:last-child {
                        max-width: inherit;
                        -ms-text-overflow: initial;
                        -o-text-overflow: initial;
                        text-overflow: initial;
                    }
                }
            }
        }

        &.address {
            > div {
                @include maxWidth();
                @include default-padding();
            }
        }

        &.gallery {
            /*background: $color-cube-bg-gray;*/
            > div {
                @include maxWidth();
                @include default-padding();
                max-width: 750px;

                > ul {
                    display: block;
                    text-align: center;
                    max-width: 750px;

                    &.columns3 > li {
                        width: $columns3;

                        @media all and (max-width: $screen-size-767) {
                            width: $columns2;
                        }

                        @media all and (max-width: $screen-size-486) {
                            width: $columns1;
                        }
                    }
                    
                    &.gallery-columns-1 { width: math.percentage(math.div(1, 1)); }
                    &.gallery-columns-2 { width: math.percentage(math.div(1, 2)); }
                    &.gallery-columns-3 { width: math.percentage(math.div(1, 3)); }
                    &.gallery-columns-4 { width: math.percentage(math.div(1, 4)); }
                    &.gallery-columns-5 { width: math.percentage(math.div(1, 5)); }
                    &.gallery-columns-6 { width: math.percentage(math.div(1, 6)); }
                    &.gallery-columns-7 { width: math.percentage(math.div(1, 7)); }
                    &.gallery-columns-8 { width: math.percentage(math.div(1, 8)); }
                    &.gallery-columns-9 { width: math.percentage(math.div(1, 9)); }
                    &.gallery-columns-10 { width: math.percentage(math.div(1, 10)); }
                    &.gallery-columns-11 { width: math.percentage(math.div(1, 11)); }
                    &.gallery-columns-12 { width: math.percentage(math.div(1, 12)); }

                    > li {
                        > div {
                            @include default-padding(0.5, 0.5, 0.5, 0.5);

                            > div {
                                @include default-padding(0.5, 0.5, 0.5, 0.5);
                                background: white;

                                > div.img {
                                    > img {
                                        width: 100%;
                                    }
                                }

                                > div.caption {
                                    text-align: center;
                                    @include default-padding(0.5, 0, 0.5, 0);

                                    > div {
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;

                                        &.title {
                                            /* text-transform: uppercase; */
                                            @include number-of-lines(1)
                                        }

                                        &.description {
                                            @include default-padding(0.5, 0, 0, 0);
                                            text-transform: uppercase;
                                            @include number-of-lines(1);
                                            /*color: $color-cube-bg-dark;*/
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                @media all and (max-width: $screen-size-767) {
                    padding: 0;
                    max-width: initial;

                    > ul {
                        max-width: initial;
                    }
                }
            }
        }

        &.slider {
            background: $color-linedesign-background-content;
            position: relative;
            overflow: hidden;

            > div.nav {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 10;
                color: $color-linedesign-items-color;
                text-align: center;
                font-size: 0;
                line-height: 0;
                @include default-padding();

                > div.nav-circle {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    margin: 0 6px;
                    border: 2px solid $color-linedesign-selector-border;
                    border-radius: 50%;
                    background: $color-linedesign-selector;

                    &.selected {
                        background: rgba($color-linedesign-selector-selected, 0.7);
                    }

                    @media all and (max-width: $screen-size-1000) {
                        width: 8px;
                        height: 8px;
                        margin: 0 8px;
                    }

                    @media all and (max-width: $scale-767) {
                        width: 7px;
                        height: 7px;
                        margin: 0 9px;
                    }
                }
            }

            > div.caption {
                position: absolute;
                bottom: 40px;
                color: $color-linedesign-items-color;
                text-shadow: black 0 0 3px;
                z-index: 6;
                display: block;
                left: 0;
                right: 0;
                white-space: nowrap;

                > span {
                    @include default-font($linedesign-font-title-scaling);
                    white-space: nowrap;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                }

                @media all and (max-width: 1000px) {
                    bottom: 30px;

                    > span {
                        /*padding: 6px 11px;*/
                    }
                }

                @media all and (max-width: 767px) {
                    bottom: 20px;

                    > span {
                        /*padding: 4px 8px;*/
                        white-space: normal;
                        font-weight: normal;
                    }
                }
            }
        }

        &.maps {
            background: $color-linedesign-background-content;

            > div.maps {
                height: $linedesign-maps-height;

                @media all and (max-width: $screen-size-1000) {
                    height: $linedesign-maps-height * $scale-1000;
                }

                @media all and (max-width: $screen-size-767) {
                    height: $linedesign-maps-height * $scale-767;
                }

                @media all and (max-width: $screen-size-486) {
                    height: $linedesign-maps-height * $scale-486;
                }
            }
        }

        &.aboutus {
            @include maxWidth();
            @include default-padding();
            max-width: 750px;

            @media all and (max-width: $screen-size-767) {
                width: initial;
            }

            > h1 {
                @include default-padding(0.5, 0, 0.5, 0);
                text-transform: uppercase;
                text-align: center;
            }

            > p {
                text-align: center;
                @include default-padding(0.5, 0, 0.5, 0);
            }
        }
    }
}

@mixin screen-max-width {
    margin: 0 auto;
    width: $screen-size-1400;

    @media all and (max-width: $screen-size-1400) {
        width: $screen-size-1200;
    }

    @media all and (max-width: $screen-size-1200) {
        width: $screen-size-1000;
    }

    @media all and (max-width: $screen-size-1000) {
        width: 100%;
    }

    @media all and (max-width: $screen-size-767) {
        width: 100%;
    }

    @media all and (max-width: $screen-size-486) {
        width: 100%;
    }
}

@mixin article-default-box-spacing {
    @include default-font(1);

    h1 {
        @include default-padding(0, 0, 0, 0);
        @include default-font($linedesign-font-title-scaling);
    }

    h2, h3, h4, h5, h6 {
        @include default-padding($linedesign-article-padding-top-scaling, 0, 0, 0);
        @include default-font(1);
    }

    > p, > ul, > ol > div, > q, > table {
        @include default-padding($linedesign-article-padding-top-scaling, 0, 0, 0);
        @include default-margin(0);
    }

    > q {
        font-style: italic;
        text-align: center;
        display: block;
        @include default-font(1.2);
        @include default-padding(1, 0, 0.5, 0);
    }

    > iframe.youtubemedia {
        @include default-margin(0.5, 0, 0.75, 0);
        display: block;
        width: 100%;
        height: 550px;
        border: 0;
        padding: 0;

        @media all and (max-width: $screen-size-1000) {
            height: 500px;
        }
        @media all and (max-width: $screen-size-767) {
            height: 400px;
        }
        @media all and (max-width: $screen-size-486) {
            height: 300px;
        }
    }

    > ul {
        li {
            list-style-type: disc;
            @include default-margin(0, 0, 0, 2);
            @include default-padding(0);
        }

        &.sitemap {
            > li {
                list-style-type: disc;
                @include default-margin(0, 0, 0, 2);
                @include default-padding(0);
            }
        }
    }
}
