@use "sass:math";
@import 'default-mixin';

$mediabrowser-library-image-background: #c9dae6 !default;
$mediabrowser-library-image-background-loading: #c9dae6 url(../image/Pulse-1s-200px.gif) 50% no-repeat !default;
$mediabrowser-library-image-background-missing: #c9dae6 url(../image/image-not-found.png) 50% 50% no-repeat !default;
$mediabrowser-library-image-background-deleted: #e8e6e6 !default;

form.editor {
    ul.flexboxes {
        &.rss-card-view {
            @include flexbox();
            @include flex(1, 0, auto);
            @include flex-direction(row);
            @include flex-wrap(wrap);

            > li.card {
                $max-width-percentage: percentage(math.div(1, 5));
                @include flexbox();
                //@include flex(1, 0, 25%);
                @include flex(1, 0, $max-width-percentage);
                padding: 0;
                margin: 0;
                border: 0;
                font-size: 0;
                line-height: 0;
                vertical-align: top;
                list-style-type: none;
                width: auto;
                max-width: $max-width-percentage;
                visibility: hidden;
                @include user-select-none();

                &.visible {
                    visibility: visible;
                }

                > div {
                    display: block;
                    position: relative;
                    flex: inherit;
                    @include default-padding();
                    width: 100%;

                    > div {
                        background: white;
                        box-shadow: 0 0 1px #444;
                        width: 100%;

                        > a {
                            display: block;
                            margin: 0;
                            padding: 0;
                            cursor: pointer;

                            > div {
                                overflow-wrap: break-word;
                                word-break: break-word;
                                display: block;

                                &.reflow {
                                    display: none;
                                }

                                &.img {
                                    background-color: $mediabrowser-library-image-background;
                                    position: relative;
                                    overflow: hidden;

                                    > div {
                                        padding-top: percentage(math.div(9, 16));
                                        background-position: 50%;
                                        //background-size: cover;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                    }
                                }

                                &.tit {
                                    @include default-margin();
                                    @include user-select();

                                    > h2 {
                                        @include default-font();
                                        margin: 0;
                                        padding: 0;
                                        border: 0;
                                        font-weight: normal;
                                        display: block;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                    }
                                }

                                &.buttons {
                                    @include flexbox();
                                    @include flex(1);
                                    @include flex-direction(row);
                                    justify-content: flex-end;
                                    margin: 0;
                                    @include default-padding(0, 1, 1, 1);

                                    > i {
                                        @include default-font(1);
                                        color: $color-action;
                                        @include default-padding(0.5, 0.75);

                                        &:hover {
                                            background: $color-action;
                                            color: white;
                                            //box-shadow: 0 0 2px $color-highlight;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.image-loading {
                    >div {
                        > div {
                            > a {
                                > div.img {
                                    background: $mediabrowser-library-image-background-loading;
                                    background-size: 16px;
                                }
                            }
                        }
                    }
                }

                &.missing-image {
                    > div {
                        > div {
                            > a {
                                > div.img {
                                    background: $mediabrowser-library-image-background-missing;
                                    background-size: auto;
                                }
                            }
                        }
                    }
                }

                &.deleted {
                    cursor: not-allowed;

                    > div {
                        > div {
                            background: $mediabrowser-library-image-background-deleted;

                            > a {
                                cursor: not-allowed;
                                color: #888;

                                > div.img {
                                    background: $mediabrowser-library-image-background-deleted;
                                    background-size: 16px;
                                    
                                    > div {
                                        opacity: 0.3;
                                        filter: grayscale(1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
