/* Error: Undefined mixin.
 *    ,
 * 42 |                     @include default-padding();
 *    |                     ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   mediabrowser.scss 42:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 42 \2502                      @include default-padding();\a    \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   mediabrowser.scss 42:21  root stylesheet";
}
