/* Error: Undefined mixin.
 *     ,
 * 683 |                     @include default-padding(0.25, 0);
 *     |                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   form.scss 683:21  @import
 *   oauth.scss 3:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 683 \2502                      @include default-padding(0.25, 0);\a     \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   form.scss 683:21  @import\a   oauth.scss 3:9    root stylesheet";
}
