﻿@use "sass:math";
@import './form-default';
@import './form';

body {
    font-family: $portal-font-family;
    font-size: $default-font;
    margin: 0;
    padding: 0;
    background: #BBB;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

    &.noScroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%
    }

    &.dragging,
    &.dragging * {
        cursor: move !important
    }

    div.oauth-page {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background: white;

        > div {
            width: 350px;
            height: 350px;
            background: white;
            box-shadow: 0 0 2px #444;
            margin: $default-box-spacing;
            padding: math.div($default-box-spacing, 2);

            > div.header {
                padding: math.div($default-box-spacing, 2);
                text-align: center;

                > img {
                    width: 100px;
                    height: 100px;
                    border: $form-element-border-width solid $form-element-border-color;
                }
            }

            > div.body {
                padding: math.div($default-box-spacing, 2);
                text-align: left;
            }
        }
    }
}
