
@import "./default-mixin";
@import "./responsive-disabled";

@mixin container-reset {
  //background-color: initial;
  //background-image: initial;
  //background-position-x: initial;
  //background-position-y: initial;
  //background-repeat: initial;
  //background-attachment: initial;
  //background-clip: initial;
  //background-origin: initial;
  //background-size: initial;
  //border-top-color: initial;
  //border-top-style: initial;
  //border-top-width: initial;
  //border-right-color: initial;
  //border-right-style: initial;
  //border-right-width: initial;
  //border-bottom-color: initial;
  //border-bottom-style: initial;
  //border-bsriottom-width: initial;
  //border-left-color: initial;
  //border-left-style: initial;
  //border-left-width: initial;
  //border-image-source: initial;
  //border-image-outset: initial;
  //border-image-repeat: initial;
  //border-image-width: initial;
  //border-image-slice: initial;
  //display: initial;
  //position: initial;
  //overflow-y: initial;
  //overflow-x: initial;
  //white-space-collapse: initial;
  //text-wrap-mode: initial;
  //margin-top: initial;
  //margin-right: initial;
  //margin-bottom: initial;
  //margin-left: initial;
  //padding-top: initial;
  //padding-right: initial;
  //padding-bottom: initial;
  //padding-left: initial;
  //flex-direction: initial;
  //align-items: initial;
  //flex-grow: initial;
  //flex-shrink: initial;
  //flex-basis: initial;
  //height: initial;
  //min-height: initial;
  //max-height: initial;
  //width: initial;
  //min-width: initial;
  //max-width: initial;
  //box-sizing: initial;
  //user-select: initial;
  //-moz-box-direction: initial;
  //-moz-box-orient: initial;
}

@mixin clear-spacing {
  margin :0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  //overscroll-behavior: contain;
}

@mixin set-width-all($width) {
  min-width: $width;
  width : $width;
  max-width: $width;
}

@mixin set-height-all($height) {
  min-height: $height;
  height : $height;
  max-height: $height;
}

@mixin set-width-fill() {
  min-width: 100%;
  width: 100%;
  width: fill-available;
  width: -webkit-fill-available;
  max-width: 100%;
  max-width: fill-available;
  max-width: -webkit-fill-available;
}

@mixin set-height-fill() {
  min-height: 100%;
  height: 100%;
  height: fill-available;
  height: -webkit-fill-available;
  max-height: 100%;
  max-height: fill-available;
  max-height: -webkit-fill-available;
}

//html {
//  scroll-behavior: smooth;
//
//  /* Custom cubic-bezier easing */
//  scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1);
//}

//html, body {
//  min-width: 100%;
//  width: 100%;
//  width: 100vw;
//
//  min-height: 100%;
//  height: 100%;
//  height: 100vh;
//
//  position: relative;
//  overflow: auto;
//  @include clear-spacing;
//
//  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//  font-size: 0;
//  line-height: 0;
//
//  #panel-container-spacing {
//	width: auto;
//	height: 0;
//  }
//}

body.dragging {
  @include user-select-none();
}

/*
The container should fill the available space. 

When expand-horizontal is add, it should be possible to have a wider content in the
panel, and allow to scroll horizontally.
*/

// PrismFlow

@mixin panel-container-block-fill {
  display: block;
  @include flex(auto, auto, auto);
  position: relative;

  // overflow: initial;
  overflow-y: auto; /* Voeg deze regel toe */
  //overscroll-behavior: contain;
  white-space: initial;

  @include set-width-fill();
  @include set-height-fill();

  @include clear-spacing;
  @include user-select;
}

div.pf-container,
div.prism-flow-container,
div.panel-container {
  //all: initial;
  @include container-reset();

  /* can contain on or more panels, in a certain direction*/
  @include flexbox();
  @include flex(1,0,auto);
  @include flex-direction(row);
  background: white;
  align-items: stretch;

  position: relative;
  overflow: hidden;
  white-space: nowrap;

  @include clear-spacing;

  /* use 100% of the current container (previous position:relative) */
  @include set-width-fill();
  @include set-height-fill();
  @include user-select-none();

  /* panel-container requires a child div */
  // > div {
  //         // min-width: 100%;
  //         // width: auto;
  //         // min-height: 100%; 
  //         // height: auto;
  //         @include flexbox();
  //         @include flex(1,0,auto);
  //         @include flex-direction(row);
  //         align-items: stretch;
  // }

  &.pf-padding,
  &.panel-padding {
	> div.panel-container-panel {
	  //border: 2px solid magenta;
	  @include default-padding();
	}
  }

  @mixin prism-flow-panel {
	@include flexbox();
	@include flex(1, 0, 0);
	@include flex-direction(row);
	flex-wrap: wrap;
	min-width: auto;
	overflow: hidden;
	white-space: nowrap;
	@include user-select-none;
	@include clear-spacing;
  }

  /* a panel contains panels */
  div.pf-panel {
	@include prism-flow-panel();

	&.horizontal {
	  @include flex-direction(row);
	  @include set-height-fill();

	  div.panel-divider {
		width: 3px;
		background-color: transparent;
		cursor: col-resize;

		&:hover {
		  background-color: rgb(60, 85, 207);
		}
	  }
	}

	&.vertical {
	  @include flex-direction(column);
	  @include set-width-fill();

	  div.panel-divider {
		height: 3px;
		background-color: unset;
		cursor: pointer;

		&:hover {
		  background-color: black;
		}
	  }
	}

	&.pf-shrink,
	&.panel-shrink {
	  @include flex(0, 0, auto);
	}

	&.pf-scroll-x,
	&.panel-scroll-x {
	  overflow-x:auto;
	}

	&.pf-scroll-y,
	&.panel-scroll-y {
	  overflow-y: auto;
	}

	&.pf-scroll,
	&.panel-scroll {
	  overflow-x:auto;
	  overflow-y:auto;
	}
  }


  ul {
	&.pf-block-fill,
	&.panel-container-block-fill,
	&.panel-block-fill {
	  @include panel-container-block-fill;
	}
  }

  div.pf-block-fill,
  div.panel-container-block-fill,
  div.panel-block-fill {
	@include panel-container-block-fill;

	font-size: small;
	line-height: 1.4em;

	.dragging & {
	  @include user-select-none;
	}

	> form {
	  min-height: 100%;
	  height: 100%;
	  height: fill-available;
	  height: -webkit-fill-available;
	  max-height: 100%;
	  max-height: fill-available;
	  max-height: -webkit-fill-available;
	  position: relative;

	  &.tab-container {
		@include default-margin();
		@include prism-flow-panel();
		@include flex-direction(column);
		width: 100%;

		> div {
		  max-width: 100%;

		  &.tabs {
			@include flex(0, 0, auto);
			margin: 0;
		  }

		  &.form {
			@include flex(1, 0, 0);
			overflow-y: auto;
		  }

		  &.pf-padding {
			@include default-padding;
		  }
		}
	  }
	}
  }

  div {
	&.pf-panel,
	&.pf-panel-container,
	&.pf-panel-container-block-fill
	&.pf-block-fill {
	  &.pf-padding {
		@include default-padding;
	  }

	  &.pf-padding-horizontal {
		@include default-padding(0, 1);
	  }

	  &.pf-padding-vertical {
		@include default-padding(1, 0);
	  }
	}
  }

  /*  
  the overlay panel is used for showing content details, while overlapping
  the previous view. This is default within the width of the parent panel, 
  with a little indenting to show the original panel.

  When a minimum width is required, that exceeds the parent panel, and when
  expand-horizontal is set, the overlay can be widder then the container
  which makes is scrollable. 
  */
  &.pf-overlay,
  &.panel-overlay {
	position: absolute;
	overflow: hidden;
	z-index: +1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	/* fill full height*/
	@include set-height-all(100%);

	@include flexbox;
	@include flex(1, 0, 0);
	@include clear-spacing;

	/* Default the overlay will be inline, so it will stay within the view*/
	&,
	&.pf-overlay-inline,
	&.panel-overlay-inline {
	  @include set-width-all(auto);
	}

	&.pf-overlay-indent,
	&.panel-overlay-indent {
	  //margin-left: 150px;
	  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	}

	&.pf-overlay-inline,
	&.panel-overlay-inline {
	  // margin-left: 0;
	  box-shadow: none;
	}

	&.pf-view-width,
	&.panel-view-width {
	  @include set-width-all(100vw);
	}

	> div.pf-container,
	> div.panel-container {
	  @include clear-spacing;

	  min-width: auto;
	  width: fill-content;
	  max-width: auto;

	  @include set-height-all(100%);
	}
  }
}

.bg-red { background-color: red;}
.bg-blue { background-color: blue;}
.bg-green { background-color: green;}
.bg-yellow { background-color: yellow;}
.bg-pink { background-color: pink;}
.bg-cyan { background-color: cyan;}
.bg-magenta { background-color: magenta;}

.br-yellow { border: 10px solid yellow !important; }
.br-red { border: 10px solid red !important; }
.br-green { border: 10px solid green !important; }
.br-blue { border: 10px solid blue !important; }

//form.editor {
//  @include default-font();
//  font-family: $portal-font-family;
//  
//  > div.panel {
//	display: block;
//	flex: auto;
//  }
//}