﻿@use 'sass:math';
@use 'sass:color';

@import 'default-cms-design';
@import 'responsive-disabled';
@import 'form-default';
@import 'reset';
@import 'form';
@import 'default-autoload';
@import 'portal-tab-container';
@import 'form-overlay';
@import 'form-flex-row';

@mixin default-box-layout() {
    //background: $color-editor;
    @include backgroundColor($modal-background-color-light, $modal-background-color-dark);
    @include boxShadow(0, 0, 3px, $modal-shadow-color-light, $modal-shadow-color-dark);
    @include border(1px, solid, $modal-border-color-light, $modal-border-color-dark);
    border-radius: $modal-border-radius;
    padding: $default-box-spacing;

}

@mixin editor-default-header {
    @include backgroundColor($modal-header-background-color-light, $modal-header-background-color-dark);
    @include color($modal-header-color-light, $modal-header-color-dark);

    margin: (-1 * $default-box-spacing) (-1 * $default-box-spacing) (1 * $default-box-spacing) (-1 * $default-box-spacing);
    padding: $default-box-spacing (1 * $default-box-spacing);
}

.hide {
    display: none !important
}

html, body {
    height: 100%;
}

body, li, p, span, h1, h2, h3, h4, h5, i {
    @include default-font();
}

[class^="icon-"], [class*=" icon-"] {
    font-family: initial !important;

    &:before {
        font-family: 'icomoon' !important;
    }
}

i[class^="icon-"], i[class*=" icon-"] {
    padding-left: 4px;
    padding-right: 4px;
    vertical-align: middle;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.defaultFont {
    @include default-font();
}

.smallerFont {
    @include default-font(0.8);
}

div#loadingIndicator {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 5px 10px 5px 33px;
    background: $loading-indicator-background url($portal-loading-indicator) 10px 50% no-repeat;
    color: $loading-indicator-color;
    display: none;
    right: 0;
    z-index: 99999;
}

.unselectable {
    @include user-select-none();
}

.dragged {
    position: absolute;
    opacity: .5;
    z-index: 2000
}

input.error,
select.error {
    border: 1px dotted red !important
}

label.ControlHasError {
    color: red !important;
    width: inherit !important;
    float: none !important
}

span.nobr {
    white-space: nowrap;
}

.verticalAlign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

div.progressbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: auto;
    background: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;

    > div {
        display: inline-block;
        background: $color-highlight;
        height: 2px;
        width: 0;
    }
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    //background: $background-canvas-color;
    @include backgroundColor($background-canvas-color-light, $background-canvas-color-dark);
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    @include hide-scrollbars();

    &, button {
        font-family: $portal-font-family;
    }

    &.noScroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%
    }

    &.dragging,
    &.dragging * {
        cursor: move !important
    }

    > nav {
        @include backgroundColor($portal-navigation-background-light, $portal-navigation-background-dark);
        @include color($portal-navigation-color-light, $portal-navigation-color-dark);
        width: calc($portal-navigation-width * (1rem / $default-pixel-per-rem));
        
        // 200px + (16 / 16)   => 200 * 1
        // 200px + (20 / 16)   => 200 * 1,25
        // .....   (20 / 16) * 0.5 => 200 * 1,125
        
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -ms-overflow-style: none;
        overflow: auto;
        margin: 0;
        padding: 0;
        z-index: 0;
        font-size: 0;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;

        @include hide-scrollbars();
        @include user-select-none();

        div.closeButton {
            display: none;
            text-align: right;

            > a {
                @include color($portal-navigation-color-light, $portal-navigation-color-dark);
            }
        }

        > div.themeColor {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            > div {
                @include form-font-size();
                margin: 0;

                a {
                    display: inline-block;
                    @include color($portal-navigation-link-color-light, $portal-navigation-link-color-dark);
                    font-weight: normal;
                    text-decoration: none;
                }

                > div.account {
                    @include flexbox(); // display: flex;
                    @include flex(0, 0, auto);
                    @include flex-direction(row); // flex-direction: row;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: $default-box-spacing $default-box-spacing 0 $default-box-spacing;
                    padding: 0 0 $default-box-spacing 0;

                    > div {
                        @include flexbox();
                        @include flex(0, 0, 0);
                        @include flex-direction(row);

                        &.avatar {
                            line-height: 0;
                            width: calc($portal-navigation-avatar-size + $default-box-spacing + (2*$portal-navigation-avatar-border-width));

                            > a {
                                display: inline-block;
                                margin-right: $default-box-spacing;

                                > img {
                                    width: $portal-navigation-avatar-size;
                                    height: $portal-navigation-avatar-size;
                                    max-width: $portal-navigation-avatar-size;
                                    border-radius: 10px;
                                    background: $portal-navigation-avatar-background;
                                    border: $portal-navigation-avatar-border;
                                }
                            }
                        }

                        &.meta {
                            @include flexbox();
                            @include flex(1, 0);
                            @include flex-direction(column);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            > div {
                                @include flexbox();
                                @include flex(1, 0);
                                @include flex-direction(column);

                                &.name {
                                    @include align-items(flex-start);
                                    @include justify-content(flex-start);

                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                &.links {
                                    @include align-items(flex-start);
                                    @include justify-content(flex-end);
                                }
                            }
                        }
                    }
                }

                > ul.navigation {
                    $portal-navigation-item-spacing: 1px !default;
                    $portal-navigation-icon-space: 24px !default;
                    $portal-navigation-span-left-padding: math.div($default-box-spacing, 2) !default;
                    
                    @include flexbox();
                    @include flex(1, 0, auto);
                    @include flex-direction(column);
                    
                    list-style-type: none;
                    margin: 0 0 $default-box-spacing 0;
                    padding: 0;

                    > li {
                        // display: block;
                        @include flexbox();
                        @include flex(0, 0, 0);
                        
                        margin: calc($portal-navigation-item-spacing * (1rem / $default-pixel-per-rem)) 0;
                        @include borderLeft($portal-navigation-selected-border-width, solid, transparent);
                        @include color($portal-navigation-link-color-light, $portal-navigation-link-color-dark);
                        padding: 0;
                        white-space: nowrap;
                        list-style-type: none;
                        
                        &:first-child {
                            border-top: none;
                            // display: block
                        }

                        > a {
                            //display: block;
                            @include flexbox();
                            @include flex(1, 0, 100%);
                            @include flex-direction(row);
                            @include flex-wrap(nowrap);

                            background: none;
                            @include color($portal-navigation-link-color-light, $portal-navigation-link-color-dark);
                            font-weight: normal;
                            white-space: nowrap;
                            text-decoration: none;
                            padding: $default-box-spacing $default-box-spacing $default-box-spacing ($default-box-spacing - $portal-navigation-selected-border-width);
                            
                            > i {
                                //display: inline-block;
                                @include flexbox();
                                @include flex(0, 0, calc($portal-navigation-icon-space * (1rem / $default-pixel-per-rem)));
                                @include flex-center(center);
                                
                                // width: 1.1rem;
                                padding: 0;
                                overflow: hidden;
                            }
                            
                            > span {
                                @include flexbox();
                                @include flex(1, 0, auto);
                                padding-left: calc($portal-navigation-span-left-padding * (1rem / $default-pixel-per-rem));
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        &.selected {
                            @include borderLeft(
                                $portal-navigation-selected-border-width, 
                                solid, 
                                $portal-navigation-selected-border-left-color-light,  
                                $portal-navigation-selected-border-left-color-dark
                            ); 
                        }

                        &.node:hover {
                            > a {
                                @include backgroundColor(
                                    $portal-navigation-hover-background-color-light, 
                                    $portal-navigation-hover-background-color-dark
                                );
                                cursor: pointer;
                            }

                            @include borderLeft(
                                $portal-navigation-selected-border-width,
                                solid,
                                $portal-navigation-hover-background-color-hover-light,
                                $portal-navigation-hover-background-color-hover-dark
                            );
                            
                            &.selected {
                                @include borderLeft(
                                    $portal-navigation-selected-border-width,
                                    solid,
                                    $portal-navigation-hover-background-color-light,
                                    $portal-navigation-hover-background-color-dark
                                );
                            }
                        }
                    }
                }
            }
        }
    }

    > div.cmsLayout {
        overflow: hidden;
        @include hide-scrollbars();

        > div.portalView {
            @include backgroundColor($background-canvas-color-light, $background-canvas-color-dark);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include flexbox();
            @include flex(1, 0);
            @include flex-direction(column);
            overflow: hidden;
            @include hide-scrollbars();

            &.canvas {
                @include backgroundColor($background-canvas-color-light, $background-canvas-color-dark);
            }

            min-height: 1vh;
            padding: 0;
            z-index: 1;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            margin-left: pixelRem($portal-navigation-width); // calc($portal-navigation-width * (1rem / $default-pixel-per-rem));

            > div {
                @include flexbox();
                @include flex(1, 0);
                @include flex-direction(column);
                @include hide-scrollbars();
                overflow: hidden;
                height: 100%;

                > div {
                    @include flexbox();
                    @include flex(0, 0, auto);
                    @include flex-direction(column);

                    &.bodySpace {
                        $space: math.div($default-box-spacing, 2);
                        padding: 0;

                        @include flex(1, 0);
                        position: relative;
                        overflow: hidden;

                        &.no-padding {
                            padding: 0;
                        }

                        @media all and (max-width: $screen-size-767) {
                            padding: $space 0;
                        }

                        > div {
                            @include flexbox();
                            @include flex(1, 0, 0);
                            @include flex-direction(column);
                            overflow: hidden;
                            overflow-y: auto;
                            position: relative;

                            > form {
                                margin: 0;
                                @include default-box-layout();
                                //background: lighten($form-title-background-color, 2);

                                > ul, > div {
                                    padding: $default-box-spacing 0 0 0;
                                    overflow-x: auto;

                                    &:first-child {
                                        padding: 0 0 0 0;
                                    }
                                }

                                &.flex-fill {
                                    @include flexbox();
                                    @include flex(1, 0, auto);
                                }

                                &.no-padding {
                                    padding: 0;
                                }
                            }

                            > ul.autoload, // TODO: deprecated
                            > div.container {
                                margin: $default-box-spacing;

                                @include default-box-layout();

                                @media all and (max-width: $screen-size-767) {
                                    margin: $default-box-spacing 0;
                                }
                            }

                            > div.container {
                                > h1, > h2 {
                                    @include editor-default-header();
                                }

                                ul.autoload {
                                    > li.editor {
                                        > form.editor {
                                            > h2 {
                                                // TODO: fix this more elegant
                                                @include editor-default-header();
                                            }
                                        }
                                    }
                                }
                            }

                            &.dashboard {
                                box-shadow: none;
                                padding: 0;
                                margin: 0;
                                background: none;

                                > form {
                                    box-shadow: none;
                                    margin: 0;
                                    border: 0;
                                    padding: 0;
                                    background: none;
                                }

                                > div {
                                    > div.editor {
                                        @include default-box-layout();
                                        margin: $default-box-spacing;

                                        > form {}
                                    }
                                }
                            }

                            &.loginView,
                            &.reqPasswordView {
                                $padding: $form-element-margin + $form-element-padding + $form-element-border-width;

                                @include default-box-layout();
                                @include hide-scrollbars();
                                @include flex(0, 0, auto);
                                max-width: 100%;
                                width: 400px;
                                margin-left: auto;
                                margin-right: auto;

                                > h1 {
                                    //margin: 0 $padding $default-box-spacing $padding;
                                    background: $form-title-background-color;
                                    color: $form-title-color;
                                    margin: (-1 * $default-box-spacing) (-1 * $default-box-spacing) ($default-box-spacing) (-1 * $default-box-spacing);
                                    border: $form-element-border-width solid transparent;
                                    padding: $default-box-spacing + $form-element-margin + $form-element-padding + $form-element-border-width;
                                }

                                > form {
                                    box-shadow: none;
                                    background: none;
                                    margin: 0;
                                    border: 0;
                                    padding: 0;

                                    > ul, > div {
                                        padding: 0;
                                    }

                                    > div.buttons {
                                        padding-top: 0;
                                        margin-top: $default-box-spacing;
                                        margin-left: $form-element-margin;
                                        //border-left: $form-element-border-width solid transparent;
                                        padding-left: $form-element-padding;
                                    }
                                }
                            }

                            &.panel  {
                                //border: 2px solid red;
                                @include flexbox;
                                @include flex(1, 0, 0);
                                @include flex-direction(column);

                                > form.editor, > div.filter {
                                    @include flexbox;
                                    @include flex(0, 0, 0);
                                }

                                > ul.autoload,
                                > div.container {
                                    @include flexbox;
                                    @include flex(1, 0, 0);
                                    overflow: hidden;
                                    overflow-y: auto;

                                    > form.editor {
                                        display: block;
                                        flex: auto;
                                        overflow-x: hidden;

                                        //> div.form {
                                        //    > form.editor.examinator-assign {
                                        //        background: #fafafa;
                                        //    }
                                        //}

                                        &.panel {
                                            @include flexbox;
                                            @include flex(1, 0, 0);
                                            @include flex-direction(column);
                                            overflow: hidden;

                                            > div.form {
                                                @include flexbox;
                                                @include flex(1, 0, 0);
                                                @include flex-direction(column);
                                                overflow: hidden;

                                                > form.editor.flex-fill {
                                                    @include flexbox;
                                                    @include flex(1, 0, 0);
                                                    @include flex-direction(column);
                                                    overflow: hidden;

                                                    background: none;
                                                    box-shadow: none;
                                                    border: none;
                                                    padding: 0;
                                                    margin: 0;

                                                    > div.container {
                                                        height: 100%;

                                                        > div {
                                                            overflow-y: auto;

                                                        }
                                                    }

                                                    > div.panel {
                                                        height: 100%;

                                                        > div.scroll-panel {
                                                            height: 100%;
                                                            overflow-y: auto;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        > ul.dashboard {
                            list-style-type: none;
                            display: block;
                            font-size: 0;

                            > li {
                                display: inline-block;
                                width: 50%;
                                @include form-font-size();
                                vertical-align: top;
                                overflow: hidden;

                                > div {
                                    background: #3f3f4f;
                                    color: #fff;
                                    height: 350px;
                                    margin: 5px;
                                    padding: 10px;
                                    overflow: auto;

                                    > h2 {
                                        @include form-font-size();
                                        font-weight: normal;
                                        margin: 0;
                                        padding: 0;
                                        height: 24px
                                    }

                                    > div#chartUsage {
                                        height: 325px
                                    }
                                }

                                @media all and (max-width: 767px) {
                                    width: 100%;
                                }
                            }
                        }

                        > div#container {
                            // background: #fafafa;
                            @include backgroundColor($background-canvas-color-light, $background-canvas-color-dark);
                            padding: 4px;
                        }

                        > div.errorPage {
                            margin: $default-box-spacing;
                            @include default-box-layout();

                            > h1 {
                                //@include form-font-size();
                                font-size: $default-font * 1.5; /* 13px */
                                line-height: $default-line-height * 1.5; /* 16px */
                                margin-bottom: $default-box-spacing;
                            }

                            > pre {
                                max-width: 100%;
                                overflow-x: scroll;
                            }
                        }
                    }

                    &.tabContainer {
                        @mixin tab-height() {
                            height: calc($portal-navigation-tab-container-line-height + 
                                ($portal-navigation-tab-container-spacing * 2) + 
                                $portal-navigation-tab-select-border-width);
                        }
                        
                        @include tab-height();
                        @include user-select-none();
                        @include backgroundColor($portal-navigation-tab-container-background-color-light, $portal-navigation-tab-container-background-color-dark);
                        @include color($portal-navigation-tab-container-background-color-light, $portal-navigation-tab-container-background-color-dark);
                        line-height: $portal-navigation-tab-container-line-height;
                        position: relative;
                        flex-shrink: 0;
                        white-space: nowrap;

                        div.menu,
                        div.notifications {
                            a {
                                &,
                                &:hover,
                                &:active,
                                &:visited,
                                &:focus {
                                    // font-size: 20px;
                                    // line-height: 20px;
                                    // padding: 8px 5px 6px 5px;
                                    //line-height: $portal-navigation-tab-container-line-height;
                                    @include inline-flex();
                                    @include flex(auto);
                                    @include flex-center();
                                    align-self: center;
                                    padding: $portal-navigation-tab-container-spacing;
                                    
                                    //color: #fff;
                                    @include color($portal-navigation-tab-container-background-color-light, $portal-navigation-tab-container-background-color-dark);
                                    text-decoration: none;
                                    border-bottom: $portal-navigation-tab-select-border-width solid transparent;
                                }
                            }
                        }

                        div.notifications {
                            position: relative;
                            margin-left: 10px;
                            margin-right: 10px;

                            > a {
                                > span {
                                    $size: 10px;
                                    $width: 20px;
                                    $pad: 3px;

                                    position: absolute;
                                    top: 2px;
                                    right: 0;
                                    background: red;
                                    color: white;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    display: block;
                                    width: $width;
                                    height: $width;
                                    padding: math.div(($width - $size), 2) 0 0 0;
                                    font-size: $default-font;
                                    line-height: $default-line-height;
                                    text-align: center;
                                }
                            }
                        }

                        div.tabs {
                            @include tab-height();
                            @include hide-scrollbars();
                            overflow: hidden;
                            position: relative;

                            > div.scroll-container {
                                display: block;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                overflow: hidden;
                                overflow-x: scroll;
                                @include hide-scrollbars();

                                > ul {
                                    display: inline;
                                    vertical-align: middle;
                                    white-space: nowrap;

                                    > li {
                                        display: inline-block;
                                        @include tab-height();
                                        
                                        > a {
                                            &,
                                            &:hover,
                                            &:active,
                                            &:visited,
                                            &:focus {
                                                display: inline-block;
                                                line-height: $portal-navigation-tab-container-line-height;
                                                text-decoration: none;
                                                margin: 0;
                                                border: 0;
                                                padding: $portal-navigation-tab-container-spacing $portal-navigation-tab-container-spacing-vertical;
                                                @include color($portal-navigation-tab-container-color-light, $portal-navigation-tab-container-color-dark);
                                                @include borderBottom($portal-navigation-tab-select-border-width, solid, transparent);
                                            }

                                            &:hover {
                                                @include backgroundColor($portal-navigation-tab-container-background-color-hover-light, $portal-navigation-tab-container-background-color-hover-dark);
                                            }
                                            
                                            > span {
                                                line-height: $portal-navigation-tab-container-line-height;
                                            }
                                        }

                                        &:first-child {
                                            margin-left: 0
                                        }

                                        &.selected {
                                            > a {
                                                @include borderBottom(
                                                    $portal-navigation-tab-select-border-width,
                                                    solid,
                                                    $portal-navigation-tab-select-border-color-light,
                                                    $portal-navigation-tab-select-border-color-dark
                                                );
                                            }
                                        }
                                    }
                                }
                            }

                            > div.scroll-handle {
                                &.arrow-left {
                                    left: 0;
                                }

                                &.arrow-right {
                                    right: 0;
                                }

                                &.show {
                                    @include flexbox(); // display: flex;
                                    @include align-items(center); // align-items: center;
                                    @include justify-content(center); // justify-content: center;
                                }
                            }
                        }
                    }
                }

                ul {
                    &.cards {
                        > li {
                            &.header {
                                display: none;
                            }

                            &.autoload {
                                border-bottom: none;
                                text-align: center;

                                > div, > span {
                                    text-align: left;
                                    width: 100%;
                                    max-width: 600px;
                                    display: inline-block;
                                    margin: 20px auto 0 auto;
                                    padding: 0;
                                    background: white;
                                    box-shadow: 0 0 5px #ccc;

                                    > div.card {
                                        @include form-font-size;
                                        padding: 20px;

                                        > div.msg {
                                            white-space: normal;
                                        }
                                    }
                                }

                                &:first-child {
                                    > div, > span {
                                        margin: 0 auto;
                                    }
                                }

                                &:hover {
                                    background: none;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.noNav {
            > div.portalView {
                margin-left: 0;
            }
        }
    }

    &.toggle-navigation {
        nav {
            //margin-left: $portal-navigation-width * -1;
            margin-left: calc(pixelRem($portal-navigation-width) * -1);
        }

        > div.cmsLayout {
            > div.portalView {
                margin-left: 0 !important;
            }
        }
    }

    @media all and (max-width: 767px) {
        nav {
            div.closeButton {
                display: block;

                > a {
                    > i {
                        display: inline-block;
                        @include default-font(1.5);
                        @include default-padding(0.25);
                    }
                }
            }

            /* nav */
            //margin-left: ($portal-navigation-width * -1) !important;
            margin-left: calc(pixelRem($portal-navigation-width) * -1) !important;
        }

        > div.cmsLayout {
            > div.portalView {
                margin-left: 0 !important;
            }
        }

        &.toggle-navigation {
            nav {
                margin-left: 0 !important;
                z-index: 99;
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        height: 15px;
        overflow: hidden
    }
}


form.editor {
    ul {
        &#profiles {
            li {
                width: 100%;
                padding: 6px 2px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 0;

                > * {
                    line-height: normal
                }

                span {
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0;
                    margin: 0
                }

                &.deleted span {
                    text-decoration: line-through;
                    color: #aaa
                }

                div.menu {
                    display: none;
                    padding: 0 4px 0 0;
                    float: right;
                    border: 0
                }

                &:hover {
                    background-color: #eee;
                    cursor: pointer;

                    div.menu {
                        display: block
                    }
                }
            }
        }

        &#relatedMedia {
            li {
                display: block;
                padding: 6px 2px;
                width: 100% !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                > * {
                    line-height: normal;
                    vertical-align: middle
                }

                &.defaultImage {
                    color: #aa0
                }

                &:hover {
                    background-color: #eee;

                    div.menu {
                        display: block;
                        vertical-align: middle
                    }
                }

                &.deleted {
                    text-decoration: line-through;
                    color: #aaa
                }

                div.menu {
                    display: none;
                    padding: 0 4px 0 0;
                    float: right;
                    border: 0
                }
            }
        }

        &.form {
            > li, > li ul > li {
                > span {
                    input, select {
                        &.hideBorderTillHover {
                            border-color: transparent;

                            &:hover {
                                border-color: silver;
                            }
                        }
                    }

                    
                    > div.markdown {
                        @include default-text() {
                            @include markdown-pre-code();
                        }
                    }
                }

                > div.upload {
                    > ul#ImportFiles {
                        > li {
                            width: 25%;
                        }
                    }
                }

                > ul.autoload {
                    &.control {
                        > li {
                            &.accselect {
                                border: $form-element-border-width solid $form-element-border-color;
                                background: white;
                                padding: $form-element-padding;
                                margin: $form-element-margin;


                                &:hover {
                                    background: $color-highlight; //  #c6e1fc;
                                    > span.hoverMenu {
                                        display: inline-block;
                                        background: #c6e1fc
                                    }
                                }

                                &.notify {
                                    background-color: #ffffc7;
                                }

                                &.notifyDone {
                                    -webkit-transition: background-color 500ms linear;
                                    -moz-transition: background-color 500ms linear;
                                    -o-transition: background-color 500ms linear;
                                    -ms-transition: background-color 500ms linear;
                                    transition: background-color 500ms linear;
                                }
                            }

                            &.editor {
                                border: $form-element-border-width solid $form-element-border-color;
                                background: lighten($color-editor, .5);
                                margin: $form-element-margin;
                            }
                        }
                    }
                }

                &.disabled, &[class*='disabled-'] {
                    //a.fancyButton {
                    //    &, &:active, &:focus, &:visited, &:hover {
                    //        background: $color-action-disabled;
                    //        border-color: $color-action-disabled;
                    //        color: $color-action-disabled-text;
                    //        cursor: default;
                    //
                    //        &:hover {
                    //            background: $color-action-disabled;
                    //            border-color: $color-action-disabled;
                    //            color: $color-action-disabled-text;
                    //            cursor: default;
                    //        }
                    //    }
                    //
                    //    &.weightless {
                    //        &, &:active, &:focus, &:visited, &:hover {
                    //            background: transparent;
                    //            border-color: transparent;
                    //            color: $color-disabled;
                    //            cursor: default;
                    //        }
                    //    }
                    //}

                    > span {
                        > ul.itemList {
                            > li.clickable {
                                > div {
                                    cursor: default;

                                    &:hover {
                                        background: white;
                                    }
                                }
                            }
                        }
                    }
                }

                > span,
                > ul.group > li > span {
                    @include default-autoload();
                }
            }
        }
    }

    div.action-menu {
        @include action-menu;
    }

    div.default-text-preview {
        @include default-text();
    }

    &.changepassword.inOverlay {
        ul {
            > li {
                > label {
                    display: block;
                    float: none;
                }
            }
        }
    }

    &.tab-container {
        > div.tabs {
            @include flexbox(); // display: flex;
            @include flex-direction(row); // flex-direction: row;
            margin: -10px -10px 10px -10px;
            padding: 0 15px;
            background: $portal-form-tabs-background; // #e9f1f1;
            overflow: initial;

            > ul {
                @include flexbox(); // display: block; // TODO: fix this?!
                @include flex(1, 1); // flex: 1 1 auto;
                @include flex-direction(row);
                overflow: auto;
                user-select: none;
                //margin-top: 1px;

                > li {
                    @include flexbox(); // display: block; // TODO: fix this?!
                    @include flex(0, 0); // flex: 1 1 auto;
                    @include flex-direction(row);
                    //display: inline-block;
                    padding: $default-box-spacing ($default-box-spacing * 2); //10px 15px;
                    margin: 0;
                    border: 0;
                    border-top: 2px solid transparent;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: initial;
                    // color: darken($portal-form-tabs-background, 20);
                    @include user-select-none;

                    //&.selected {
                    //    border-top: 2px solid lighten($color-action, 20%); //$color-highlight;
                    //    // background: $color-editor;
                    //    border-top-left-radius: 2px;
                    //    border-top-right-radius: 2px;
                    //    // box-shadow: 0 0 3px #c5d1dadb;
                    //    // color: $default-color;
                    //    margin: 0 2px 0 2px;
                    //
                    //    //&:hover {
                    //    //    background: $color-editor;
                    //    //}
                    //}
                }
            }

            > div.actions {
                @include flex(0, 0); // flex: 0 0 auto;
                position: relative;
                /*padding: 10px 2px;*/
                cursor: pointer;

                > i {
                    display: block;
                    margin: 10px 2px 0 10px;
                    //@include form-font-size();
                    font-size: 16px;
                    line-height: 16px;
                }

                > div.action-menu {
                    $div-action-menu-top-spacing: 10px;
                    
                    background: white;
                    position: absolute;
                    top: calc($default-line-height + $div-action-menu-top-spacing);
                    right: 0;
                    z-index: 9999;

                    > ul {
                        list-style-type: none;
                        white-space: nowrap;
                        border: $form-element-border-color solid $form-element-border-width;

                        > li {
                            padding: 5px;
                            display: block;

                            > a {
                                white-space: nowrap;
                                display: inline-block;

                                &.disabled, [class*='disabled-'] {
                                    color: silver;
                                    cursor: default;
                                }
                            }
                        }
                    }
                }

                /* deprecated: use popper */
                &:not(.no-hover) {
                    &:hover {
                        > div.action-menu {
                            display: block;
                        }
                    }
                }
            }

            > div.buttons {
                padding: ($default-box-spacing - 5px) $form-element-padding 0 $form-element-padding;
            }
        }

        > div.form {
            &.container {
                &.scroll {
                    overflow: scroll;
                }
            }

            > form.editor {
                //min-height: 200px;

                > ul.form,
                > div.scroll > ul.form {
                    &.autoload {
                        > li.editor {
                            border: $form-element-border-width solid #e6ecec;
                            background: $form-default-background; //darken($color-editor, 1);
                        }
                    }
                }
            }
        }
    }

    @include tab-container();

    &.disabled, &[class*='disabled-'] {
        &.tab-container {
            > div.tabs {
                > ul {
                    > li {
                        cursor: default;

                        &:hover {
                            background: none; //lighten($color-editor, 2);
                        }
                    }
                }
            }
        }
    }
}

#btnMenu a img#icon {
    width: 16px;
    height: 16px
}

div#loginDialog {
    display: inline-block;
    background: #fff;
    width: 250px;
    padding: 15px;
    margin: 25px;
    border-radius: 5px;

    input {
        width: 100%;
    }
}

/* autoload */
ul {
    > div.loadMore {
        //background: transparent url('../image/waiting.16.gif') no-repeat 50% 50%;
        background-image: url($form-wait-for-load-done-image);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto;

        height: 24px;
        padding: 1px;
        display: block;

        &.error {
            background: none
        }
    }

    > li.editor {
        background: $color-editor;
        padding: 0; //$default-box-spacing;
        border-top: 1px solid darken($color-editor, 10%);
        border-bottom: 1px solid darken($color-editor, 10%);
        margin-top: -1px;

        > form {
            @include default-box-layout;
            width: 100%;
            //padding: $default-box-spacing;
            //box-shadow: 0 0 2px $color-shadow;

            > ul > li {
                > ul#dnsNames li {
                    width: 100%;
                    cursor: pointer;

                    &.header {
                        font-weight: bold;
                        cursor: default;

                        &:hover {
                            background-color: inherit
                        }
                    }

                    &.default {
                        color: green;
                        font-weight: bold
                    }

                    span {
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0;
                        margin: 0;

                        &.bttns {
                            display: none;
                            float: right
                        }

                        a {
                            color: #444
                        }
                    }

                    &.deleted {
                        cursor: default;

                        span {
                            text-decoration: line-through;
                            color: #aaa
                        }
                    }

                    &:hover {
                        background-color: #eee;

                        span.bttns {
                            display: inline-block
                        }
                    }
                }

                @media all and (max-width: 767px) {
                    width: 100%;
                    display: block;

                    &.spacing {
                        display: none;
                    }
                }
            }
        }
    }
}

.sessionExpire_overlay_outer {
    z-index: 1008;
    position: fixed;
    //background: url(../image/overlay.white.png) 50% 50%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100&0.7+0,0.7+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(125, 126, 125, 0.7) 0%, rgba(14, 14, 14, 0.7) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125, 126, 125, 0.7) 0%, rgba(14, 14, 14, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(125, 126, 125, 0.7) 0%, rgba(14, 14, 14, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b37d7e7d', endColorstr='#b30e0e0e', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    .sessionExpire_overlay_inner {
        z-index: 99999;
        // background: $background-canvas-color;
        @include backgroundColor($background-canvas-color-light, $background-canvas-color-dark);
        box-shadow: #444 0 0 100px;
        border: 1px solid darken($color-editor, 10%);
        width: 350px;
        min-height: 140px;
        max-height: 80%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -125px;
        margin-top: -100px;
        padding: 10px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: auto;

        h2 {
            font-family: $portal-font-family;
            white-space: nowrap;
            height: 24px;
            font-size: 140%;
            margin: 0 0 .4em 0;
            padding: 0;
            text-transform: uppercase;
            font-weight: normal
        }

        input {
            border: 0;
            margin-bottom: 3px;
            padding: 3px 5px;
            border-radius: 0
        }

        .sessionExpire {
            overflow: auto;

            input {
                display: block;
                width: 100%
            }
        }

        ul.popupForm {
            input {
                width: 100%;
                box-shadow: #bbb 0 0 3px;

                &.countryField {
                    width: 280px
                }
            }
        }

        div.message {
            min-height: 7em
        }

        div.buttons {
            margin-top: .8em
        }

        > ul {
            > li {
                &.error {
                    color: red;
                }
            }
        }
    }
}

#overlayLoginContainer {
    display: block;
    text-align: right;
    margin-top: .5em;
    min-height: 5.5em
}

#overlayMsgContainer {
    text-overflow: ellipsis;
    color: red
}

#overlayRemContainer {
    display: block;
    text-align: center;
    font-size: 85%;

    a {
        color: #888;
        text-decoration: none
    }
}

input[type=text].date {
    width: 10em !important
}

ul.breadcrumbs {
    display: table-cell;
    list-style-type: none;

    li {
        display: inline-block;

        &::after {
            content: '/';
            margin-left: math.div($form-spacing, 2);
            @include color($colors-action-light, $colors-action-dark);
        }

        &:first-child::after {
            content: '';
        }
    }
}

div.bodySpace {
}

ul.loginview {
    > li.frontpage_login {
        > form {
            > ul.singleColumn {
                max-width: 350px;
            }
        }
    }
}

div.toast {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 auto 10px auto;
    padding: 0;
    border: 0;
    z-index: 99999;
    text-align: center;
    @include flex-center;
    @include default-font();

    > span {
        @include flexbox();
        @include flex(1, 0, 0);
        //max-height: 100px;
        //min-width: 100px;
        max-width: 90%;
        overflow: auto;
        margin: 0;
        background: rgba(0, 0, 0, 0.75);
        padding: 10px;
        display: inline;

        > span {
            color: silver;
        }

        > button {
            display: inline;
            margin: 0;
            padding: 0 10px;
            border: 0;
            background: none;
            color: white;
        }
    }
}


div {
    &.popup-menu {
        margin: 0;
        border: 0;
        padding: 0;
        box-shadow: 0 0 5px #aaaaaa;
        background: white;
        text-overflow: ellipsis;
        max-width: 250px;
        max-height: 400px;
        font-size: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 1;

        > li {
            white-space: nowrap;
            @include default-font();
            @include default-padding(0.5, 1);
            display: block;
            color: black;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;

            > * {
                width: 100%;
                justify-content: flex-start;
            }

            &:hover, &:hover > * {
                background-color: $color-highlight;
                justify-content: flex-start;
            }


        }
    }

    @include flex-row();
}

div.instant-dropdown-absolute {
    position: absolute;
    margin: -1px 0 0 0;
    padding: 0;
    max-width: 99%;
    border: 1px solid silver;
    z-index: 999;
    background: white;
    max-height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 2px 2px 0px #aaa;

    > li {
        list-style-type: none;
        margin: 0;
        padding: 2px;
        display: block;
        width: auto;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            background: $color-highlight;
        }

        > span {
            vertical-align: middle;

            &.fullWidth, &.full-width {
                width: 100%;
            }

            > img {
                height: 20px;
                margin: 0 2px 0 0;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}

form.editor {
    > h1, > h2 {
        &.header {
            @include editor-default-header();
        }
    }

    ul.form {
        > li,
        > li ul > li  {
            > span,
            > ul.group > li > span {
                div.button-bar {
                    &.source-toggles {
                        > a, > a.fancyButton, > button {
                            background: $button-bar-button-color-selected-color;
                            color: $button-bar-button-color-selected;
                            border-color: $button-bar-button-color-selected;

                            &.selected {
                                background: $button-bar-button-color-selected;
                                color: $button-bar-button-color-selected-color;
                            }
                        }

                        &.disabled,
                        &:disabled,
                        &[class*="disabled-"] {
                            > a, > a.fancyButton, > button {
                                background: $color-action-disabled;
                                border-color: $color-action-disabled;
                                color: $color-action-disabled-text;
                                cursor: default;

                                &:hover {
                                    background: $color-action-disabled;
                                    border-color: $color-action-disabled;
                                    color: $color-action-disabled-text;
                                    cursor: default;
                                }

                                &.selected {
                                    background: $button-bar-button-color-selected;
                                    color: $button-bar-button-color-selected-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    div.button-bar.source-toggles {
        > a, > button {
            &.selected {
                > i.icon-bookmark {
                    color: $button-bar-button-color-selected-color;
                }
            }
        }
    }
}

@import 'sections';

@import 'mediabrowser';
