/* compatibility */
/* background color element */
/* color element */
/* action $color scheme */
/* Modal */
/* LLM Widget */
/* Form elements */
/* disabled */
/* portal */
/* Autoload */
/* form title? */
/* tabs */
/* background of the views/modal */
/* background of the views/modal */
/* obsolete, replace */
.litepicker {
  font-size: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --litepicker-container-months-color-bg: #252727;
    --litepicker-footer-box-shadow-color: #747474;
    --litepicker-tooltip-color-bg: #252727;
    --litepicker-day-color: #DEDEDE;
    --litepicker-day-color-hover: #0c7cd5;
    --litepicker-is-today-color: #ea1c0d;
  }
}
/* compatibility */
/* background color element */
/* color element */
/* action $color scheme */
/* Modal */
/* LLM Widget */
/* Form elements */
/* disabled */
/* portal */
/* Autoload */
/* form title? */
/* tabs */
/* background of the views/modal */
/* background of the views/modal */
/* obsolete, replace */
.litepicker {
  font-size: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --litepicker-container-months-color-bg: #252727;
    --litepicker-footer-box-shadow-color: #747474;
    --litepicker-tooltip-color-bg: #252727;
    --litepicker-day-color: #DEDEDE;
    --litepicker-day-color-hover: #0c7cd5;
    --litepicker-is-today-color: #ea1c0d;
  }
}
body.dragging {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*
The container should fill the available space. 

When expand-horizontal is add, it should be possible to have a wider content in the
panel, and allow to scroll horizontally.
*/
div.pf-container,
div.prism-flow-container,
div.panel-container {
  /* can contain on or more panels, in a certain direction*/
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: white;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* use 100% of the current container (previous position:relative) */
  min-width: 100%;
  width: 100%;
  width: fill-available;
  width: -webkit-fill-available;
  max-width: 100%;
  max-width: fill-available;
  max-width: -webkit-fill-available;
  min-height: 100%;
  height: 100%;
  height: fill-available;
  height: -webkit-fill-available;
  max-height: 100%;
  max-height: fill-available;
  max-height: -webkit-fill-available;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* panel-container requires a child div */
  /* a panel contains panels */
  /*  
  the overlay panel is used for showing content details, while overlapping
  the previous view. This is default within the width of the parent panel, 
  with a little indenting to show the original panel.

  When a minimum width is required, that exceeds the parent panel, and when
  expand-horizontal is set, the overlay can be widder then the container
  which makes is scrollable. 
  */
}
div.pf-container.pf-padding > div.panel-container-panel, div.pf-container.panel-padding > div.panel-container-panel,
div.prism-flow-container.pf-padding > div.panel-container-panel,
div.prism-flow-container.panel-padding > div.panel-container-panel,
div.panel-container.pf-padding > div.panel-container-panel,
div.panel-container.panel-padding > div.panel-container-panel {
  padding: 10px 10px 10px 10px;
}
div.pf-container div.pf-panel,
div.prism-flow-container div.pf-panel,
div.panel-container div.pf-panel {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: auto;
  overflow: hidden;
  white-space: nowrap;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
div.pf-container div.pf-panel.horizontal,
div.prism-flow-container div.pf-panel.horizontal,
div.panel-container div.pf-panel.horizontal {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 100%;
  height: 100%;
  height: fill-available;
  height: -webkit-fill-available;
  max-height: 100%;
  max-height: fill-available;
  max-height: -webkit-fill-available;
}
div.pf-container div.pf-panel.horizontal div.panel-divider,
div.prism-flow-container div.pf-panel.horizontal div.panel-divider,
div.panel-container div.pf-panel.horizontal div.panel-divider {
  width: 3px;
  background-color: transparent;
  cursor: col-resize;
}
div.pf-container div.pf-panel.horizontal div.panel-divider:hover,
div.prism-flow-container div.pf-panel.horizontal div.panel-divider:hover,
div.panel-container div.pf-panel.horizontal div.panel-divider:hover {
  background-color: rgb(60, 85, 207);
}
div.pf-container div.pf-panel.vertical,
div.prism-flow-container div.pf-panel.vertical,
div.panel-container div.pf-panel.vertical {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 100%;
  width: 100%;
  width: fill-available;
  width: -webkit-fill-available;
  max-width: 100%;
  max-width: fill-available;
  max-width: -webkit-fill-available;
}
div.pf-container div.pf-panel.vertical div.panel-divider,
div.prism-flow-container div.pf-panel.vertical div.panel-divider,
div.panel-container div.pf-panel.vertical div.panel-divider {
  height: 3px;
  background-color: unset;
  cursor: pointer;
}
div.pf-container div.pf-panel.vertical div.panel-divider:hover,
div.prism-flow-container div.pf-panel.vertical div.panel-divider:hover,
div.panel-container div.pf-panel.vertical div.panel-divider:hover {
  background-color: black;
}
div.pf-container div.pf-panel.pf-shrink, div.pf-container div.pf-panel.panel-shrink,
div.prism-flow-container div.pf-panel.pf-shrink,
div.prism-flow-container div.pf-panel.panel-shrink,
div.panel-container div.pf-panel.pf-shrink,
div.panel-container div.pf-panel.panel-shrink {
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
div.pf-container div.pf-panel.pf-scroll-x, div.pf-container div.pf-panel.panel-scroll-x,
div.prism-flow-container div.pf-panel.pf-scroll-x,
div.prism-flow-container div.pf-panel.panel-scroll-x,
div.panel-container div.pf-panel.pf-scroll-x,
div.panel-container div.pf-panel.panel-scroll-x {
  overflow-x: auto;
}
div.pf-container div.pf-panel.pf-scroll-y, div.pf-container div.pf-panel.panel-scroll-y,
div.prism-flow-container div.pf-panel.pf-scroll-y,
div.prism-flow-container div.pf-panel.panel-scroll-y,
div.panel-container div.pf-panel.pf-scroll-y,
div.panel-container div.pf-panel.panel-scroll-y {
  overflow-y: auto;
}
div.pf-container div.pf-panel.pf-scroll, div.pf-container div.pf-panel.panel-scroll,
div.prism-flow-container div.pf-panel.pf-scroll,
div.prism-flow-container div.pf-panel.panel-scroll,
div.panel-container div.pf-panel.pf-scroll,
div.panel-container div.pf-panel.panel-scroll {
  overflow-x: auto;
  overflow-y: auto;
}
div.pf-container div.pf-block-fill,
div.pf-container div.panel-container-block-fill,
div.pf-container div.panel-block-fill,
div.prism-flow-container div.pf-block-fill,
div.prism-flow-container div.panel-container-block-fill,
div.prism-flow-container div.panel-block-fill,
div.panel-container div.pf-block-fill,
div.panel-container div.panel-container-block-fill,
div.panel-container div.panel-block-fill {
  display: block;
  -webkit-box: auto;
  -moz-box: auto;
  -webkit-flex: auto auto auto;
  -ms-flex: auto auto auto;
  flex: auto auto auto;
  position: relative;
  overflow-y: auto; /* Voeg deze regel toe */
  white-space: initial;
  min-width: 100%;
  width: 100%;
  width: fill-available;
  width: -webkit-fill-available;
  max-width: 100%;
  max-width: fill-available;
  max-width: -webkit-fill-available;
  min-height: 100%;
  height: 100%;
  height: fill-available;
  height: -webkit-fill-available;
  max-height: 100%;
  max-height: fill-available;
  max-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
  font-size: small;
  line-height: 1.4em;
}
.dragging div.pf-container div.pf-block-fill,
.dragging div.pf-container div.panel-container-block-fill,
.dragging div.pf-container div.panel-block-fill,
.dragging div.prism-flow-container div.pf-block-fill,
.dragging div.prism-flow-container div.panel-container-block-fill,
.dragging div.prism-flow-container div.panel-block-fill,
.dragging div.panel-container div.pf-block-fill,
.dragging div.panel-container div.panel-container-block-fill,
.dragging div.panel-container div.panel-block-fill {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
div.pf-container div.pf-block-fill > form,
div.pf-container div.panel-container-block-fill > form,
div.pf-container div.panel-block-fill > form,
div.prism-flow-container div.pf-block-fill > form,
div.prism-flow-container div.panel-container-block-fill > form,
div.prism-flow-container div.panel-block-fill > form,
div.panel-container div.pf-block-fill > form,
div.panel-container div.panel-container-block-fill > form,
div.panel-container div.panel-block-fill > form {
  min-height: 100%;
  height: 100%;
  height: fill-available;
  height: -webkit-fill-available;
  max-height: 100%;
  max-height: fill-available;
  max-height: -webkit-fill-available;
  position: relative;
}
div.pf-container div.pf-block-fill > form.tab-container,
div.pf-container div.panel-container-block-fill > form.tab-container,
div.pf-container div.panel-block-fill > form.tab-container,
div.prism-flow-container div.pf-block-fill > form.tab-container,
div.prism-flow-container div.panel-container-block-fill > form.tab-container,
div.prism-flow-container div.panel-block-fill > form.tab-container,
div.panel-container div.pf-block-fill > form.tab-container,
div.panel-container div.panel-container-block-fill > form.tab-container,
div.panel-container div.panel-block-fill > form.tab-container {
  margin: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: auto;
  overflow: hidden;
  white-space: nowrap;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
div.pf-container div.pf-block-fill > form.tab-container > div,
div.pf-container div.panel-container-block-fill > form.tab-container > div,
div.pf-container div.panel-block-fill > form.tab-container > div,
div.prism-flow-container div.pf-block-fill > form.tab-container > div,
div.prism-flow-container div.panel-container-block-fill > form.tab-container > div,
div.prism-flow-container div.panel-block-fill > form.tab-container > div,
div.panel-container div.pf-block-fill > form.tab-container > div,
div.panel-container div.panel-container-block-fill > form.tab-container > div,
div.panel-container div.panel-block-fill > form.tab-container > div {
  max-width: 100%;
}
div.pf-container div.pf-block-fill > form.tab-container > div.tabs,
div.pf-container div.panel-container-block-fill > form.tab-container > div.tabs,
div.pf-container div.panel-block-fill > form.tab-container > div.tabs,
div.prism-flow-container div.pf-block-fill > form.tab-container > div.tabs,
div.prism-flow-container div.panel-container-block-fill > form.tab-container > div.tabs,
div.prism-flow-container div.panel-block-fill > form.tab-container > div.tabs,
div.panel-container div.pf-block-fill > form.tab-container > div.tabs,
div.panel-container div.panel-container-block-fill > form.tab-container > div.tabs,
div.panel-container div.panel-block-fill > form.tab-container > div.tabs {
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0;
}
div.pf-container div.pf-block-fill > form.tab-container > div.form,
div.pf-container div.panel-container-block-fill > form.tab-container > div.form,
div.pf-container div.panel-block-fill > form.tab-container > div.form,
div.prism-flow-container div.pf-block-fill > form.tab-container > div.form,
div.prism-flow-container div.panel-container-block-fill > form.tab-container > div.form,
div.prism-flow-container div.panel-block-fill > form.tab-container > div.form,
div.panel-container div.pf-block-fill > form.tab-container > div.form,
div.panel-container div.panel-container-block-fill > form.tab-container > div.form,
div.panel-container div.panel-block-fill > form.tab-container > div.form {
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  overflow-y: auto;
}
div.pf-container div.pf-block-fill > form.tab-container > div.pf-padding,
div.pf-container div.panel-container-block-fill > form.tab-container > div.pf-padding,
div.pf-container div.panel-block-fill > form.tab-container > div.pf-padding,
div.prism-flow-container div.pf-block-fill > form.tab-container > div.pf-padding,
div.prism-flow-container div.panel-container-block-fill > form.tab-container > div.pf-padding,
div.prism-flow-container div.panel-block-fill > form.tab-container > div.pf-padding,
div.panel-container div.pf-block-fill > form.tab-container > div.pf-padding,
div.panel-container div.panel-container-block-fill > form.tab-container > div.pf-padding,
div.panel-container div.panel-block-fill > form.tab-container > div.pf-padding {
  padding: 10px 10px 10px 10px;
}
div.pf-container div.pf-panel.pf-padding, div.pf-container div.pf-panel-container.pf-padding, div.pf-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding,
div.prism-flow-container div.pf-panel.pf-padding,
div.prism-flow-container div.pf-panel-container.pf-padding,
div.pf-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding,
div.panel-container div.pf-panel.pf-padding,
div.panel-container div.pf-panel-container.pf-padding,
div.pf-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding,
div.prism-flow-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding,
div.prism-flow-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding,
div.prism-flow-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding,
div.panel-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding,
div.panel-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding,
div.panel-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding {
  padding: 10px 10px 10px 10px;
}
div.pf-container div.pf-panel.pf-padding-horizontal, div.pf-container div.pf-panel-container.pf-padding-horizontal, div.pf-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding-horizontal,
div.prism-flow-container div.pf-panel.pf-padding-horizontal,
div.prism-flow-container div.pf-panel-container.pf-padding-horizontal,
div.pf-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding-horizontal,
div.panel-container div.pf-panel.pf-padding-horizontal,
div.panel-container div.pf-panel-container.pf-padding-horizontal,
div.pf-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding-horizontal,
div.prism-flow-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding-horizontal,
div.prism-flow-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding-horizontal,
div.prism-flow-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding-horizontal,
div.panel-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding-horizontal,
div.panel-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding-horizontal,
div.panel-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding-horizontal {
  padding: 0px 10px 0px 10px;
}
div.pf-container div.pf-panel.pf-padding-vertical, div.pf-container div.pf-panel-container.pf-padding-vertical, div.pf-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding-vertical,
div.prism-flow-container div.pf-panel.pf-padding-vertical,
div.prism-flow-container div.pf-panel-container.pf-padding-vertical,
div.pf-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding-vertical,
div.panel-container div.pf-panel.pf-padding-vertical,
div.panel-container div.pf-panel-container.pf-padding-vertical,
div.pf-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding-vertical,
div.prism-flow-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding-vertical,
div.prism-flow-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding-vertical,
div.prism-flow-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding-vertical,
div.panel-container div.pf-panel-container-block-fill div.pf-container div.pf-block-fill.pf-padding-vertical,
div.panel-container div.pf-panel-container-block-fill div.prism-flow-container div.pf-block-fill.pf-padding-vertical,
div.panel-container div.pf-panel-container-block-fill div.panel-container div.pf-block-fill.pf-padding-vertical {
  padding: 10px 0px 10px 0px;
}
div.pf-container.pf-overlay, div.pf-container.panel-overlay,
div.prism-flow-container.pf-overlay,
div.prism-flow-container.panel-overlay,
div.panel-container.pf-overlay,
div.panel-container.panel-overlay {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* fill full height*/
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* Default the overlay will be inline, so it will stay within the view*/
}
div.pf-container.pf-overlay, div.pf-container.pf-overlay.pf-overlay-inline, div.pf-container.pf-overlay.panel-overlay-inline, div.pf-container.panel-overlay, div.pf-container.panel-overlay.pf-overlay-inline, div.pf-container.panel-overlay.panel-overlay-inline,
div.prism-flow-container.pf-overlay,
div.prism-flow-container.pf-overlay.pf-overlay-inline,
div.prism-flow-container.pf-overlay.panel-overlay-inline,
div.prism-flow-container.panel-overlay,
div.prism-flow-container.panel-overlay.pf-overlay-inline,
div.prism-flow-container.panel-overlay.panel-overlay-inline,
div.panel-container.pf-overlay,
div.panel-container.pf-overlay.pf-overlay-inline,
div.panel-container.pf-overlay.panel-overlay-inline,
div.panel-container.panel-overlay,
div.panel-container.panel-overlay.pf-overlay-inline,
div.panel-container.panel-overlay.panel-overlay-inline {
  min-width: auto;
  width: auto;
  max-width: auto;
}
div.pf-container.pf-overlay.pf-overlay-indent, div.pf-container.pf-overlay.panel-overlay-indent, div.pf-container.panel-overlay.pf-overlay-indent, div.pf-container.panel-overlay.panel-overlay-indent,
div.prism-flow-container.pf-overlay.pf-overlay-indent,
div.prism-flow-container.pf-overlay.panel-overlay-indent,
div.prism-flow-container.panel-overlay.pf-overlay-indent,
div.prism-flow-container.panel-overlay.panel-overlay-indent,
div.panel-container.pf-overlay.pf-overlay-indent,
div.panel-container.pf-overlay.panel-overlay-indent,
div.panel-container.panel-overlay.pf-overlay-indent,
div.panel-container.panel-overlay.panel-overlay-indent {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
div.pf-container.pf-overlay.pf-overlay-inline, div.pf-container.pf-overlay.panel-overlay-inline, div.pf-container.panel-overlay.pf-overlay-inline, div.pf-container.panel-overlay.panel-overlay-inline,
div.prism-flow-container.pf-overlay.pf-overlay-inline,
div.prism-flow-container.pf-overlay.panel-overlay-inline,
div.prism-flow-container.panel-overlay.pf-overlay-inline,
div.prism-flow-container.panel-overlay.panel-overlay-inline,
div.panel-container.pf-overlay.pf-overlay-inline,
div.panel-container.pf-overlay.panel-overlay-inline,
div.panel-container.panel-overlay.pf-overlay-inline,
div.panel-container.panel-overlay.panel-overlay-inline {
  box-shadow: none;
}
div.pf-container.pf-overlay.pf-view-width, div.pf-container.pf-overlay.panel-view-width, div.pf-container.panel-overlay.pf-view-width, div.pf-container.panel-overlay.panel-view-width,
div.prism-flow-container.pf-overlay.pf-view-width,
div.prism-flow-container.pf-overlay.panel-view-width,
div.prism-flow-container.panel-overlay.pf-view-width,
div.prism-flow-container.panel-overlay.panel-view-width,
div.panel-container.pf-overlay.pf-view-width,
div.panel-container.pf-overlay.panel-view-width,
div.panel-container.panel-overlay.pf-view-width,
div.panel-container.panel-overlay.panel-view-width {
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
}
div.pf-container.pf-overlay > div.pf-container,
div.pf-container.pf-overlay > div.panel-container, div.pf-container.panel-overlay > div.pf-container,
div.pf-container.panel-overlay > div.panel-container,
div.prism-flow-container.pf-overlay > div.pf-container,
div.prism-flow-container.pf-overlay > div.panel-container,
div.prism-flow-container.panel-overlay > div.pf-container,
div.prism-flow-container.panel-overlay > div.panel-container,
div.panel-container.pf-overlay > div.pf-container,
div.panel-container.pf-overlay > div.panel-container,
div.panel-container.panel-overlay > div.pf-container,
div.panel-container.panel-overlay > div.panel-container {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  min-width: auto;
  width: fill-content;
  max-width: auto;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.bg-pink {
  background-color: pink;
}

.bg-cyan {
  background-color: cyan;
}

.bg-magenta {
  background-color: magenta;
}

.br-yellow {
  border: 10px solid yellow !important;
}

.br-red {
  border: 10px solid red !important;
}

.br-green {
  border: 10px solid green !important;
}

.br-blue {
  border: 10px solid blue !important;
}

/*# sourceMappingURL=portal-panel-container.css.map */
