@import "default-cms-design";
@import "form-default";
@import "default-html";

@mixin tab-container-form-tabs() {
    > div.tabs {
        @include flexbox();             // display: flex;
        @include flex(0, 0, auto);
        @include flex-direction(row);   // flex-direction: row;
        margin: -10px -10px 10px -10px;
        padding: 0 15px;
        @include backgroundColor($tab-container-form-background-light, $tab-container-form-background-dark);
        overflow: initial;

        > div:first-child {
            &.icons {
                @include default-margin-left(-1);
            }
        }

        > div.icons {
            @include flexbox();
            @include flex(0,0, auto);
            @include flex-direction(row);
            @include flex-center();

            > i {
                @include default-font-no-lineheight(1.4);
                @include default-padding(1, 1, 0, 1);
                @include flex-center();
                @include color($tab-container-form-icon-color-light, $tab-container-form-icon-color-dark);
                cursor: pointer;
                display: inline-block;
            }
        }

        > ul {
            @include flexbox();             // display: block; // TODO: fix this?!
            @include flex(1, 1);               // flex: 1 1 auto;
            @include flex-direction(row);
            overflow: auto;
            user-select: none;

            > li {
                @include flexbox();
                @include flex(0, 0);
                @include flex-direction(row);
                margin: 0;
                border: 0;
                padding: $default-box-spacing ($default-box-spacing * 2); //10px 15px;
                border-top: $tab-container-form-tab-border-top solid transparent;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: initial;
                //color: darken($portal-form-tabs-background, 20);
                //@include color($tab-container-form-tab-color-light, $tab-container-form-tab-color-dark);
                @include color(
                    $tab-container-form-tab-color-light,
                    $tab-container-form-tab-color-dark);

                &.selectable {
                    cursor: pointer;
                    @include color(
                        $tab-container-form-tab-selectable-color-light,
                        $tab-container-form-tab-selectable-color-dark);
                    
                    &:hover {
                        @include backgroundColor(
                            $tab-container-form-tab-selectable-background-color-light, 
                            $tab-container-form-tab-selectable-background-color-dark);
                    }
                }

                &.hide {
                    display: none !important;
                }

                &.selected {
                    @include borderTop(
                        $tab-container-form-tab-border-top,
                        solid,
                        $tab-container-form-tab-border-selected-color-light,
                        $tab-container-form-tab-border-selected-color-dark);

                    @include color(
                        $tab-container-form-tab-selectable-color-light,
                        $tab-container-form-tab-selectable-color-dark);
                    
                    &, &:hover {
                        @include backgroundColor($tab-container-form-tab-selected-background-light, $tab-container-form-tab-selected-background-dark);
                    }
                    @include boxShadow(0, 0, $tab-container-form-tab-selected-shadow-width, $tab-container-form-tab-selected-shadow-color-light, $tab-container-form-tab-selected-shadow-color-dark);
                    
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    margin: 0 2px 0 2px;

                    &.hide {
                        display: flex !important;
                    }
                }
            }
        }

        > div.actions {
            @include flexbox();
            @include flex(0, 0); // flex: 0 0 auto;
            @include justify-content(center);
            @include align-items(center);
            position: relative;
            cursor: pointer;

            > i {
                display: block;
                margin: 0 2px 0 10px;
                font-size: 16px;
                line-height: 16px;
            }

            > div.action-menu {
                @include action-menu();
            }

            /* deprecated: use popper */
            &:not(.no-hover) {
                &:hover {
                    > div.action-menu {
                        display: block;
                    }
                }
            }
        }
    }
}

@mixin tab-container() {
    &.tab-container {
        @include tab-container-form-tabs;

        > div.form {
            &.no-spacing {
                margin: 0;
            }
            
            &.container {
                &.scroll {
                    overflow: scroll;
                }
            }

            > form.editor {
                > ul.form,
                > div.scroll > ul.form {
                    &.autoload {
                        > li.editor {
                            border: $form-element-border-width solid #e6ecec;
                            background: $form-default-background; //darken($color-editor, 1);
                        }
                    }
                }
            }
        }
    }

    div.tab-container {
        &.control {
            border: $form-element-border-width solid $form-element-border-color;
            background: lighten($color-editor, .5);
            margin: $form-element-margin;
        }

        > div.tabs {
            margin: 0;
            padding: 0 15px;
            background: $form-title-background;

            > ul {
                display: block;
                overflow: auto;
                user-select: none;

                > li {
                    display: inline-block;
                    padding: 10px 15px;
                    margin: 0;
                    border: 0;
                    border-top: 2px solid transparent;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: initial;
                    color: darken($portal-form-tabs-background, 20);

                    &.selectable {
                        cursor: pointer;
                        color: $default-color;

                        &:hover {
                            background: lighten($color-editor, 2);
                        }
                    }

                    &.selected {
                        border-top: 2px solid lighten($color-action, 20%); //$color-highlight;
                        border-top-left-radius: 2px;
                        border-top-right-radius: 2px;
                        color: $default-color;

                        &:hover {
                            background: $color-editor;
                        }
                    }
                }
            }
        }

        > div.form {
            &.container {
                &.scroll {
                    overflow: scroll;
                }
            }

            > form.editor {
                > ul.form {
                    //min-height: 200px;
                }
            }
        }
    }

    &.disabled {
        &.tab-container {
            > div.tabs {
                > ul {
                    > li {
                        cursor: default;

                        &:hover {
                            background: none; //lighten($color-editor, 2);
                        }
                    }
                }
            }
        }
    }
}