﻿@use "sass:math";

@import "form-default";

// got some inspiration from https://medium.freecodecamp.org/how-i-style-my-websites-with-my-favorite-css-resets-7ace41dbc43d

$columns1: math.percentage(1) !default;
$columns2: math.percentage(math.div(1, 2)) !default;
$columns3: math.percentage(math.div(1, 3)) !default;
$columns4: math.percentage(math.div(1, 4)) !default;
$columns5: math.percentage(math.div(1, 5)) !default;
$columns6: math.percentage(math.div(1, 6)) !default;
$columns7: math.percentage(math.div(1, 7)) !default;
$columns8: math.percentage(math.div(1, 8)) !default;
$columns9: math.percentage(math.div(1, 9)) !default;
$columns10: math.percentage(math.div(1, 10)) !default;
$columns11: math.percentage(math.div(1, 11)) !default;
$columns12: math.percentage(math.div(1, 12)) !default;

*,
*::before,
*::after {
    box-sizing: inherit;
}


// Be carefull with using body height 100% and overflow-y settings, when using the onscroll events!
html {
    box-sizing: border-box;
    //overflow-y: auto;
}

html, body {
    min-height: 100%;
    height: auto;
}

@media screen {
    html, body {
        min-height: 100%;
    }

    html {
        overflow-y: auto;
        height: 100%;
    }
}

@media print {
    html, body {
        min-height: 100%;
        height: 100%;
        margin: 0;
    }
}

body, html, div, p, pre, blockquote, figure, hr, a, ul, ol, li, h1, h2, h3, h4, h5, h6, header, footer,
article, section, nav, img, .defaultImage, iframe {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: normal;
}

ul, ol {
    font-size: 0;
    line-height: 0;
}
// end reset

// container
div.barcontainer, span.barcontainer {
    white-space: nowrap;
    vertical-align: top;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;

    div.bc, span.bc {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        white-space: nowrap;

        &.remaining {
            display: block
        }

        &.right {
            float: right
        }

        &.left {
            float: left
        }
    }
}

div#loadingIndicator {
    position: fixed;
    top: 0;
    padding: 5px 10px 5px 33px;
    background: #ff0 url($portal-loading-indicator) 10px 50% no-repeat;
    margin: 0;
    display: none;
    right: 0;
    z-index: 99999;
}

a {
    &,
    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;
    }
}

input,
textarea,
select,
button {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}

input,
textarea,
button {
    border: $form-element-border-width solid $form-element-border-color;
}

pre {
    width: 100%;
    overflow: auto
}

button {
    border-radius: 0;
    padding: 0.75em 1em;
    background-color: transparent;
}

button * {
    pointer-events: none;
}

embed,
iframe,
object,
video {
    display: block;
    max-width: 100%;
    border: 0;
    width: 100%;
}

img {
    max-width: 100%;
    border: 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

[hidden], .hide, [class*='hide-'] {
    display: none !important
}

/* noscript styles */
noscript {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

ul, ol, footer > div > ul > li > ul, footer > div > ul {
    font-size: 0;
}

/* region BBCode */
.BBbold {
    font-weight: bold
}

.BBAlignCenter {
    text-align: center
}

em.marked {
    font-style: normal
}

.fill-width {
    min-width: 100%;
}

.fill-height {
    min-height: 100%;
}

@import "default-mixin";