.litepicker {
  font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: auto;
}

@media screen {
  html, body {
    min-height: 100%;
  }
  html {
    overflow-y: auto;
    height: 100%;
  }
}
@media print {
  html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
  }
}
body, html, div, p, pre, blockquote, figure, hr, a, ul, ol, li, h1, h2, h3, h4, h5, h6, header, footer,
article, section, nav, img, .defaultImage, iframe {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: normal;
}

ul, ol {
  font-size: 0;
  line-height: 0;
}

div.barcontainer, span.barcontainer {
  white-space: nowrap;
  vertical-align: top;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
div.barcontainer div.bc, div.barcontainer span.bc, span.barcontainer div.bc, span.barcontainer span.bc {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
}
div.barcontainer div.bc.remaining, div.barcontainer span.bc.remaining, span.barcontainer div.bc.remaining, span.barcontainer span.bc.remaining {
  display: block;
}
div.barcontainer div.bc.right, div.barcontainer span.bc.right, span.barcontainer div.bc.right, span.barcontainer span.bc.right {
  float: right;
}
div.barcontainer div.bc.left, div.barcontainer span.bc.left, span.barcontainer div.bc.left, span.barcontainer span.bc.left {
  float: left;
}

div#loadingIndicator {
  position: fixed;
  top: 0;
  padding: 5px 10px 5px 33px;
  background: #ff0 url("../image/loadindicator.gif") 10px 50% no-repeat;
  margin: 0;
  display: none;
  right: 0;
  z-index: 99999;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid silver;
}

pre {
  width: 100%;
  overflow: auto;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

embed,
iframe,
object,
video {
  display: block;
  max-width: 100%;
  border: 0;
  width: 100%;
}

img {
  max-width: 100%;
  border: 0;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

[hidden] {
  display: none;
}

/* noscript styles */
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

ul, ol, footer > div > ul > li > ul, footer > div > ul {
  font-size: 0;
}

/* region BBCode */
.BBbold {
  font-weight: bold;
}

.BBAlignCenter {
  text-align: center;
}

em.marked {
  font-style: normal;
}

.fill-width {
  min-width: 100%;
}

.fill-height {
  min-height: 100%;
}

/*# sourceMappingURL=reset.css.map */
