@import 'form-default';

$use-responsiveness: true !default;

// Responsive font size
@mixin default-font(
    $scale: 1, 
    $line-height: $default-line-height,
    $weight: $default-font-weight)
{
    @include set-font-size-with-line-height(($default-font * $scale), $line-height * $scale, $weight);
}

@mixin default-font-nr-of-lines(
    $nr-of-lines: 1, 
    $scale: 1, 
    $line-height: $default-line-height)
{
    height: (($line-height * $scale) * $nr-of-lines);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            height: (($line-height * $scale) * $nr-of-lines) * $scale-1000;
        }

        @media all and (max-width: $screen-size-767) {
            height: (($line-height * $scale) * $nr-of-lines) * $scale-767;
        }

        @media all and (max-width: $screen-size-486) {
            height: (($line-height * $scale) * $nr-of-lines) * $scale-486;
        }
    }
}

@mixin default-font-min-height-by-lines($nr-of-lines: 1, $scale: 1, $line-height: $default-line-height) {
    min-height: (($line-height * $scale) * $nr-of-lines);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            min-height: (($line-height * $scale) * $nr-of-lines) * $scale-1000;
        }

        @media all and (max-width: $screen-size-767) {
            min-height: (($line-height * $scale) * $nr-of-lines) * $scale-767;
        }

        @media all and (max-width: $screen-size-486) {
            min-height: (($line-height * $scale) * $nr-of-lines) * $scale-486;
        }
    }
}

@mixin default-font-max-height-by-lines($nr-of-lines: 1, $scale: 1, $line-height: $default-line-height) {
    max-height: (($line-height * $scale) * $nr-of-lines);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            max-height: (($line-height * $scale) * $nr-of-lines) * $scale-1000;
        }

        @media all and (max-width: $screen-size-767) {
            max-height: (($line-height * $scale) * $nr-of-lines) * $scale-767;
        }

        @media all and (max-width: $screen-size-486) {
            max-height: (($line-height * $scale) * $nr-of-lines) * $scale-486;
        }
    }
}

@mixin default-font-minimum-nr-of-lines($nr-of-lines: 1, $scale: 1, $line-height: $default-line-height) {
    min-height: (($line-height * $scale) * $nr-of-lines);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            min-height: (($line-height * $scale) + $nr-of-lines) * $scale-1000;
        }

        @media all and (max-width: $screen-size-767) {
            min-height: (($line-height * $scale) + $nr-of-lines) * $scale-767;
        }

        @media all and (max-width: $screen-size-486) {
            min-height: (($line-height * $scale) + $nr-of-lines) * $scale-486;
        }
    }
}

@mixin set-font-size-with-line-height(
    $size: $default-font, 
    $line: $default-line-height,
    $weight: $default-font-weight)
{
    font-size: $size;
    line-height: $line;
    font-weight: $weight;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            font-size: $size * $scale-1000;
            line-height: $line * $scale-1000;
        }

        @media all and (max-width: $screen-size-767) {
            font-size: $size * $scale-767;
            line-height: $line * $scale-767;
            font-weight: $default-font-weight-mobile;
        }

        @media all and (max-width: $screen-size-486) {
            font-size: $size * $scale-486;
            line-height: $line * $scale-486;
            font-weight: $default-font-weight-mobile;
        }
    }
}

// $number-of-lines
@mixin number-of-lines($lines: 1, $spacingTotal: 0) {
    height: ($default-line-height * $lines) + $spacingTotal;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            height: (($default-line-height * $lines) + $spacingTotal) * $scale-1000;
        }

        @media all and (max-width: $screen-size-767) {
            height: (($default-line-height * $lines) + $spacingTotal) * $scale-767;
        }

        @media all and (max-width: $screen-size-486) {
            height: (($default-line-height * $lines) + $spacingTotal) * $scale-486;
        }
    }
}

@mixin media-font-scaling-no-lineheight ($max-width, $font-size, $scale, $max-width-scale) {
    @media all and (max-width: $max-width) {
        font-size: ($font-size * $scale) * $max-width-scale;
        line-height: ($font-size * $scale) * $max-width-scale;
    }
}

@mixin media-all-font-scaling-no-lineheight ($font-size, $scale) {
    font-size: ($font-size * $scale);
    line-height: ($font-size * $scale);
}

@mixin default-font-no-lineheight ($scale: 1) {
    $local-font-size: $default-font;

    @include media-all-font-scaling-no-lineheight ($local-font-size, $scale);

    @if $use-responsiveness {
        @include media-font-scaling-no-lineheight($screen-size-1400, $local-font-size, $scale, $scale-1400);

        @include media-font-scaling-no-lineheight($screen-size-1200, $local-font-size, $scale, $scale-1200);

        @include media-font-scaling-no-lineheight($screen-size-1000, $local-font-size, $scale, $scale-1000);

        @include media-font-scaling-no-lineheight($screen-size-767, $local-font-size, $scale, $scale-767);

        @include media-font-scaling-no-lineheight($screen-size-486, $local-font-size, $scale, $scale-486);
    }
}

// Responsive margin
// 1 > 1 1 1 1
// 1, 2 > 1 2 1 2 
@mixin default-margin($scaleTop: 1, $scaleRight: $scaleTop, $scaleBottom: $scaleTop, $scaleLeft: $scaleRight) {
    $total: $scaleTop + $scaleRight + $scaleBottom + $scaleLeft;

    @if $use-responsiveness != true {
        margin: ($default-box-spacing * $scaleTop) ($default-box-spacing * $scaleRight) ($default-box-spacing * $scaleBottom) ($default-box-spacing * $scaleLeft);
    }
    @else if $total == 0 {
        margin: 0;
        @media all and (max-width: $screen-size-1000) {
            margin: 0;
        }
        @media all and (max-width: $screen-size-767) {
            margin: 0;
        }
    }
    @else {
        $top: $scaleTop;
        $right: $scaleRight;
        $bottom: $scaleBottom;
        $left: $scaleLeft;

        @if $top != auto {
            $top: ($default-box-spacing * $top);
        }
        @if $right != auto {
            $right: ($default-box-spacing * $right);
        }
        @if $bottom != auto {
            $bottom: ($default-box-spacing * $bottom);
        }
        @if $left != auto {
            $left: ($default-box-spacing * $left);
        }

        //($default-box-spacing * $scaleTop) ($default-box-spacing * $scaleRight) ($default-box-spacing * $scaleBottom) ($default-box-spacing * $scaleLeft);
        margin: $top $right $bottom $left;

        @media all and (max-width: $screen-size-1000) {
            $top1000: $top;
            $right1000: $right;
            $bottom1000: $bottom;
            $left1000: $left;

            @if $top1000 != auto {
                $top1000: ($scale-1000 * $top1000);
            }
            @if $right1000 != auto {
                $right1000: ($scale-1000 * $right1000);
            }
            @if $bottom1000 != auto {
                $bottom1000: ($scale-1000 * $bottom1000);
            }
            @if $left1000 != auto {
                $left1000: ($scale-1000 * $left1000);
            }

            margin: $top1000 $right1000 $bottom1000 $left1000;
        }

        @media all and (max-width: $screen-size-767) {
            $top767: $top;
            $right767: $right;
            $bottom767: $bottom;
            $left767: $left;

            @if $top767 != 'auto' {
                $top767: ($scale-767 * $top767);
            }
            @if $right767 != 'auto' {
                $right767: ($scale-767 * $right767);
            }
            @if $bottom767 != 'auto' {
                $bottom767: ($scale-767 * $bottom767);
            }
            @if $left767 != 'auto' {
                $left767: ($scale-767 * $left767);
            }

            margin: $top767 $right767 $bottom767 $left767;
        }
    }
}

@mixin default-margin-top($scaleTop: 1) {
    margin-top: ($default-box-spacing * $scaleTop);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            margin-top: ($default-box-spacing * $scaleTop * $scale-1000);
        }

        @media all and (max-width: $screen-size-767) {
            margin-top: ($default-box-spacing * $scaleTop * $scale-767);
        }
    }
}

@mixin default-margin-top-bottom($scaleTop: 1) {
    margin-top: ($default-box-spacing * $scaleTop);
    margin-bottom: ($default-box-spacing * $scaleTop);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            margin-top: ($default-box-spacing * $scaleTop * $scale-1000);
            margin-bottom: ($default-box-spacing * $scaleTop * $scale-1000);
        }

        @media all and (max-width: $screen-size-767) {
            margin-top: ($default-box-spacing * $scaleTop * $scale-767);
            margin-bottom: ($default-box-spacing * $scaleTop * $scale-767);
        }
    }
}

@mixin default-margin-bottom($scaleTop: 1) {
    margin-bottom: ($default-box-spacing * $scaleTop);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            margin-bottom: ($default-box-spacing * $scaleTop * $scale-1000);
        }

        @media all and (max-width: $screen-size-767) {
            margin-bottom: ($default-box-spacing * $scaleTop * $scale-767);
        }
    }
}

@mixin default-margin-right($scaleTop: 1) {
    margin-right: ($default-box-spacing * $scaleTop);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            margin-right: ($default-box-spacing * $scaleTop * $scale-1000);
        }

        @media all and (max-width: $screen-size-767) {
            margin-right: ($default-box-spacing * $scaleTop * $scale-767);
        }
    }
}

@mixin default-margin-left($scaleTop: 1) {
    margin-left: ($default-box-spacing * $scaleTop);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            margin-left: ($default-box-spacing * $scaleTop * $scale-1000);
        }

        @media all and (max-width: $screen-size-767) {
            margin-left: ($default-box-spacing * $scaleTop * $scale-767);
        }
    }
}

@mixin default-margin-left-right($scaleTop: 1) {
    margin-left: ($default-box-spacing * $scaleTop);
    margin-right: ($default-box-spacing * $scaleTop);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            margin-left: ($default-box-spacing * $scaleTop * $scale-1000);
            margin-right: ($default-box-spacing * $scaleTop * $scale-1000);
        }

        @media all and (max-width: $screen-size-767) {
            margin-left: ($default-box-spacing * $scaleTop * $scale-767);
            margin-right: ($default-box-spacing * $scaleTop * $scale-767);
        }
    }
}

// Responsive padding
@mixin default-padding($scaleTop: 1, $scaleRight: $scaleTop, $scaleBottom: $scaleTop, $scaleLeft: $scaleRight) {
    $total: $scaleTop + $scaleRight + $scaleBottom + $scaleLeft;

    @if $use-responsiveness != true {
        padding: ($default-box-spacing * $scaleTop) ($default-box-spacing * $scaleRight) ($default-box-spacing * $scaleBottom) ($default-box-spacing * $scaleLeft);
    }
    @else if $total == 0 {
        padding: 0;
        @media all and (max-width: $screen-size-1000) {
            padding: 0;
        }
        @media all and (max-width: $screen-size-767) {
            padding: 0;
        }
    }
    @else {
        padding: ($default-box-spacing * $scaleTop) ($default-box-spacing * $scaleRight) ($default-box-spacing * $scaleBottom) ($default-box-spacing * $scaleLeft);

        @media all and (max-width: $screen-size-1000) {
            padding: ($default-box-spacing * $scaleTop * $scale-1000) ($default-box-spacing * $scaleRight * $scale-1000) ($default-box-spacing * $scaleBottom * $scale-1000) ($default-box-spacing * $scaleLeft * $scale-1000);
        }

        @media all and (max-width: $screen-size-767) {
            padding: ($default-box-spacing * $scaleTop * $scale-767) ($default-box-spacing * $scaleRight * $scale-767) ($default-box-spacing * $scaleBottom * $scale-767) ($default-box-spacing * $scaleLeft * $scale-767);
        }
    }
}

@mixin default-padding-with-bordersize($scaling: 1, $borderSize: 0) {
    padding: ($default-box-spacing * $scaling) - $borderSize;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding: (($default-box-spacing * $scale-1000) * $scaling) - $borderSize;
        }

        @media all and (max-width: $screen-size-767) {
            padding: (($default-box-spacing * $scale-767) * $scaling) - $borderSize;
        }
    }
}

@mixin default-padding-top($scaling: 1) {
    padding: ($default-box-spacing * $scaling) 0 0 0;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding: (($default-box-spacing * $scale-1000) * $scaling) 0 0 0;
        }

        @media all and (max-width: $screen-size-767) {
            padding: (($default-box-spacing * $scale-767) * $scaling) 0 0 0;
        }
    }
}

@mixin default-padding-top-bottom($scaling: 1) {
    padding: ($default-box-spacing * $scaling) 0;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding: (($default-box-spacing * $scale-1000) * $scaling) 0;
        }

        @media all and (max-width: $screen-size-767) {
            padding: (($default-box-spacing * $scale-767) * $scaling) 0;
        }
    }
}

@mixin default-padding-left($scaling: 1) {
    padding: 0 0 0 ($default-box-spacing * $scaling);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding: 0 0 0 (($default-box-spacing * $scale-1000) * $scaling);
        }

        @media all and (max-width: $screen-size-767) {
            padding: 0 0 0 (($default-box-spacing * $scale-767) * $scaling);
        }
    }
}

@mixin default-padding-right($scaling: 1) {
    padding: 0 ($default-box-spacing * $scaling) 0 0;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding: 0 (($default-box-spacing * $scale-1000) * $scaling) 0 0;
        }

        @media all and (max-width: $screen-size-767) {
            padding: 0 (($default-box-spacing * $scale-767) * $scaling) 0 0;
        }
    }
}

@mixin default-padding-left-right($scaling: 1) {
    padding: 0 ($default-box-spacing * $scaling);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding: 0 (($default-box-spacing * $scale-1000) * $scaling);
        }

        @media all and (max-width: $screen-size-767) {
            padding: 0 (($default-box-spacing * $scale-767) * $scaling);
        }
    }
}

@mixin default-padding-left-right-override($scaling: 1) {
    padding-left: ($default-box-spacing * $scaling);
    padding-right: ($default-box-spacing * $scaling);

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding-left: (($default-box-spacing * $scale-1000) * $scaling);
            padding-right: (($default-box-spacing * $scale-1000) * $scaling);
        }

        @media all and (max-width: $screen-size-767) {
            padding-left: (($default-box-spacing * $scale-767) * $scaling);
            padding-right: (($default-box-spacing * $scale-767) * $scaling);
        }
    }
}

@mixin default-padding-bottom($scaling: 1) {
    padding: 0 0 ($default-box-spacing * $scaling) 0;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            padding: 0 0 (($default-box-spacing * $scale-1000) * $scaling) 0;
        }

        @media all and (max-width: $screen-size-767) {
            padding: 0 0 (($default-box-spacing * $scale-767) * $scaling) 0;
        }
    }
}

@mixin max-width() {
    margin: 0 auto;
    width: $screen-size-1400;

    @media all and (max-width: $screen-size-1400) {
        width: $screen-size-1200;
    }

    @media all and (max-width: $screen-size-1200) {
        width: $screen-size-1000;
    }

    @media all and (max-width: $screen-size-1000) {
        width: 100%;
    }

    @media all and (max-width: $screen-size-767) {
        width: 100%;
    }

    @media all and (max-width: $screen-size-486) {
        width: 100%;
    }
}