$scroll-handle-color: #888 !default;
$scroll-handle-background-color: white !default;
$scroll-handle-icon-height: 12px !default;

$scroll-handle-padding: 2px !default;
$scroll-handle-border-width: 1px !default;

div.scroll-handles {
    position: relative;
}

div.scroll-handle {
    position: absolute;
    text-align: center;
    display: none;
    box-sizing: border-box;

    > i {
        font-size: $scroll-handle-icon-height;
        line-height: $scroll-handle-icon-height;
        color: $scroll-handle-color;
        border: solid $scroll-handle-border-width $scroll-handle-color;
        padding: $scroll-handle-padding;
        border-radius: 2px;
        background: $scroll-handle-background-color;
        opacity: 0.8;
        margin: auto 0;
    }

    &.arrow-up {
        left: 0;
        right: 0;
        margin: 0 auto;
        top: ($scroll-handle-border-width + $scroll-handle-padding + 1px);
    }

    &.arrow-down {
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: ($scroll-handle-border-width + $scroll-handle-padding + 1px);
    }

    &.arrow-left {
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: ($scroll-handle-border-width + $scroll-handle-padding + 1px);
    }

    &.arrow-right {
        top: 0;
        bottom: 0;
        margin: auto 0;
        right: ($scroll-handle-border-width + $scroll-handle-padding + 1px);
    }

    &.show {
        display: inline-block;
        //display: flex;
        //align-items: center;
        //justify-content: center;
    }
} 