div.scroll-handles {
  position: relative;
}

div.scroll-handle {
  position: absolute;
  text-align: center;
  display: none;
  box-sizing: border-box;
}
div.scroll-handle > i {
  font-size: 12px;
  line-height: 12px;
  color: #888;
  border: solid 1px #888;
  padding: 2px;
  border-radius: 2px;
  background: white;
  opacity: 0.8;
  margin: auto 0;
}
div.scroll-handle.arrow-up {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 4px;
}
div.scroll-handle.arrow-down {
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 4px;
}
div.scroll-handle.arrow-left {
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 4px;
}
div.scroll-handle.arrow-right {
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 4px;
}
div.scroll-handle.show {
  display: inline-block;
}

/*# sourceMappingURL=scroll-handles.css.map */
