/* Error: Undefined variable.
 *   ,
 * 3 |     $section-highlight-color: $color-highlight;
 *   |                               ^^^^^^^^^^^^^^^^
 *   '
 *   sections.scss 3:31  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      $section-highlight-color: $color-highlight;\a   \2502                                ^^^^^^^^^^^^^^^^\a   \2575 \a   sections.scss 3:31  root stylesheet";
}
