@use "sass:math";


$default-font: 15px !default;
$default-line-height: $default-font * 1.4 !default;
$default-line-height-mobile: $default-font * 1.6 !default;
$default-max-width-column: 800px;
$color-action: blue !default;
$footer-background: black !default;
$footer-color: white !default;

$body-background: #f8f8f8 !default;

$header-background: white !default;
$header-height: 100px !default;
$header-color: black !default;
$header-box-shadow: #888 !default;
$header-icon-color: blue !default;

$header-wm-logo: '/Asset/image/favicon-96x96.png';
$header-logo: none url($header-wm-logo) !default;
$header-logo-position: 50% !default;
$header-logo-size: cover !default;
$header-logo-translucent: none url($header-wm-logo) !default;
$header-logo-aspect-ratio: math.div(8, 16) !default;
$header-translucent-speed: 150ms !default;
$header-translucent-color: white !default;
$header-translucent-hover-background: white !default;
$header-translucent-hover-color: $color-action !default;

$header-navigation-background: $header-background !default;
$header-navigation-height: ($default-line-height * 1.5) !default;
$header-navigation-align: "center" !default;
$header-navigation-font-family: "sans" !default;
$header-navigation-font-scale: 0.85 !default;
$header-navigation-font-weight: 200 !default;
$header-navigation-span-font-scale: 110% !default;
$header-navigation-span-font-scale-1200: 95% !default;
$header-navigation-span-font-scale-1000: 90% !default;

$header-logo-margin-top: 0 !default;
$header-logo-margin-bottom: 0 !default;

$header-mobile-width: 250px !default;
$header-mobile-background: #444 !default;
$header-mobile-color: #ddd !default;
$header-mobile-background-hover: #666 !default;
$header-mobile-background-color: #fff !default;
$header-mobile-height: 48px !default;
$header-mobile-font-height: 28px !default;
$header-mobile-color: #fff !default;
$header-mobile-icon-color: $header-mobile-color !default;
$header-mobile-icon-background-color: rgba(255, 255, 255, .2) !default;
$header-mobile-icon-hover-color: rgba(0, 0, 0, .2) !default;
$header-mobile-icon-hover-background: $header-mobile-color !default;
$header-mobile-navigation-level1-background: black !default;
$header-mobile-navigation-level1-color: white !default;
$header-mobile-navigation-level1-border-bottom: 1px solid #444 !default;
$header-mobile-navigation-level1-border-font-scale: 1.2 !default;
$header-mobile-navigation-level2-background: #222 !default;
$header-mobile-navigation-level2-color: white !default;

$header-icon-color: $header-icon-color !default;
$header-icon-background: rgba(white, 0.2) !default;
$header-icon-radius: 50% !default;
$header-icon-color-hover: white !default;
$header-icon-background-hover: $header-icon-color !default;

$header-translucent-shadow: 1px 1px 2px $header-icon-color !default;
$header-translucent-dropdown-background: rgba($header-icon-color, 0.65) !default;

$section-item-background: lighten($body-background, 2) !default;
$section-item-background-darker: darken($body-background, 2) !default;
$section-two-columns-min-height: 300px !default;

$section-template-image-grid-color: $color-action !default;
$section-template-image-grid-aspect-ratio-percentage: 60% !default;

$section-template-home-slider-height: 500px !default;
$section-template-home-slider-heading-text-shadow: darken($color-action, 50) !default;
$section-template-home-slider-heading-font-family: 'Open Sans', sans-serif !default;
$section-template-home-slider-heading-font-weight: 500 !default;

$section-maps-height: 400px !default;

$section-breadcrumbs-color: lighten($color-action, 5) !default;

$columns1: percentage(1);
$columns2: percentage(math.div(1, 2));
$columns3: percentage(math.div(1, 3));
$columns4: percentage(math.div(1, 4));
$columns5: percentage(math.div(1, 5));
$columns6: percentage(math.div(1, 6));
$columns7: percentage(math.div(1, 7));
$columns8: percentage(math.div(1, 8));
$columns9: percentage(math.div(1, 9));
$columns10: percentage(math.div(1, 10));
$columns11: percentage(math.div(1, 11));
$columns12: percentage(math.div(1, 12));

@mixin default-box-shadow {
    box-shadow: 0 0 2px darken($body-background, 10);
}

@mixin DivCookieDisclaimer {
    > div.cookieDisclaimer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        z-index: 99;

        background: rgba(90, 90, 90, 0.7);
        color: #fff;

        a {
            white-space: nowrap;
            color: #008ab5;
            text-decoration: none
        }

        > div {
            @include flexbox();
            @include flex(1);
            @include flex-direction(column);
            height: 100%;

            &.maxWidth {
                margin: 0;
                width: 500px;
                max-width: 100%;
                justify-content: center;
                margin: 0 auto;
            }

            > div {
                background: white;
                box-shadow: 0 0 150px black;
                @include default-padding();

                > div {
                    color: #444;

                    &.msg {
                        @include default-font();
                        text-align: justify;

                        a {
                            &, &:focus, &:visited, &:active, &:hover {
                                color: $color-action;
                            }
                        }
                    }

                    &.button {
                        text-align: center;
                        //padding: 10px 0 0 0;

                        > a.fancyButton {
                            @include fancyButtonLayout();
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $screen-size-767) {
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 0;
            margin: 0;
            opacity: 0.95;

            a.fancyButton {
                margin-top: 6px;
            }

            > div {
                margin: 0;
                padding: 0;
                line-height: 1.5em;

                > div {
                    &.msg {
                        @include default-padding(0.5);
                    }

                    &.button {
                        text-align: center;
                        line-height: $default-line-height-mobile;

                        float: none !important;
                        display: block !important;
                        @include default-padding(0, 0.5, 0.5, 0.5);
                    }
                }
            }
        }
    }
}

@mixin div-cookie-disclaimer-top {
    > div.cookieDisclaimer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 99;
        color: #fff;

        > div {
            @include flexbox();
            @include flex(1);
            @include flex-direction(column);

            &.maxWidth {
                margin: 0;
                width: 500px;
                max-width: 100%;
                justify-content: center;
                margin: 0 auto;
            }

            > div {
                background: white;
                box-shadow: 0 0 150px black;
                @include default-padding();

                > div {
                    color: $default-color;

                    &.msg {
                        @include default-font();
                        text-align: justify;

                        a {
                            &, &:focus, &:visited, &:active, &:hover {
                                color: $color-action;
                            }
                        }
                    }

                    &.button {
                        @include default-margin-top(0.5);
                        text-align: center;
                    }
                }
            }
        }

        @media screen and (max-width: $screen-size-767) {
            position: fixed;
            right: 0;
            left: 0;
            padding: 0;
            margin: 0;
            opacity: 0.95;

            a.fancyButton {
                margin-top: 6px;
            }

            > div {
                margin: 0;
                padding: 0;
                line-height: 1.5em;

                > div {
                    &.msg {
                        @include default-padding(0.5);
                    }

                    &.button {
                        text-align: center;
                        line-height: $default-line-height-mobile;

                        float: none !important;
                        display: block !important;
                        @include default-padding(0, 0.5, 0.5, 0.5);
                    }
                }
            }
        }
    }
}

@mixin default-footer {
    > footer {
        $scale-margin-bottom-link: 2;

        text-align: left;
        background: $footer-background;
        color: $footer-color;
        clear: both;
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;

        a,
        a:visited,
        a:active,
        a:focus,
        a:hover,
        span {
            color: $footer-color;
            text-decoration: none;
        }

        > div.maxWidth {
            @include max-width;

            > ul {
                @include default-margin(0.5, 0, 1, 0);

                @media screen and (max-width: $screen-size-1000) {
                    @include default-margin(0.5, 1, 1, 1);
                }

                list-style-type: none;
                display: block;
                padding: 0;
                font-size: 0;
                line-height: 0;

                > li {
                    display: inline-block;
                    list-style-type: none;
                    width: 25%;
                    vertical-align: top;
                    margin: 0;
                    padding: 0;
                    font-size: 0;
                    line-height: 0;

                    &.ldgpg {
                        width: 50%;

                        > ul {
                            > li {
                                width: 50%;
                                display: inline-block;

                                @media screen and (max-width: $screen-size-767) {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    > ul {
                        list-style-type: none;
                        display: block;
                        margin: 0;
                        padding: 0;

                        > li {
                            display: inline-block;
                            width: 100%;
                            text-align: left;
                            font-size: 0;
                            line-height: 0;

                            //@include default-font(0.8, 14px);

                            &.company {
                                position: relative;

                                > div {
                                    > a {
                                        @include flexbox();
                                        @include flex(1);
                                        @include flex-direction(row);

                                        > i {
                                            @include flexbox();
                                            @include flex(0);
                                            padding-right: 5px;
                                        }

                                        > div {
                                            @include flexbox();
                                            @include flex(1);
                                            margin: 0;
                                            padding: 0;

                                            > div {
                                                @include flexbox();
                                                @include flex-direction(column);
                                                @include flex(1);

                                                > span {
                                                    display: inline-block;
                                                    //@include default-font(0.8, 14px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                > li,
                > li.ldgpg {
                    > ul {
                        > li {
                            > a {
                                display: inline-block;
                                @include default-font(0.85);
                                @include default-margin(0, 0, 0.25, 0);
                            }

                            &.company {
                                > div {
                                    > a {
                                        i,
                                        span {
                                            display: inline-block;
                                            @include default-font(0.85);
                                            @include default-margin(0, 0, 0.25, 0);

                                            //@media all and (max-width: $screen-size-486) {
                                            //    margin-bottom: ($default-box-spacing * $scale-margin-bottom-link * $scale-767);
                                            //}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                @media screen and (max-width: $screen-size-767) {
                    > li {
                        width: 50%;

                        &.ldgpg {
                            //float: right;
                            width: 100%;

                            > ul {
                                > li {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }

                @media screen and (max-width: $screen-size-486) {
                    > li {
                        width: 100%;

                        &.ldgpg {
                            //float: right;
                            width: 100%;

                            > ul {
                                > li {
                                    width: 100%;
                                }
                            }
                        }

                        &, &.ldgpg {
                            > ul {
                                > li {
                                    > a {
                                        display: inline-block;
                                        @include default-font(0.85);
                                        @include default-margin(0, 0, 0.5, 0);
                                    }

                                    &.company {
                                        > div {
                                            > a {
                                                i,
                                                span {
                                                    display: inline-block;
                                                    @include default-font(0.85);
                                                    @include default-margin(0, 0, 0.5, 0);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin transition($transition...) {
    @include transition-property($transition...);
}

@mixin transition-property($values...) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -o-transition: $values;
    -ms-transition: $values;
    transition: $values;
}

@mixin default-width-height($size: $default-line-height, $increment: 0) {
    $sizeIncrement: $size + (2 * $increment);
    width: $sizeIncrement;
    height: $sizeIncrement;

    @if $use-responsiveness {
        @media all and (max-width: $screen-size-1000) {
            width: $sizeIncrement * $scale-1000;
            height: $sizeIncrement * $scale-1000;
        }

        @media all and (max-width: $screen-size-767) {
            width: $sizeIncrement * $scale-767;
            height: $sizeIncrement * $scale-767;
        }

        @media all and (max-width: $screen-size-486) {
            width: $sizeIncrement * $scale-486;
            height: $sizeIncrement * $scale-486;
        }
    }
}

@mixin header-fixed($zindex: 90) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: $zindex;
}

@mixin flex-max-width() {
    //@include flex(1, 0, $screen-size-1400);
    max-width: $screen-size-1400;
    margin: 0 auto;

    @media all and (max-width: $screen-size-1400) {
        //@include flex(1, 0, $screen-size-1200);
        max-width: $screen-size-1200;
    }

    @media all and (max-width: $screen-size-1200) {
        //@include flex(1, 0,$screen-size-1000);
        max-width: $screen-size-1000;
    }

    @media all and (max-width: $screen-size-1000) {
        //@include flex(1, 0, 100%);
        max-width: 100%;
    }
}

// Always include in body
@mixin default-header {
    > header.desktop {
        $height: $header-height;
        $color: $header-color;

        @include transition(
                        background + " " + $header-translucent-speed + " " + ease-in-out,
                        color + " "  + $header-translucent-speed + " " + ease-in-out,
                        box-shadow + " "  + $header-translucent-speed + " " + ease-in-out);
        position: relative;
        box-shadow: 0 0 3px $header-box-shadow;
        user-select: none;
        // height: let the content size the header

        > div {
            @include transition(
                            background + " " + $header-translucent-speed + " " + ease-in-out,
                            color + " " + $header-translucent-speed + " " + ease-in-out,
                            box-shadow + " "  + $header-translucent-speed + " " + ease-in-out);
            background: $header-background;

            &.top {
                > div.meta {
                    @include flexbox();
                    @include flex(1, 0, auto);
                    @include flex-max-width();
                    @include flex-direction(row);
                    // height: let the content size the header
                    border: 0;
                    padding: 0;
                    position: relative;
                    padding-top: $header-logo-margin-top;
                    padding-bottom: $header-logo-margin-bottom;

                    > div {
                        @include flex(0, 0, auto);

                        &.logo {
                            @include flexbox();
                            @include flex-center();
                            @include default-padding(0, 0, 0, 1);

                            > a {
                                display: inline-block;

                                > img {
                                    // $header-logo-aspect-ratio
                                    $margin: 0;
                                    $size: $height - ($margin * 2);
                                    margin: $margin 0;
                                    height: $size;
                                    width: math.div($size, $header-logo-aspect-ratio);
                                    background: $header-logo;
                                    background-position: $header-logo-position;
                                    background-size: $header-logo-size;
                                    background-repeat: no-repeat;
                                }
                            }
                        }

                        &.menu {
                            @include default-padding(0, 1, 0, 0);
                            @include flex(1, 0, auto);

                            > div {
                                @include flexbox();
                                @include flex(1);
                                @include flex-direction(column);
                                height: 100%;
                                text-align: right;

                                > div {
                                    @include flexbox();
                                    @include flex(1);
                                    @include flex-direction(column);
                                    @include default-padding(0.25);

                                    a {
                                        text-decoration: none;
                                        color: $color;
                                    }

                                    &.nav-top {
                                        @include default-padding(0, 0, 0, 0);
                                        white-space: nowrap;
                                        justify-content: center;

                                        > ul {
                                            > li {
                                                list-style-type: none;
                                                white-space: nowrap;
                                                display: inline-block;
                                                @include default-padding(0, 0.25, 0, 0);

                                                &:last-child {
                                                    padding-right: 0;
                                                }

                                                > input {
                                                    background: none;
                                                    border: 0;
                                                    border-bottom: 1px $header-icon-color solid;
                                                    @include default-font();
                                                    outline: none;
                                                    color: $header-icon-color;

                                                    &::placeholder {
                                                        color: $header-icon-color;
                                                    }

                                                    &:focus::placeholder {
                                                        color: transparent;
                                                    }
                                                }

                                                &.icon {
                                                    > a {
                                                        $scale: 1.5;
                                                        @include inline-flex;
                                                        @include flex();
                                                        @include flex-center();
                                                        color: $header-icon-color;
                                                        border-radius: $header-icon-radius; //50%;
                                                        background-color: $header-icon-background;
                                                        @include default-width-height($default-line-height * $scale, 3px);

                                                        $header-icon-background-hover: lighten($header-icon-color, 10);
                                                        $header-icon-color-hover: white;

                                                        &:hover {
                                                            background: $header-icon-background-hover;
                                                            color: $header-icon-color-hover
                                                        }

                                                        > i {
                                                            display: inline-block;
                                                            @include default-font($scale);
                                                            @include default-padding(0.5);
                                                        }

                                                        &.fancyButton {
                                                            width: auto;
                                                        }
                                                    }
                                                }

                                                &.call, &.mail {
                                                }
                                            }
                                        }
                                    }

                                    &.nav-bottom {
                                        justify-content: flex-end;
                                        @include default-padding(0, 0, 0.5, 0);
                                        display: none;

                                        > nav {
                                            > ul {
                                                &.menu {
                                                    display: none;
                                                }

                                                white-space: nowrap;

                                                > li {
                                                    list-style-type: none;
                                                    white-space: nowrap;
                                                    display: inline-block;
                                                    position: relative;

                                                    @include default-padding(0, 0.5, 0, 0.5);

                                                    &:last-child {
                                                        padding-right: 0;
                                                    }

                                                    > ul {
                                                        display: none;
                                                    }

                                                    &:hover {
                                                        > ul {
                                                            position: absolute;
                                                            display: block;
                                                            @include default-padding(0.25, 0, 0, 0);
                                                            text-align: right;
                                                            right: 0;
                                                            background: white;
                                                            box-shadow: 2px 2px 2px #888;

                                                            > li {
                                                                display: block;
                                                                width: 100%;
                                                                text-align: right;

                                                                > a {
                                                                    display: block;
                                                                    @include default-padding(0.25, 0.5, 0.25, 0.5);

                                                                    > span {
                                                                        white-space: nowrap;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                    > a > span,
                                                    > ul > li > a > span {
                                                        font-size: $header-navigation-span-font-scale;

                                                        @media all and (max-width: $screen-size-1200) {
                                                            font-size: $header-navigation-span-font-scale-1200;
                                                        }

                                                        @media all and (max-width: $screen-size-1000) {
                                                            font-size: $header-navigation-span-font-scale-1000;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    @media all and (max-width: $screen-size-1000) {
                        > div {
                            &.menu {
                                > div {
                                    > div.nav-top {
                                        > ul {
                                            > li {
                                                //&.icon {
                                                //    > a {
                                                //        > i {
                                                //            @include default-font(1.125);
                                                //        }
                                                //    }
                                                //}
                                            }
                                        }
                                    }

                                    > div.nav-bottom {
                                        position: absolute;
                                        display: block;
                                        top: 78px;
                                        left: 0;
                                        right: 0;
                                        text-align: center;
                                        @include default-padding(0, 0.25, 0, 0.25);

                                        > nav {
                                            > ul {
                                                padding: 0;
                                                white-space: nowrap;
                                                overflow: hidden;

                                                > li {
                                                    @include default-padding(0, 0.575, 0, 0.575);

                                                    &:last-child {
                                                        padding-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.nav {
                background: $header-navigation-background;

                > div.navigation {
                    @include flexbox();
                    @include flex(1);
                    @include flex-direction(row);
                    @include max-width;
                    @include flex-center();
                    justify-content: flex-end;
                    height: $header-navigation-height;

                    > nav {
                        @include flexbox();
                        @include flex(1, 0, auto);
                        @include flex-direction(row);
                        @include default-max-width-column;
                        height: 100%;

                        > ul {
                            @include flexbox();
                            @include flex(1, 0, auto);
                            @include flex-direction(row);

                            &.menu {
                                display: none;
                            }

                            > li, li > ul > li {
                                @include default-font($header-navigation-font-scale);
                                font-family: $header-navigation-font-family;
                                font-weight: $header-navigation-font-weight;

                                @content;
                            }

                            white-space: nowrap;

                            > li {
                                @include flexbox();
                                @include flex(1, 0, auto);
                                @include flex-direction(row);
                                @include flex-center();
                                position: relative;
                                height: 100%;

                                list-style-type: none;
                                white-space: nowrap;

                                > a {
                                    @include flexbox();
                                    @include flex-center();
                                    align-self: center;

                                    > span.nav, > span.icon-down-dir {
                                        padding-left: 5px;
                                    }
                                }

                                &:last-child {
                                    padding-right: 0;
                                }

                                > ul {
                                    display: none;
                                }

                                &:hover {
                                    > ul {
                                        position: absolute;
                                        display: block;
                                        flex: auto;
                                        text-align: right;
                                        right: 0;
                                        left: 0;
                                        top: $header-navigation-height - 1;
                                        background: white;
                                        box-shadow: 2px 2px 2px #888;
                                        z-index: 1;

                                        > li {
                                            display: block;
                                            width: 100%;
                                            text-align: left;

                                            > a {
                                                display: block;
                                                @include default-padding(0.25, 0.5, 0.25, 0.5);

                                                > span {
                                                    white-space: nowrap;
                                                }
                                            }
                                        }
                                    }
                                }

                                > a > span,
                                > ul > li > a > span {
                                    font-size: $header-navigation-span-font-scale;

                                    @media all and (max-width: $screen-size-1200) {
                                        font-size: $header-navigation-span-font-scale-1200;
                                    }

                                    @media all and (max-width: $screen-size-1000) {
                                        font-size: $header-navigation-span-font-scale-1000;
                                    }
                                }
                            }
                        }

                        @if $header-navigation-align == "center" {

                        } @else if $header-navigation-align == "left" {
                            @include flex(0, 0, 0);
                            @include default-margin(0, auto, 0, 1);

                            > ul {
                                > li, li > ul > li {
                                    @include default-padding(0, 1, 0, 0);
                                }
                            }
                        } @else if $header-navigation-align == "right" {
                            @include flex(0, 0, 0);
                            @include default-margin(0, 1, 0, auto);

                            > ul {
                                > li, li > ul > li {
                                    @include default-padding(0, 0, 0, 1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.translucent {
        > header.desktop {
            @include header-fixed;
        }

        &.transparent {
            > header.desktop {
                background: transparent;
                box-shadow: none;
                height: $header-height;

                > div {
                    background: transparent;

                    &.nav {
                        background: transparent;
                    }

                    > div.meta {
                        > div.logo {
                            > a {
                                > img {
                                    background: $header-logo-translucent;
                                    background-position: 50%;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                        }

                        > div.menu {
                            > div {
                                > div {
                                    color: $header-translucent-color;

                                    a {
                                        color: $header-translucent-color;
                                        //text-shadow: $header-translucent-shadow;
                                    }

                                    &.nav-top {
                                        > ul {
                                            > li {
                                                > input {
                                                    color: $header-translucent-color;
                                                    border-bottom: 1px solid white;
                                                    //text-shadow: $header-translucent-shadow;

                                                    &::placeholder {
                                                        color: $header-translucent-color;
                                                    }
                                                }

                                                &.icon {
                                                    > a {
                                                        > i {
                                                            color: $header-translucent-color;
                                                        }
                                                    }
                                                }

                                                //&.call, &.mail {
                                                //    > a {
                                                //        box-shadow: $header-translucent-shadow;
                                                //    }
                                                //}
                                            }
                                        }
                                    }

                                    //&.nav-bottom {
                                    //    > nav {
                                    //        > ul {
                                    //            > li {
                                    //                &:hover {
                                    //
                                    //                    background: $header-translucent-dropdown-background;
                                    //
                                    //                    > ul {
                                    //                        background: $header-translucent-dropdown-background;
                                    //                        box-shadow: none;
                                    //                    }
                                    //                }
                                    //            }
                                    //        }
                                    //    }
                                    //}
                                }
                            }
                        }
                    }

                    > div.navigation {
                        > nav {
                            > ul {
                                > li {
                                    a {
                                        color: $header-translucent-color;
                                    }

                                    > ul {
                                        background: $header-translucent-hover-background;


                                        > li {
                                            > a {
                                                color: $header-translucent-hover-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > header.mobile {
        display: none;
        height: auto;
        position: relative;
        z-index: 2;

        > div {
            > #navMenu {
                background: $header-mobile-background;
                color: $header-mobile-color;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0;
                height: $header-mobile-height;

                @include transition(
                                background-color + " " + $header-translucent-speed + " " + ease-in-out,
                );

                margin: 0;
                line-height: 1em;

                @include flexbox();
                @include flex(1);
                @include flex-direction(row);

                > a {
                    @include flexbox();
                    @include flex(0);
                    @include flex-direction(row);
                    @include default-padding-top(0.25);

                    > i {
                        color: $header-mobile-color;
                        font-size: $header-mobile-font-height;
                    }

                    &.menu {
                        @include flex(0)
                    }

                    &.logo {
                        @include flex(1);

                        @if variable-exists(header-mobile-image-background) {
                            background: $header-mobile-image-background;
                            @if variable-exists(header-mobile-image-background-size) {
                                background-size: $header-mobile-image-background-size;
                            }
                        }

                        > img {
                            max-width: 100%;
                            width: auto;
                            height: $header-mobile-font-height;
                            object-fit: contain;
                        }
                    }

                    &.call, &.mail, &.search {
                        @if variable-exists(header-mobile-icon-size) {
                            @include flex-center();
                            height: 100%;
                            padding: 0;
                            > i {
                                @include inline-flex();
                                //flex: auto;
                                @include flex-center();
                                align-self: initial;
                                border-radius: 50%;
                                font-size: $header-mobile-icon-size;
                                line-height: $header-mobile-icon-size;
                                width: 32px;
                                height: 32px;
                                padding-top: 0;
                                margin-left: 0;
                                margin-right: 5px;
                                padding-left: 0;

                                color: $header-mobile-icon-color;
                                background-color: $header-mobile-icon-background-color;

                                &:hover {
                                    color: $header-mobile-icon-hover-color;
                                    background-color: $header-mobile-icon-hover-background;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media all and (max-width: $screen-size-767) {
            display: block;
        }
    }

    &.translucent {
        > header.mobile {
            height: auto;
        }
    }

    @media all and (max-width: $screen-size-767) {
        &, &.translucent {
            > header.desktop {
                display: none;
                position: absolute;
                top: $header-mobile-height;
                left: 0;
                right: 0;
                bottom: 0;
                height: 0;
                z-index: 9;

                @include transition(
                                height + " " + $header-translucent-speed * 1 + " " + ease-in-out,
                );
            }

            &.toggleMenu {
                > header.desktop {
                    display: block;
                    overflow-y: scroll;
                    height: inherit;

                    @include transition(
                                    height + " " + $header-translucent-speed * 5 + " " + ease-in-out,
                    );

                    > div {
                        &.top {
                            display: none;
                        }

                        &.nav {
                            > div.navigation {
                                > nav {
                                    display: block;
                                    flex: auto;
                                    max-width: 100%;

                                    > ul {
                                        display: block;
                                        flex: auto;
                                        background: black;

                                        > li, > li:hover {
                                            &, & > ul > li {
                                                display: block;
                                                flex: auto;
                                                margin: 0;
                                                border: 0;
                                                padding: 0;
                                                white-space: nowrap;
                                                background: $header-mobile-navigation-level1-background;

                                                > a {
                                                    @include flexbox();
                                                    @include flex(1, 0, auto);
                                                    @include default-font($header-mobile-navigation-level1-border-font-scale);
                                                    padding: 0;
                                                    border-bottom: $header-mobile-navigation-level1-border-bottom;
                                                    color: $header-mobile-navigation-level1-color;

                                                    > span {
                                                        @include flexbox();
                                                        @include flex(1, 0, auto);
                                                        @include default-padding(0.5, 1);

                                                        &.nav {
                                                            @include flex(0, 0, auto);
                                                        }
                                                    }
                                                }
                                            }

                                            > ul {
                                                position: initial;
                                                display: none;
                                                flex: auto;

                                                border: none;
                                                box-shadow: none;

                                                &.show {
                                                    display: block;
                                                }

                                                > li {
                                                    background: $header-mobile-navigation-level2-background;
                                                    color: $header-mobile-navigation-level2-color;

                                                    > a {
                                                        color: $header-mobile-navigation-level2-color;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                > header.mobile {
                    > div {
                        > div#navMenu {
                            background: $header-mobile-navigation-level1-background;
                        }
                    }
                }

                overflow: hidden;
            }
        }


        padding-top: 0;
    }
}

$slide-in-navigation-font-scale: 0.9 !default;
$slide-in-navigation-background: #444444 !default;
$slide-in-navigation-background-blur: 15px !default;
$slide-in-navigation-item1-color: white !default;
$slide-in-navigation-item1-background: #444444 !default;
$slide-in-navigation-item1-background-hover: darken(#444444, 5) !default;
$slide-in-navigation-item1-selected-color: white !default;
$slide-in-navigation-item1-selected-background: red !default;
$slide-in-navigation-item2-color: white !default;
$slide-in-navigation-item2-background: darken(#444444, 10) !default;
$slide-in-navigation-item2-background-hover: darken(#444444, 15) !default;
$slide-in-navigation-item2-selected-color: $slide-in-navigation-item1-selected-color !default;
$slide-in-navigation-item2-selected-background: $slide-in-navigation-item1-selected-background !default;
$slide-in-navigation-item3-color: white !default;
$slide-in-navigation-item3-background: darken(#444444, 20) !default;
$slide-in-navigation-item3-background-hover: darken(#444444, 25) !default;
$slide-in-navigation-item3-selected-color: $slide-in-navigation-item2-selected-color !default;
$slide-in-navigation-item3-selected-background: $slide-in-navigation-item2-selected-background !default;

// body > div.slide-in-menu > nav > ul > li:nth-child(1) > a > span
@mixin slide-in-navigation ($position: left) {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    opacity: 0.95;
    z-index: 99;
    @include user-select-none;

    background: $slide-in-navigation-background;
    -webkit-backdrop-filter: blur($slide-in-navigation-background-blur);
    backdrop-filter: blur($slide-in-navigation-background-blur);

    overflow-x: hidden;
    overflow-y: auto;

    > nav {
        > ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            white-space: nowrap;

            li {
                list-style-type: none;
                white-space: nowrap;
                display: block;
                position: relative;
                width: 100%;

                @include default-font($slide-in-navigation-font-scale);

                > a {
                    @include flexbox();
                    @include flex(1, 0, auto);
                    @include flex-direction(row);
                    @include flex-center();
                    justify-content: left;
                    overflow-x: hidden;
                    white-space: nowrap;

                    > span {
                        @include flexbox();
                        @include flex(1, 0, auto);
                        @include flex-direction(row);
                        overflow-x: hidden;
                        text-overflow: ellipsis;

                        &.icons {
                            @include flex(0, 0, auto);
                            padding: 3px 10px 3px 10px;
                        }
                    }
                }

                > ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    white-space: nowrap;
                }
            }

            > li {
                &, &.parent {
                    display: block;
                    background: $slide-in-navigation-item1-background;

                    &:hover {
                        background: $slide-in-navigation-item1-background-hover;
                    }

                    &.selected, &.selected:hover {
                        color: $slide-in-navigation-item1-selected-color;
                        background: $slide-in-navigation-item1-selected-background;
                    }

                    > a {
                        color: $slide-in-navigation-item1-color;
                        @include default-padding(0.5, 0, 0.5, 1);
                    }

                    > ul {
                        height: 0;
                        overflow: hidden;
                        &.show { height: auto; }

                        > li {
                            &, &.parent {
                                background: $slide-in-navigation-item2-background;

                                &:hover {
                                    background: $slide-in-navigation-item2-background-hover;
                                }

                                &.selected, &.selected:hover {
                                    color: $slide-in-navigation-item2-selected-color;
                                    background: $slide-in-navigation-item2-selected-background;
                                }

                                > a {
                                    color: $slide-in-navigation-item2-color;
                                    @include default-padding(0.5, 0, 0.5, 2);
                                }
                            }

                            > ul {
                                height: 0;
                                overflow: hidden;
                                &.show {
                                    height: auto;
                                }
                                > li {
                                    &, &.parent {
                                        background: $slide-in-navigation-item3-background;

                                        &:hover {
                                            background: $slide-in-navigation-item3-background-hover;
                                        }

                                        &.selected, &.selected:hover {
                                            color: $slide-in-navigation-item2-selected-color;
                                            background: $slide-in-navigation-item2-selected-background;
                                        }

                                        > a {
                                            color: $slide-in-navigation-item3-color;
                                            @include default-padding(0.5, 0, 0.5, 3);
                                        }
                                    }

                                    > ul {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    width: 350px;

    @if $position == right {
        right: 0;
        margin-right: -350px;

        > nav {
            > ul {
                > li.close {
                    > a {
                        flex-direction: row-reverse;

                        > span.icons {
                            padding: 3px 10px 3px 0;
                        }
                    }
                }
            }
        }

        @media all and (max-width: $screen-size-767) {
            width: 300px;
            margin-right: -300px;
        }

        @media all and (max-width: $screen-size-486) {
            width: 250px;
            margin-right: -250px;
        }
    }
    @if $position != right {
        left: 0;
        margin-left: -350px;

        @media all and (max-width: $screen-size-767) {
            width: 300px;
            margin-left: -300px;
        }

        @media all and (max-width: $screen-size-486) {
            width: 250px;
            margin-left: -250px;
        }
    }

    @include transition(
                    margin-left + " " + 250ms + " " + ease-in-out,
                    margin-right + " " + 250ms + " " + ease-in-out,
    )
}

// Assign to ul, ol?
@mixin boxes {
    @include flexbox();
    @include flex();
    @include flex-wrap(wrap);
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    list-style-type: none;

    > li {
        @include flexbox();
        @include flex();
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 0;
        line-height: 0;
        vertical-align: top;
        list-style-type: none;

        > div {
            display: block;
            flex: auto;
            @include default-padding(0, .5, .5, .5);

            > div {
                display: block;
                flex: initial;
                margin: 0;
                @include default-padding(.5, 1);
                background-color: #fff;

                h2 {
                    text-align: center;
                }

                @content;
            }
        }
    }

    &.columns1 > li {
        max-width: $columns1;
        width: $columns1;
    }

    &.columns2 > li {
        max-width: $columns2;
        width: $columns2;

        // Example on selective width
        body:not(.toggleMenu) & {
            @media all and (max-width: $screen-size-1000) {
                width: $columns1;
                max-width: $columns1;
            }
        }

        body.toggleMenu & {
            // width: $columns1;
            @media all and (max-width: $screen-size-767) {
                max-width: $columns1;
                width: $columns1;
            }
        }
    }

    &.columns3 > li {
        max-width: $columns3;
        width: $columns3;

        @media all and (max-width: $screen-size-767) {
            max-width: $columns2;
            width: $columns2;
        }

        @media all and (max-width: $screen-size-486) {
            max-width: $columns1;
            width: $columns1;
        }
    }

    &.columns4 > li {
        max-width: $columns4;
        width: $columns4;

        @media all and (max-width: $screen-size-767) {
            max-width: $columns2;
            width: $columns2;
        }

        @media all and (max-width: $screen-size-486) {
            max-width: $columns1;
            width: $columns1;
        }
    }

    &.columns5 > li {
        max-width: $columns5;
        width: $columns5;

        @media all and (max-width: $screen-size-1000) {
            max-width: $columns3;
            width: $columns3;
        }

        @media all and (max-width: $screen-size-767) {
            max-width: $columns2;
            width: $columns2;
        }

        @media all and (max-width: $screen-size-486) {
            max-width: $columns1;
            width: $columns1;
        }
    }
}

@mixin section-template-image-grid {
    > div {
        @include max-width();
        margin: 0 auto;
        padding: 0;

        > div {
            margin: 0;
            padding: 0;

            > div {
                &.grid {
                    > li {
                        display: inline-block;
                        width: percentage(math.div(1, 3));
                        margin: 0;
                        padding: 0;


                        > a {
                            display: block;
                            @include default-margin(0, 1, 0, 1);

                            > div.image {
                                background-position: 50%;
                                background-repeat: no-repeat;
                                background-size: cover;

                                > div {
                                    padding-top: $section-template-image-grid-aspect-ratio-percentage;
                                }
                            }

                            > span {
                                display: block;
                                @include default-padding(0.5, 0, 0.5, 0);
                                @include default-font();
                                text-align: center;
                                color: $section-template-image-grid-color;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }

                    @media all and (max-width: $screen-size-767) {
                        > li {
                            width: percentage(math.div(1, 2));
                        }
                    }
                }
            }
        }
    }
}

@mixin section-template-header {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    > div {
        @include max-width();
        @include flexbox();
        @include flex();
        @include flex-direction(column);
        @include default-padding(1);

        min-height: 300px;
        text-shadow: 0 0 4px #888;

        > h1 {
            @include flexbox();
            @include flex(1);
            @include default-margin-bottom(1);
            @include default-font(2);
            justify-content: center;
            align-items: center;

            text-align: center;
            color: white;
        }

        > div,
        > p {
            @include flexbox();
            @include flex(1);
            @include default-margin-bottom(0.5);
            @include default-font(1);
            align-items: center;
            justify-content: center;

            text-align: center;
            color: white;

            > ul {
                display: block;
                flex: auto;
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

@mixin section-template-heading-h1 {
    > div {
        @include default-max-width-column();

        > div {
            @include flexbox();
            @include flex();
            @include flex-direction(row);
            @include default-margin(0, 1, 0.5, 1);
            @include default-padding(0);
            @include flex-center();

            > h1 {
            }
        }
    }
}

@mixin section-template-home-slider {
    background: black;
    position: relative;
    z-index: 0;

    margin: 0;

    div.slider-item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        z-index: 0;
        height: $section-template-home-slider-height;

        > div.container {
            @include flexbox();
            @include flex(1, 0, auto);
            @include flex-direction(column);
            height: 100%;

            > a {
                @include flexbox();
                @include flex(1, 0, 100%);
                @include flex-direction(column);
                //@include flex-center;
                min-width: 100%;

                > h1, > h2 {
                    @include flexbox();
                    @include flex(1, 0, auto);
                    @include flex-direction(column);
                    @include flex-center;

                    @include default-font(2);
                    min-width: 100%;
                    color: white;
                    font-family: $section-template-home-slider-heading-font-family;
                    font-weight: $section-template-home-slider-heading-font-weight;
                    text-shadow: 0 0 5px $section-template-home-slider-heading-text-shadow;

                    justify-content: flex-end;
                    @include default-padding-bottom(1.5);
                }
            }
        }
    }

    div.owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @include default-margin-bottom(0.5);
    }

    .owl-theme {
        .owl-dots {
            span {
                background: $section-home-slider-dots-color;
                box-shadow: 0 0 2px darken($section-home-slider-dots-color, 50);
            }

            .owl-dot {
                &.active {
                    span {
                        background: $section-home-slider-dots-color-active;
                    }
                }

                &:hover {
                    span {
                        background: $section-home-slider-dots-color-hover;
                    }
                }
            }
        }
    }

    @media all and (max-width: $screen-size-1000) {
        div.slider-item {
            height: $section-template-home-slider-height * 0.85;
        }
    }
    @media all and (max-width: $screen-size-767) {
        div.slider-item {
            height: $section-template-home-slider-height * 0.65;
        }
    }
}

@mixin section-maps {
    font-size: 0;
    line-height: 0;
    margin: 0;
    border: 0;
    padding: 0;

    > div {
        height: $section-maps-height;
    }

    &.openstreetmaps {

    }
}

@mixin section-two-columns {
    background: $section-item-background-darker;
    @include default-margin-bottom(.5);

    > div {
        @include max-width();
        padding: 0;

        > div {
            @include flexbox();
            @include flex();
            @include flex-direction(row);
            @include default-margin(0, 1);
            @include default-padding(0);

            > div, > a {
                @include flexbox();
                @include flex(5, 0, 0);
                @include flex-direction(row);
                margin: 0;
                min-height: $section-two-columns-min-height;

                &.text {
                    > div {
                        display: block;
                        flex: auto;
                        @include default-padding(1);
                        @include default-text($h1-font-scale: 1.5, $h2-font-scale: 1.5, $h3-font-scale: 1.25);
                        margin: 0;

                        > h2, > h3 {
                        }

                        > p {
                            @include default-font();

                            &:first-child {
                                margin-top: 0;
                                padding-top: 0;
                            }
                        }

                        > p.price {
                            border-top: 3px $pebbles-color-green solid;
                            color: $pebbles-color-green;
                        }

                        > h3 {
                            //@include default-font(2);v
                        }
                    }

                }

                &.image {
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    //@include default-margin(0, 1, 1, 1);
                    margin: 0;

                    > div {
                        padding-top: 60%;

                        &.label {
                            position: absolute;
                            left: 0;
                            top: 0;
                            @include default-margin();
                            color: $pebbles-color-purple;
                            background: white;
                            @include default-padding(0.25);

                            > div {
                                @include default-font(1.25);
                                @include default-font-max-height-by-lines(2, 1.25);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: normal;
                            }
                        }

                        &.price {
                            padding-top: 0;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            @include default-margin();
                            color: $pebbles-color-green;
                            background: white;
                            @include default-padding(0.25);
                            @include default-font(1);
                        }
                    }
                }

                &.video {
                    background-color: black;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    padding: 0;
                    @include flex-center();

                    > img {
                        width: 75px;
                        height: auto;
                    }

                    > iframe {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        height: 100%;
                    }
                }

                > div {
                    @include default-margin(0.5);
                    @include flexbox();
                    @include flex();
                    @include flex-direction(column);

                    > div {
                        @include default-padding(0.5);
                        @include default-font();
                        @include flexbox();
                        @include flex();
                        @include flex-direction(column);

                        color: lighten($pebbles-color, 70);

                        &.highlight {
                            @include flex(2);
                            @include default-margin(0.5);
                            background-color: lighten($pebbles-color, 10);

                            > p.heading {
                                @include default-font(1.5);
                            }

                            > p:first-child {
                                margin-top: 0;
                                padding-top: 0;
                            }
                        }

                        &.icon {
                            @include flex(0, 0, 100%);

                            > img {
                                width: 40px;
                                height: auto;
                            }
                        }

                        &.review {
                            @include flex(1, 0, 0);

                            > p:first-child {
                                margin-top: 0;
                                padding-top: 0;
                            }
                        }

                        > p {
                            text-align: center;
                        }
                    }
                }
            }
        }

        @media all and (max-width: $screen-size-767) {
            > div {
                padding: 0;
                margin-left: 0;
                margin-right: 0;
                display: block;
                flex: auto;

                > div, > a {
                    &.image {
                        margin: 0;
                    }

                    &.text {
                        min-height: auto;
                    }
                }
            }
        }
    }
}

@mixin section-breadcrumbs {
    > div {
        @include default-max-width-column();
        > div {
            @include default-margin(0.25, 1);

            > ul {
                display: table-cell;
                list-style-type: none;
                margin: 0;
                padding: 0;

                > li {
                    display: inline-block;
                    @include default-font(0.85);

                    &::before {
                        content: "»";
                        color: $section-breadcrumbs-color;
                        @include default-margin(0, 0.25, 0, 0.25);
                    }

                    &:first-child::before {
                        @include default-margin(0, 0.25, 0, 0);
                    }

                    > a {
                        &, &:hover, &:active, &:visited, &:focus {
                            color: $section-breadcrumbs-color;
                            font-style: normal;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@mixin section-cookie-settings {
    > div {
        @include default-max-width-column;

        > div {
            @include default-margin(0, 1);
        }
    }
}

@mixin section-article {
    > div {
        @include default-max-width-column();

        > div {
            @include default-margin(0.25, 1);

            > h1, > h2 {
                @include default-margin(0, 0, 0.5, 0);
                @include default-font($default-heading-font-scale);
                text-align: center;
                padding: 0;
                color: $default-heading-color;
            }

            @include default-text();

            > div.related-nodes {
                > ul {
                    color: $pebbles-color-purple;

                    > li {
                        @include default-font();
                    }
                }
            }
        }
    }
}

@mixin section-template-general-text {
    > div {
        @include default-max-width-column;
        @include default-margin-bottom();

        > div {
            @include default-margin(0, 1);

            > div.heading {
                @include default-margin(0, 0, 0.5, 0);
                padding: 0;

                > h1, > h2 {
                    @include default-font($default-heading-font-scale);
                    text-align: center;
                    margin: 0;
                    color: $default-heading-color;
                }
            }

            > div.body.default-text {
                @include default-text();
                padding: 0;
            }
        }
    }
}

@mixin section-padding-top {
    > div {
        @include default-padding(1, 0, 0, 0);
    }
}

@mixin section-template-boxes {
    > div {
        @include max-width();
        //@include default-margin-bottom();

        > div {
            > ul {
                > li {
                    > div {
                        > div {
                            height: 100%;

                            > a {
                                > div {
                                    &.image {
                                        @include default-margin(-0.5, -1, 0.5, -1);
                                        position: relative;
                                        background-position: 50%;
                                        background-repeat: no-repeat;
                                        background-size: cover;

                                        > div {
                                            padding-top: percentage(math.div(8, 16));
                                        }
                                    }

                                    &.text {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin section-template-title {
    > div {
        @include max-width();
        @include default-padding(0, 0.5, 0.5, 0.5);

        > h2 {
            @include default-font(1.5);
            text-align: center;
        }
    }
}

@mixin default-max-width-column($width: $default-max-width-column) {
    // Default
    margin: 0 auto;
    width: $width;

    // If width > $screen-size-1400
    @if $width > $screen-size-1400 {
        @media all and (min-width: $screen-size-1400) and (max-width: $width) {
            width: 100%;
        }
    }

    // max $screen-size-1400
    @media all and (min-width: $screen-size-1200) and (max-width: $screen-size-1400) {
        @if $width < $screen-size-1400 {
            width: $width;
        } @else {
            width: 100%;
        }
    }

    // If width > $screen-$screen-size-1200
    @if $width > $screen-size-1200 and $width < $screen-size-1400 {
        @media all and (min-width: $screen-size-1200) and (max-width: $screen-size-1400) {
            width: 100%;
        }
    }

    // max $screen-size-1200
    @media all and (min-width: $screen-size-1000) and (max-width: $screen-size-1200) {
        @if $width < $screen-size-1200 {
            width: $width;
        } @else {
            width: 100%;
        }
    }

    // If width > $screen-size-1000
    @if $width > $screen-size-1000 and $width < $screen-size-1200 {
        @media all and (min-width: $screen-size-1000) and (max-width: $screen-size-1200) {
            width: 100%;
        }
    }

    // max $screen-size-1000
    @media all and (min-width: $screen-size-767) and (max-width: $screen-size-1000) {
        @if $width < $screen-size-1000 {
            width: $width;
        } @else {
            width: 100%;
        }
    }

    // If width > $screen-size-767
    @if $width > $screen-size-767 and $width < $screen-size-1000 {
        @media all and (min-width: $screen-size-767) and (max-width: $width) {
            width: 100%;
        }
    }

    // max $screen-size-767
    @media all and (min-width: $screen-size-486) and (max-width: $screen-size-767) {
        @if $width < $screen-size-767 {
            width: $width;
        } @else {
            width: 100%;
        }
    }

    @media all and (max-width: $screen-size-486) {
        width: 100%;
    }
}
