// section-editor
ul.autoload.section-editor, ul.form.section-editor {
    $section-highlight-color: $color-highlight;
    $section-border: 1px dashed $section-highlight-color;
    @include user-select-none();

    > li.section-container {
        border-bottom: 0;
        padding: $form-element-padding;

        > div {
            display: block;
            width: 100%;

            > div {
                &.section-header {
                    @include flexbox();
                    @include flex(1, 0, auto);
                    @include flex-direction(row);
                    border: $section-border;
                    border-bottom: none;
                    border-left: none;

                    > label {
                        @include flex(0, 0, auto);
                        background-color: $section-highlight-color;
                        color: white;
                        display: inline-block;
                        margin: 0 0 0 $form-element-margin;
                        padding: $form-element-padding;
                        @include default-font(0.85);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    > div {
                        @include flex(1, 0, auto);
                    }

                    > i {
                        @include flex(0, 0, 0);
                        @include justify-content(flex-end);
                    }
                }

                &.section-box {
                    margin: 0 $form-element-margin $form-element-margin $form-element-margin;
                    border: $section-border;
                    border-top: none;
                    padding: $form-element-padding;

                    > form.editor {
                        > div.no-editor {
                            @include default-font(0.85);
                            color: $section-highlight-color;
                            text-align: left;
                        }

                        > ul.form {
                            > li.section-container {

                            }
                        }
                    }
                }
            }
        }
    }
}