// Default settings for all template parts
@use 'sass:math';
@import 'form-default';

$use-responsiveness: true !default;

$default-font-scale: 1 !default;
$default-heading-font-scale: 1.2 !default;
$default-heading-h2-font-scale: $default-heading-font-scale !default;
$default-heading-h3-font-scale: $default-heading-font-scale !default;

$body-background: white !default;
$body-font-family: 'Lato', sans-serif !default;
$body-font-weight: 400 !default;
$body-heading-font-family: 'Oswald', sans-serif !default;
$body-heading-font-weight: 600 !default;
$body-color: #444 !default;
$body-link-color: #ce7819 !default;

$partial-header-background-color: $body-background !default;
$partial-header-navigation-background-color: #444549 !default;
$partial-header-navigation-itemlist-font-size-scale: $default-heading-font-scale !default;
$partial-header-navigation-itemlist-font-family: $body-heading-font-family !default;
$partial-header-navigation-itemlist-font-weight: $body-heading-font-weight !default;
$partial-header-navigation-itemlist-color: white !default;
$partial-header-navigation-itemlist-background: $partial-header-navigation-background-color !default;
$partial-header-navigation-itemlist-background-selected: #58ade7 !default;
$partial-header-navigation-itemlist-background-hover: lighten($partial-header-navigation-background-color, 10) !default;
$partial-header-navigation-itemlist-seperater-background: lighten($partial-header-navigation-background-color, 5) !default;
$partial-header-mobile-logo-height: 24px !default;
$partial-header-background-logo-height: 75px !default;
$partial-header-background-logo-padding-top-bottom-scale: 2 !default;

$footer-background-color: darken($partial-header-navigation-background-color, 10) !default;
$footer-title-font-scale: 1 !default;
$footer-font-scale: 0.8 !default;
$footer-color: white !default;
$footer-title-border-bottom: none !default;

$section-slider-full-width-caption-color: black !default;
$section-slider-full-width-height-ratio: percentage(math.div(500,2000)) !default;
$section-slider-full-width-label-scale: 2 !default;

$section-bookshelf-icon-font-scale: 2.5 !default;
$section-bookshelf-title-font-scale: $default-heading-font-scale !default;
$section-bookshelf-background-darkest: #58ade7 !default;

@mixin set-font() {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
}

@mixin set-font-title() {
    font-family: $body-heading-font-family;
    font-weight: $body-heading-font-weight;
}

